{% macro galleryPost(img, caption, dateText) %}
	<div class="gallery-post">
		<a href="#" class="gallery-post__wrap-img">
			<picture>
				<source srcset="img/{{ img }}.webp" type="image/webp">
				<source srcset="img/{{ img }}.jpg" type="image/jpeg">
				<img src="img/{{ img }}.jpg" alt="">
			</picture>
		</a>
		<div class="gallery-post__wrap-text">
			<a href="#" class="teg-category"><span>Национальные проекты</span></a>
			<a href="#" class="teg-category"><span>Образование</span></a>
			<div class="gallery-post__row-title">
				<a href="#">
					<h4>{{ caption }}</h4>
				</a>
			</div>	
			<span>{{ dateText }}</span>
		</div>
	</div>
{% endmacro %}

{% macro itemCategory(text, id) %}
	<li class="topic-block__item" id="{{ id }}">
		<label class="check-row">
			<input type="checkbox">
			<div class="check-row__wrap">
				<span class="check-row__square"></span>
				<span class="check-row__text">{{ text }}</span>
			</div>
		</label>
	</li>
{% endmacro %}

{% macro itemSites(text, id) %}
	<li class="sites-modal__item" data-sites="{{ id }}">
		<label class="check-row">
			<input type="checkbox">
			<div class="check-row__wrap">
				<span class="check-row__square"></span>
				<span class="check-row__text">{{ text }}</span>
			</div>
		</label>
	</li>
{% endmacro %}

{% macro sitesItem(caption, text) %}
	<a href="#" class="sites-block__item">
		<span class="sites-block__caption">{{ caption }}</span>
		<span class="sites-block__row">
			<span class="sites-block__text">{{ text }}</span>
			<svg>
				<use xlink:href="img/sprite.svg#svg--go-to">
			</svg>
		</span>
	</a>
{% endmacro %}

{% macro newsPost() %}
	<div class="news-post">
		<div class="news-post__wrapper">
			<div class="news-post__row">
				<span class="info-text date">05 марта 2021, 10:24</span>
				<a href="#" class="topic-item topic-item--change">
					<div class="topic-item__wrapper">
						<span class="topic-item__text">Национальные проекты</span>
					</div>
				</a>
				<a href="#" class="topic-item topic-item--change">
					<div class="topic-item__wrapper">
						<span class="topic-item__text">Образование</span>
					</div>
				</a>
			</div>
			<a href="#" class="news-post__wrap-img">
				<picture>
					<source srcset="img/news-post1.webp" type="image/webp">
					<source srcset="img/news-post1.jpg" type="image/jpeg">
					<img src="img/news-post1.jpg" alt="">
				</picture>
			</a>
			<a href="#" class="news-post__wrap-text">				
				<h3>В пяти пригородных школах Краснодара работают «Точки роста»</h3>
				<p>Инновационные центры цифрового и гуманитарного образования «Точки роста» созданы в рамках национального проекта «Образование» на базе школ, расположенных в пригородных населенных пунктах краевой столицы. Сейчас такие кабинеты работают в школах № 61, 68, 74, 77, 85 Краснодара — это более 6 тыс. детей. Планируется, что в 2021 году центры заработают еще в нескольких общеобразовательных учреждениях города.</p>
			</a>
		</div>
	</div>
{% endmacro %}

{% macro humanPostMd(img, caption, text, nameTab) %}
	<a href="#" class="human-post human-post--md">
		<div class="human-post__wrap-img">
			<picture>
				<source srcset="img/{{ img }}.webp" type="image/webp">
				<source srcset="img/{{ img }}.jpg" type="image/jpeg">
				<img src="img/{{ img }}.jpg" alt="">
			</picture>
		</div>
		<div class="human-post__wrap-text">
			<h3>{{ caption }}</h3>
			<p>{{ text }}</p>
			<button class="btn-white arrow-animate" data-namebtn="{{ nameTab }}">
				<span class="btn-white__text">Курируемые направления</span>
				<span class="btn-white__text text-change">Закрыть</span>
				<span class="close"></span>
			</button>
		</div>
	</a>
{% endmacro %}

{% macro humanPostSm(img, caption, text) %}
	<a href="#" class="human-post human-post--sm">
		<div class="human-post__wrap-img">
			<picture>
				<source srcset="img/{{ img }}.webp" type="image/webp">
				<source srcset="img/{{ img }}.jpg" type="image/jpeg">
				<img src="img/{{ img }}.jpg" alt="">
			</picture>
		</div>
		<div class="human-post__wrap-text">
			<h3>{{ caption }}</h3>
			<p>{{ text }}</p>
		</div>
	</a>
{% endmacro %}

{% macro humanList(nameTab) %}
	<div class="human-list " >
		<div class="human-list__wrapper animate-hate list-accordeon" data-namelist="{{ nameTab }}">
			<div class="human-list__grid">
				<a href="#" class="human-post human-post--sm">
					<div class="human-post__wrap-img">
						<picture>
							<source srcset="img/human-sm1.webp" type="image/webp">
							<source srcset="img/human-sm1.jpg" type="image/jpeg">
							<img src="img/human-sm1.jpg" alt="">
						</picture>
					</div>
					<div class="human-post__wrap-text">
						<h3>Белый Владислав Владимирович</h3>
						<p>Директор департамента городского хозяйства и топливно-энергетического комплекса</p>
					</div>
				</a>
				<a href="#" class="human-post human-post--sm">
					<div class="human-post__wrap-img">
						<picture>
							<source srcset="img/human-sm2.webp" type="image/webp">
							<source srcset="img/human-sm2.jpg" type="image/jpeg">
							<img src="img/human-sm2.jpg" alt="">
						</picture>
					</div>
					<div class="human-post__wrap-text">
						<h3>Бурлаков Сергей Александрович</h3>
						<p>Начальник управления сельского хозяйства</p>
					</div>
				</a>
				<a href="#" class="human-post human-post--sm">
					<div class="human-post__wrap-img">
						<picture>
							<source srcset="img/human-sm3.webp" type="image/webp">
							<source srcset="img/human-sm3.jpg" type="image/jpeg">
							<img src="img/human-sm3.jpg" alt="">
						</picture>
					</div>
					<div class="human-post__wrap-text">
						<h3>Казликин Виталий Александрович</h3>
						<p>Начальник управления гражданской защиты</p>
					</div>
				</a>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro lgSlide(img) %}
	<div class="slider-gallery__slide swiper-slide">
		<picture>
			<source srcset="img/{{ img }}.webp" type="image/webp">
			<source srcset="img/{{ img }}.jpg" type="image/jpeg">
			<img src="img/{{ img }}.jpg" alt="">
		</picture>
	</div>
{% endmacro %}

{% macro smSlide(img) %}
	<div class="slider-sm-galery__slide swiper-slide">
		<picture>
			<source srcset="img/{{ img }}.webp" type="image/webp">
			<source srcset="img/{{ img }}.jpg" type="image/jpeg">
			<img src="img/{{ img }}.jpg" alt="">
		</picture>
	</div>
{% endmacro %}


{% macro smRowHuman(caption, text) %}
	<a href="#" class="human-row-sm">
		<div class="human-row-sm__wrap-img">
			<picture>
				<source srcset="img/blockquote-img1.webp" type="image/webp">
				<source srcset="img/blockquote-img1.png" type="image/png">
				<img src="img/blockquote-img1.png" alt="">
			</picture>
		</div>
		<span class="human-row-sm__wrap-text">
			<h4>{{ caption }}</h4>
			<p>{{ text }}</p>
		</span>
	</a>
{% endmacro %}

{% macro smRowHumanTwo(caption, text) %}
	<div class="human-row-sm">
		<div class="human-row-sm__wrap-img">
			<picture>
				<source srcset="img/blockquote-img1.webp" type="image/webp">
				<source srcset="img/blockquote-img1.png" type="image/png">
				<img src="img/blockquote-img1.png" alt="">
			</picture>
		</div>
		<span class="human-row-sm__wrap-text">
			<h4>{{ caption }}</h4>
			<p>{{ text }}</p>
		</span>
	</div>
{% endmacro %}

{% macro fieldText(description, important, placeholder, dataAtr) %}
	<div class="wrap-field">
		<label>
			<span class="wrap-field__description">{{ description }}<span class="red">{{ important }}</span>:</span>
			<span class="error-text">Ошибка: заполните поле</span>
			<input type="text" class="wrap-field__field" placeholder="{{ placeholder }}" {{ dataAtr }}>
		</label>
	</div>
{% endmacro %}

{% macro popularBlock(caption) %}
	<a href="#" class="post-popular-block">
		<div class="post-popular-block__wrap-img">
			<svg>
				<use xlink:href="img/sprite.svg#svg--popular-block-icon1">
			</svg>
		</div>
		<div class="post-popular-block__wrap-text">
			<span class="post-popular-block__caption">{{ caption }}</span>
		</div>
	</a>
{% endmacro %}

{% macro honoraryCitizens(name, img, caption, text) %}
	<div class="honorary-citizens-block" data-name="{{ name }}" data-click-modal="citizens">
		<div class="honorary-citizens-block__wrap-img">
			<picture>
				<source srcset="img/{{ img }}.webp" type="image/webp">
				<source srcset="img/{{ img }}.jpg" type="image/jpeg">
				<img src="img/{{ img }}.jpg" alt="">
			</picture>
		</div>
		<div class="honorary-citizens-block__wrap-text">
			<span class="honorary-citizens-block__caption">{{ caption }}</span>
			<span class="honorary-citizens-block__text">{{ text }}</span>
		</div>
	</div>
{% endmacro %}


{% macro conferencesPost(img, caption, text) %}
	<a href="#" class="upcoming-conferences-post">
		<div class="upcoming-conferences-post__wrapper">
			<div class="upcoming-conferences-post__left">
				<span class="info-text date">05 марта 2021, с 11:00 до 12:00</span>
			</div>
			<div class="upcoming-conferences-post__right">
				<div class="upcoming-conferences-post__wrap-img">
					<picture>
						<source srcset="img/{{ img }}.webp" type="image/webp">
						<source srcset="img/{{ img }}.jpg" type="image/jpeg">
						<img src="img/{{ img }}.jpg" alt="">
					</picture>
				</div>
				<div class="upcoming-conferences-post__wrap-text">
					<span class="info-text date">05 марта 2021, с 11:00 до 12:00</span>
					<h3>{{ caption }}</h3>
					<p>{{ text }}</p>
				</div>
			</div>
		</div>
	</a>
{% endmacro %}


{% macro numberItem(number) %}
	<li class="block-list__item">
		<span class="block-list__number">{{ number }}</span>
		<div class="block-list__wrap">
			<span class="block-list__time">12.09.2012 - 25.09.2012 (11:00) время московское</span>
			<h4 class="block-list__caption">Извещение о проведении открытого конкурса на выполнение работ по капитальному ремонту многоквартирного дома по ул.Сочинская, 23</h4>
			<p class="block-list__text">ООО «Городская управляющая компания – Краснодар», ИНН 2311104687, г. Краснодар, ул. Садовая, 112.</p>
		</div>
	</li>
{% endmacro %}