{% macro galleryPost(img, caption, dateText) %}
	<div class="gallery-post">
		<a href="#" class="gallery-post__wrap-img">
			<picture>
				<source srcset="img/{{ img }}.webp" type="image/webp">
				<source srcset="img/{{ img }}.jpg" type="image/jpeg">
				<img src="img/{{ img }}.jpg" alt="">
			</picture>
		</a>
		<div class="gallery-post__wrap-text">
			<a href="#" class="teg-category"><span>Национальные проекты</span></a>
			<a href="#" class="teg-category"><span>Образование</span></a>
			<a href="#">
				<h4>{{ caption }}</h4>
			</a>			
			<span>{{ dateText }}</span>
		</div>
	</div>
{% endmacro %}

{% macro itemCategory(text, id) %}
	<li class="topic-block__item" id="{{ id }}">
		<label class="check-row">
			<input type="checkbox">
			<div class="check-row__wrap">
				<span class="check-row__square"></span>
				<span class="check-row__text">{{ text }}</span>
			</div>
		</label>
	</li>
{% endmacro %}

{% macro newsPost() %}
	<a href="#" class="news-post">
		<div class="news-post__wrapper">
			<div class="news-post__row">
				<span class="info-text date">10 февраля 2021,</span>
				<div class="topic-item topic-item--change">
					<div class="topic-item__wrapper">
						<span class="topic-item__text">Национальные проекты</span>
					</div>
				</div>
				<div class="topic-item topic-item--change">
					<div class="topic-item__wrapper">
						<span class="topic-item__text">Образование</span>
					</div>
				</div>
			</div>
			<div class="news-post__wrap-img">
				<picture>
					<source srcset="img/news-post1.webp" type="image/webp">
					<source srcset="img/news-post1.jpg" type="image/jpeg">
					<img src="img/news-post1.jpg" alt="">
				</picture>
			</div>
			<div class="news-post__wrap-text">
				<h3>В пяти пригородных школах Краснодара работают «Точки роста»</h3>
				<p>Инновационные центры цифрового и гуманитарного образования «Точки роста» созданы в рамках национального проекта «Образование» на базе школ, расположенных в пригородных населенных пунктах краевой столицы. Сейчас такие кабинеты работают в школах № 61, 68, 74, 77, 85 Краснодара — это более 6 тыс. детей. Планируется, что в 2021 году центры заработают еще в нескольких общеобразовательных учреждениях города.</p>
			</div>
		</div>
	</a>
{% endmacro %}

{% macro humanPostMd(img, caption, text, nameTab) %}
	<a href="#" class="human-post human-post--md">
		<div class="human-post__wrap-img">
			<picture>
				<source srcset="img/{{ img }}.webp" type="image/webp">
				<source srcset="img/{{ img }}.jpg" type="image/jpeg">
				<img src="img/{{ img }}.jpg" alt="">
			</picture>
		</div>
		<div class="human-post__wrap-text">
			<h3>{{ caption }}</h3>
			<p>{{ text }}</p>
			<button class="btn-white arrow-animate" data-namebtn="{{ nameTab }}">
				<span class="btn-white__text">Курируемые направления</span>
				<span class="btn-white__text text-change">Закрыть</span>
				<span class="close"></span>
			</button>
		</div>
	</a>
{% endmacro %}

{% macro humanPostSm(img, caption, text) %}
	<a href="#" class="human-post human-post--sm">
		<div class="human-post__wrap-img">
			<picture>
				<source srcset="img/{{ img }}.webp" type="image/webp">
				<source srcset="img/{{ img }}.jpg" type="image/jpeg">
				<img src="img/{{ img }}.jpg" alt="">
			</picture>
		</div>
		<div class="human-post__wrap-text">
			<h3>{{ caption }}</h3>
			<p>{{ text }}</p>
		</div>
	</a>
{% endmacro %}

{% macro humanList(nameTab) %}
	<div class="human-list " >
		<div class="human-list__wrapper animate-hate list-accordeon" data-namelist="{{ nameTab }}">
			<div class="human-list__grid">
				<a href="#" class="human-post human-post--sm">
					<div class="human-post__wrap-img">
						<picture>
							<source srcset="img/human-sm1.webp" type="image/webp">
							<source srcset="img/human-sm1.jpg" type="image/jpeg">
							<img src="img/human-sm1.jpg" alt="">
						</picture>
					</div>
					<div class="human-post__wrap-text">
						<h3>Белый Владислав Владимирович</h3>
						<p>Директор департамента городского хозяйства и топливно-энергетического комплекса</p>
					</div>
				</a>
				<a href="#" class="human-post human-post--sm">
					<div class="human-post__wrap-img">
						<picture>
							<source srcset="img/human-sm2.webp" type="image/webp">
							<source srcset="img/human-sm2.jpg" type="image/jpeg">
							<img src="img/human-sm2.jpg" alt="">
						</picture>
					</div>
					<div class="human-post__wrap-text">
						<h3>Бурлаков Сергей Александрович</h3>
						<p>Начальник управления сельского хозяйства</p>
					</div>
				</a>
				<a href="#" class="human-post human-post--sm">
					<div class="human-post__wrap-img">
						<picture>
							<source srcset="img/human-sm3.webp" type="image/webp">
							<source srcset="img/human-sm3.jpg" type="image/jpeg">
							<img src="img/human-sm3.jpg" alt="">
						</picture>
					</div>
					<div class="human-post__wrap-text">
						<h3>Казликин Виталий Александрович</h3>
						<p>Начальник управления гражданской защиты</p>
					</div>
				</a>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro lgSlide(img) %}
	<div class="slider-gallery__slide swiper-slide">
		<picture>
			<source srcset="img/{{ img }}.webp" type="image/webp">
			<source srcset="img/{{ img }}.jpg" type="image/jpeg">
			<img src="img/{{ img }}.jpg" alt="">
		</picture>
	</div>
{% endmacro %}

{% macro smSlide(img) %}
	<div class="slider-sm-galery__slide swiper-slide">
		<picture>
			<source srcset="img/{{ img }}.webp" type="image/webp">
			<source srcset="img/{{ img }}.jpg" type="image/jpeg">
			<img src="img/{{ img }}.jpg" alt="">
		</picture>
	</div>
{% endmacro %}