.breadcrumbs {
  padding: 25px 0 35px;

  @media (max-width: 1079px) {
    padding: 20px 0 20px;
    // overflow: hidden;

    .container {
      // padding: 0 25px 0 0;
      padding: 0;
      width: auto;
    }
  }

  &__list {
    display: flex;

    @media (max-width: 1079px) {
      padding: 0 25px 0 25px;
      width: 100%;
      overflow: auto;
    }
  }

  &__item {
    display: inline-flex;
    margin-right: 12px;
    flex-shrink: 0;

    &:last-child {
      margin-right: 0;

      @media (max-width: 1079px) {
        &:last-child {
          // padding-right: 25px;
        }
      }

      .breadcrumbs__link {
        color: #333333;
      }
    }

    svg {
      width: 11px;
      height: 11px;
      stroke: #76767a;
      stroke-width: 1px;
      margin-top: 5px;
      margin-left: 12px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 20px;
    color: #76767a;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #003B83;
    }
  }
}

.inner-grid-page {
  &__wrapper {
    display: grid;
    grid-template-columns: 296px 1fr;
    column-gap: 40px;

    @media (max-width: 1300px) {
      column-gap: 32px;
    }

    @media (max-width: 1079px) {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }

  &__left {
    background-color: #fff;
    position: relative;
    z-index: 20;
  }

  &__right {
    min-width: 1px;
  }
}

.link-menu {
  @media (max-width: 1079px) {
    padding: 12px 16px 0;
    border: 1px solid #b3cbe8;
    border-radius: 4px;

    @media (max-width: 1079px) {
      padding: 10px 16px 0;
    }
  }

  &__up {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    // border-bottom: 1px solid #B3CBE8;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;

    @media (max-width: 1079px) {
      display: flex;
      padding-bottom: 11px;
    }

    svg {
      width: 18px;
      height: 18px;
      stroke: #0061d9;
      stroke-width: 2px;
      margin-top: 4px;
      transition: all 0.3s ease-in-out;
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #000000;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__list {
    @media (max-width: 1079px) {
      transition: all 0.3s ease-in-out;
      max-height: 0;
      overflow: hidden;
    }
  }

  &__item {
    margin-bottom: 8px;

    @media (max-width: 1079px) {
      margin-bottom: 0;


      &:last-child {
        border-bottom: none;
      }
    }

    &:last-child {
      margin-bottom: 0;

      span {
        border: none;
      }
    }

    &--active {
      @media (max-width: 1079px) {
        display: none;
      }

      .link-menu {
        &__link {
          flex-direction: row-reverse;
          justify-content: space-between;
          padding: 16px;
          border-color: transparent;

          svg {
            margin-right: 0;
            margin-left: 5px;
            stroke: #000;
          }

          span {
            color: #0050b2;
          }
        }
      }
    }
  }

  &__link {
    background: #ffffff;
    border: 1px solid #b3cbe8;
    border-radius: 4px;
    display: flex;
    padding: 13px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #f2f6fb;
      border-color: #003b83;

      span {
        color: #003B83;
      }

      svg {
        stroke: #003B83;
      }

      @media (max-width: 1079px) {
        background-color: #ffffff;
        border-color: #b3cbe8;
      }
    }


    @media (max-width: 1079px) {
      border: none;
      border-radius: 0;
      padding: 0;
    }

    svg {
      width: 11px;
      height: 11px;
      stroke: #0061d9;
      stroke-width: 2px;
      margin-top: 7px;
      margin-right: 10px;
      flex-shrink: 0;
      transition: all 0.3s ease-in-out;

      @media (max-width: 1079px) {
        margin-top: 20px;
      }
    }

    span {
      font-weight: 500;
      font-size: 18px;
      line-height: normal;
      color: #000;
      transition: all 0.3s ease-in-out;

      @media (max-width: 1079px) {
        border-bottom: 1px solid #d9d9de;
        display: block;
        flex-grow: 1;
        padding: 14px 0;
      }

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
        padding: 12px 0;
      }
    }
  }
}

.link-menu__up.active {
  border-color: #B3CBE8;

  svg {
    transform: rotate(180deg);
  }
}

.about-topic {
  margin-bottom: 50px;

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }

  .center-area-one {
    @media (max-width: 1200px) {
      max-width: inherit;
    }
  }

  &__up {
    border-bottom: 1px solid #d9d9de;
    padding-bottom: 15px;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }

    .title {
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;

      @media (max-width: 767px) {
        font-size: 22px;
        line-height: 28px;
      }
    }
  }

  &__down {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      row-gap: 25px;
    }
  }
}

.text-page {
  &__up {
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9de;
    margin-bottom: 40px;
    .topic-item {
      display: inline-block;
    }

    .info-text {
      margin-bottom: 12px;
      display: block;

      @media (max-width: 767px) {
        margin-bottom: 6px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 767px) {
      padding-bottom: 17px;
      margin-bottom: 20px;
    }

    .title {
      @media (max-width: 1079px) {
        margin-bottom: 12px;
      }
    }

    &--change {
      @media (max-width: 767px) {
        border: none;
        margin-bottom: 35px;
        padding-bottom: 0;
      }
    }

    .link-more {
      margin-bottom: 15px;

      @media (max-width: 767px) {
        margin-bottom: 6px;
      }

      &:hover {
        span {
          color: #003B83;
        }

        svg {
          stroke: #003B83;
        }
      }

      svg {
        transform: rotate(180deg);
        margin: 0;
        stroke-width: 2px;
        stroke: #0061d9;
        margin-right: 12px;
        margin-left: -20px;
        width: 8px;
        height: 14px;
        max-height: inherit;
        max-width: inherit;

        @media (max-width: 767px) {
          margin-right: 9px;
          margin-left: 0;
        }
      }

      span {
        color: #0061d9;

        @media (max-width: 767px) {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }

  &__area {
    margin-bottom: 52px;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }

    picture {
      margin-bottom: 32px;

      @media (max-width: 767px) {
        margin-bottom: 22px;
      }

      img {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      font-size: 18px;
      line-height: 28px;
      color: #333333;
      margin-bottom: 40px;

      @media (max-width: 767px) {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
      }
    }

    span {
      font-size: 18px;
      line-height: 28px;
      color: #333333;
      display: block;

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: 767px) {
        font-size: 16px;
      }

      span {
        display: inline;
        font-size: 18px;
        line-height: 28px;
        color: #76767A;

        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
    }

    span.btn-block__text {
      color: #fff;
    }

    span.btn-white__text {
      font-size: 18px;
      line-height: 24px;
      color: #0061D9;
    }

    span.info-text {
      color: rgba(0, 0, 0, .6);
    }

    a {
      font-size: 18px;
      line-height: 28px;
      color: #0050B2;
    }

    ol {
      margin-bottom: 40px;
      list-style-type: none;
      counter-reset: li;

      @media (max-width: 767px) {
        margin-bottom: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      li {
        font-size: 18px;
        line-height: normal;
        color: #333333;
        margin-bottom: 32px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-left: 32px;

        ol {
          li {
            padding-left: 48px;
            margin-left: 32px;
            margin-top: 32px;

            @media (max-width: 767px) {
              margin-left: 0;
              padding-left: 38px;
            }

            ol {
              li {
                padding-left: 64px;
                margin-left: 32px;
                margin-top: 32px;

                @media (max-width: 767px) {
                  margin-left: 0;
                  padding-left: 56px;
                }
              }
            }
          }
        }

        p {
          font-size: 18px;
          line-height: normal;
          color: #333333;

          @media (max-width: 767px) {
            font-size: 16px;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        @media (max-width: 767px) {
          font-size: 16px;
          margin-bottom: 26px;
        }

        &::before {
          counter-increment: li;
          content: counters(li, ".") ". ";
          position: absolute;
          left: 0;
          top: 0;
          font-weight: 600;
          font-size: 18px;
          line-height: normal;
          color: #0061d9;
          display: block;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      ul {
        margin-top: 32px;
      }
    }

    ul {
      margin-bottom: 40px;

      @media (max-width: 767px) {
        margin-bottom: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      li {
        font-size: 18px;
        line-height: normal;
        color: #333333;
        margin-bottom: 32px;
        position: relative;
        padding-left: 32px;

        @media (max-width: 767px) {
          font-size: 16px;
          margin-bottom: 26px;
          padding-left: 32px;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 12px;
          width: 12px;
          height: 2px;
          background-color: #0061d9;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .btn-block {
      margin-bottom: 32px;

      @media (max-width: 767px) {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }

  &__wrap {
    border-bottom: 1px solid #d9d9de;
    padding-bottom: 40px;
    margin-bottom: 40px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    p {
      b {
        font-size: 24px;
        line-height: 32px;

        @media (max-width: 767px) {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
  }

  &__down {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;

    .btn-white,
    .btn-block {
      width: 47.7%;
    }

    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
}

.news-row-wrap {
  border-top: 2px solid #000000;
  border-bottom: 1px solid #d9d9de;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding: 40px 0;
  margin-bottom: 45px;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }

  @media (max-width: 767px) {
    padding: 20px 0;
    margin-bottom: 20px;
    row-gap: 20px;
  }
}

.sm-post-news {
  display: flex;

  &:hover {
    .sm-post-news__caption {
      color: #003B83;
      text-decoration: underline;
    }

    .sm-post-news__wrap-img {
      img {
        transform: scale(1.05);
        transition: transform .7s ease;
      }
    }
  }

  @media (max-width: 767px) {
    display: block;
  }

  &__wrap-img {
    max-width: 184px;
    flex-shrink: 0;
    overflow: hidden;

    @media (max-width: 1200px) {
      max-width: 144px;
    }

    @media (max-width: 767px) {
      margin-bottom: 12px;
    }

    img {
      width: 100%;
      transition: transform .3s ease;
    }
  }

  &__wrap-text {
    padding-left: 24px;

    .info-text {
      display: block;
    }

    @media (max-width: 767px) {
      padding-left: 0;
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    display: block;
    color: #000000;
    transition: all 0.3s ease-in-out;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.offset-area {
  margin-bottom: 50px;
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }

  &--change {
    margin-bottom: 14px;

    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
}

.blockquote-row {
  display: flex;
  margin-bottom: 45px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9de;
  }

  &__wrap-img {
    flex-shrink: 0;
    max-width: 64px;

    img {
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &__wrap-text {
    margin-left: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9de;
    flex-grow: 1;

    @media (max-width: 767px) {
      border: none;
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: #76767a;
  }
}

.topic-row {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  @media (max-width: 767px) {
    display: block;
    margin-bottom: 8px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
  }

  &__caption {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin-right: 15px;
    flex-shrink: 0;
    margin-bottom: 18px;
    display: block;
  }
}

.interaction-post {
  display: flex;
  justify-content: space-between;

  .btn-white {
    @media (max-width: 1200px) {
      padding: 11px 18px;
    }

    @media (max-width: 575px) {
      padding: 7px 10px;
      width: 53%;
    }
  }

  &__left {
    display: flex;
    align-items: flex-start;

    @media (max-width: 575px) {
      width: 100%;
      justify-content: space-between;

      .wrap-disabled {
        width: 45%;

        input {
          margin: 0;
          max-width: 100%;
        }
      }
    }

    .field-over {
      margin-right: 16px;
      max-width: 208px;
    }
  }

  &__right {
    @media (max-width: 1079px) {
      display: none;
    }
  }
}

.slider-gallery {
  position: relative;
  margin-bottom: 27px;
  // overflow: hidden;

  @media (max-width: 1079px) {
    margin: 0 -32px 27px;
    padding: 0 32px;
    overflow: hidden;
  }

  @media (max-width: 767px) {
    margin: 0 -24px 9px;
    padding: 0 24px;
  }

  @media (max-width: 359px) {
    margin: 0 -16px;
    padding: 0 16px;
  }

  .center-area-one {
    @media (max-width: 1200px) {
      max-width: inherit;
    }
  }

  &__up {
    position: relative;
  }

  &__slide {
    img {
      width: 100%;
    }
  }

  &__arrow {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 44px);
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @media (max-width: 767px) {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
    }

    &:hover {
      background-color: #003B83;

      svg {
        stroke: #fff;
      }

      @media (max-width: 1079px) {
        background-color: #fff;

        svg {
          stroke: #0061D9;
        }
      }
    }

    svg {
      width: 21px;
      height: 18px;
      // transform: rotate(90deg);
      stroke: #0061D9;
      stroke-width: 2px;
      transition: all 0.3s ease-in-out;
    }

    &--next {
      right: -44px;

      @media (max-width: 767px) {
        right: -36px;
      }
    }

    &--prev {
      left: -44px;
      transform: rotate(180deg);

      @media (max-width: 767px) {
        left: -36px;
      }
    }
  }

  &__down {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 12px 0;
    border-bottom: 1px solid #d9d9de;

    .btn-white {
      display: none;
      width: 100%;
      margin-bottom: 12px;

      @media (max-width: 767px) {
        display: flex;
        padding: 5px 15px;
      }

      &__text {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: #76767a;
  }

  &__fraction {
    position: static;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    white-space: nowrap;

    span {
      font-size: 14px;
      line-height: 20px;
      color: #000000;

      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.slider-sm-galery {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    display: none;
  }

  &__arrow {
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    cursor: pointer;

    svg {
      width: 21px;
      height: 18px;
      stroke: #0061D9;
      stroke-width: 2px;
      transition: all 0.3s ease-in-out;
    }

    &--next {
      margin-left: 23px;
    }

    &--prev {
      transform: rotate(180deg);
      margin-right: 23px;
    }
  }

  img {
    width: 100%;
  }
}

.gallery-grid {
  margin-bottom: 50px;

  @media (max-width: 767px) {
    margin-bottom: 32px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 35px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 25px;
    }
  }
}

.gallery-post {
  &__wrap-img {
    margin-bottom: 24px;
    display: block;
    overflow: hidden;

    @media (max-width: 767px) {
      margin-bottom: 15px;
    }

    picture {
      width: 100%;

      img {
        width: 100%;
        transition: transform .3s ease;

        &:hover {
          transform: scale(1.05);
          transition: transform .7s ease;
        }
      }
    }
  }

  &__wrap-text {
    display: block;

    h4 {
      display: inline;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
      transition: all .3s ease;
      border-bottom: 1px solid transparent;

      &:hover {
        color: #003b83;
        border-color: #003b83;
      }
    }

    span {
      font-size: 14px;
      line-height: 20px;
      color: rgba($color: #000000, $alpha: 0.6);
      display: block;
    }

    .teg-category {
      margin-bottom: 10px;
      display: inline-block;

      @media (max-width: 767px) {
        margin-right: 2px;
        margin-bottom: 6px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__row-title {
    margin-bottom: 12px;

    @media (max-width: 767px) {
      margin-bottom: 7px;
    }
  }
}

.teg-category {
  background: #ffffff;
  border: 1px solid #b3cbe8;
  border-radius: 4px;
  padding: 4px 12px 6px;
  transition: all 0.3s ease-in-out;
  margin-right: 12px;

  @media (max-width: 1079px) {
    margin-right: 8px;
  }

  @media (max-width: 767px) {
    padding: 1px 10px;
    margin-right: 0;
  }

  &:hover {
    background-color: #F2F6FB;
    border-color: #003B83;

    span {
      color: #003B83;
    }
  }

  &:active {
    background-color: #E6EEF7;
    border-color: #003B83;
  }

  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #0061d9;
    display: inline !important;

  }
}

.news-grid {
  margin-bottom: 32px;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    margin-bottom: 55px;

    @media (max-width: 1023px) {
      row-gap: 48px;
    }

    @media (max-width: 767px) {
      margin-bottom: 35px;
    }

    @media (max-width: 575px) {
      row-gap: 28px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.news-post {
  &__wrapper {
    display: flex;

    @media (max-width: 1300px) {
      flex-wrap: wrap;
    }

    @media (max-width: 575px) {
      display: block;
    }
  }

  &__row {
    margin-right: 32px;
    min-width: 192px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 1300px) {
      width: 100%;
      min-width: inherit;
      flex-direction: row;
      margin-bottom: 20px;
    }

    @media (max-width: 575px) {
      margin-bottom: 8px;
      flex-wrap: wrap;
    }

    .info-text {
      margin-bottom: 12px;
      display: block;

      @media (max-width: 1300px) {
        margin-bottom: 0;
        margin-right: 24px;
        margin-top: 5px;
      }

      @media (max-width: 575px) {
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
      }
    }

    .topic-item {
      padding: 0;

      @media (max-width: 1300px) {
        margin-right: 8px;
      }
    }
  }

  &__wrap-img {
    max-width: 408px;
    flex-shrink: 0;
    overflow: hidden;
    display: block;

    &:hover {
      img {
        transform: scale(1.05);
        transition: transform .7s ease;
      }
    }

    // margin-right: 40px;
    @media (max-width: 1300px) {
      max-width: inherit;
      width: 31.5%;
    }

    @media (max-width: 1023px) {
      width: 50%;
    }

    @media (max-width: 575px) {
      width: 100%;
      margin-bottom: 14px;
    }

    img {
      width: 100%;
      transition: transform .3s ease;
    }
  }

  &__wrap-text {
    padding-left: 40px;
    display: block;

    @media (max-width: 1300px) {
      width: 68.5%;
      padding-left: 32px;
    }

    @media (max-width: 1023px) {
      width: 50%;
    }

    @media (max-width: 575px) {
      width: 100%;
      padding-left: 0;
    }

    h3 {
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 12px;
      display: block;
      color: #000000;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #003B83;
        text-decoration: underline;
      }

      @media (max-width: 575px) {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      display: block;
      margin-bottom: 12px;

      @media (max-width: 1023px) {
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: #333333;

      @media (max-width: 1023px) {
        display: none;
      }
    }
  }
}

.post-inner-down {
  .center-area-one {
    @media (max-width: 1079px) {
      max-width: inherit;
    }
  }
}

.inner-grid-page {
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

  .row-title {
    .md-title {
      margin-bottom: 0;
    }
  }

  .md-title {
    margin-bottom: 28px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}

.human-list {
  &__wrapper {
    // display: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 50px;
    // margin-top: 36px;
    padding: 40px 0;
    border-top: 1px solid #d9d9de;
    border-bottom: 1px solid #d9d9de;
    margin-bottom: 56px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 36px;
      padding: 35px 0;
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 25px;
      padding: 20px 0;
      margin-bottom: 20px;
    }
  }

  .tab-block--active {
    display: block;
  }

  .human-post {
    margin-bottom: 0 !important;
  }
}

.human-post {
  position: relative;
  display: block;

  @media (max-width: 767px) {
    display: flex !important;
    align-items: flex-start !important;
    margin-bottom: 32px !important;
  }

  &__wrap-img {
    @media (max-width: 767px) {
      flex-shrink: 0;
      max-width: 72px !important;
      margin-bottom: 0 !important;
    }

    img {
      width: 100%;
    }
  }

  &__wrap-text {
    @media (max-width: 767px) {
      padding-left: 20px !important;
    }

    h3 {
      font-weight: 600;
      color: #000;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #003B83;
        border-color: #003B83;
        text-decoration: underline;
      }

      @media (max-width: 767px) {
        font-size: 18px !important;
        line-height: 24px !important;
      }
    }

    p {
      color: #333333;

      @media (max-width: 767px) {
        font-size: 14px !important;
        line-height: 20px !important;
      }
    }

    .btn-white {
      display: inline-flex;
      justify-content: center;
      padding: 5px 12px;

      &__text {
        font-size: 14px;
        line-height: 20px;
        pointer-events: none;
      }

      .text-change {
        display: none;
      }

      .close {
        margin-left: 8px;
        display: none;
        position: relative;
        right: auto;
        top: auto;
        pointer-events: none;

        &::before,
        &::after {
          background-color: #a7a8ab;
        }
      }
    }

    .btn-white.open-btn {
      .btn-white__text {
        display: none;
      }

      .text-change {
        display: block;
      }

      .close {
        display: block;
      }
    }
  }

  &--lg {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    .human-post {
      &__wrap-img {
        max-width: 296px;
        flex-shrink: 0;
      }

      &__wrap-text {
        padding-left: 40px;

        h3 {
          font-size: 28px;
          line-height: 36px;

        }

        p {
          font-size: 18px;
          line-height: 28px;
          display: block;
        }
      }
    }
  }

  &--md {
    margin-bottom: 36px;

    .human-post {
      &__wrap-img {
        max-width: 160px;
        margin-bottom: 22px;
      }

      &__wrap-text {
        h3 {
          font-size: 22px;
          line-height: 28px;
          margin-bottom: 8px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &--sm {
    margin-bottom: 36px;

    .human-post {
      &__wrap-img {
        max-width: 160px;
        margin-bottom: 14px;
      }

      &__wrap-text {
        h3 {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 8px;
        }

        p {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.human-info-block {
  margin-bottom: 30px;

  @media (max-width: 575px) {
    margin-bottom: 20px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;

    @media (max-width: 575px) {
      display: block;
    }
  }

  &__wrap-img {
    flex-shrink: 0;
    max-width: 160px;

    @media (max-width: 1079px) {
      max-width: 152px;
    }

    @media (max-width: 575px) {
      margin: 0 auto;
    }

    img {
      width: 100%;
    }
  }

  &__wrap-content {
    padding-left: 64px;
    padding-top: 28px;
    flex-grow: 1;

    @media (max-width: 1079px) {
      padding-left: 32px;
    }

    @media (max-width: 767px) {
      padding-top: 16px;
    }

    @media (max-width: 575px) {
      padding-left: 0;
    }
  }

  &__wrap {
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-bottom: 0;
    }

    ul {
      li {
        font-size: 18px;
        line-height: normal;
        color: #333;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          font-size: 18px;
          line-height: normal;
          color: #76767a;
        }

        strong,
        b {
          font-size: 18px;
          line-height: normal;
          font-weight: 700;
          color: #000;
        }

        a {
          font-size: 18px;
          line-height: normal;
          color: #000;
          font-weight: 700;
        }
      }
    }
  }

  &__row {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__down {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      display: none;
    }

    .btn-white,
    .btn-block {
      width: 49%;
      padding: 10px 14px 12px;
    }
  }

  &__caption {
    font-size: 18px;
    line-height: normal;
    color: #76767A;

    @media (max-width: 575px) {
      font-size: 16px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: normal;
    color: #333333;

    @media (max-width: 575px) {
      font-size: 16px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: normal;
    font-weight: bold;

    @media (max-width: 575px) {
      font-size: 16px;
    }
  }
}

.form-over {
  &__area {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      b {
        font-size: 18px;
        color: #000000;
      }
    }

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
    }

    span.red {
      color: #d51a1a;
    }

    ul {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      li {
        font-size: 16px;
        line-height: normal;
        color: #333333;
        margin-bottom: 20px;
        position: relative;
        padding-left: 32px;

        @media (max-width: 767px) {
          font-size: 16px;
          margin-bottom: 26px;
          padding-left: 32px;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 12px;
          width: 12px;
          height: 2px;
          background-color: #0061d9;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__row {
    margin-bottom: 40px;

    @media(max-width: 767px) {
      margin-bottom: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__wrap-title {
    h3 {
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
      color: #000000;
      margin-bottom: 32px;

      @media(max-width: 767px) {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 28px;
      }

      span {
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;

        @media(max-width: 767px) {
          font-size: 22px;
        }
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 22px;
    margin-bottom: 22px;

    @media(max-width: 767px) {
      grid-template-columns: 1fr;
      row-gap: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .wrap-field {
      margin-bottom: 0;
    }
  }

  .block-accordions {
    margin-bottom: 40px;

    @media(max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__border {
    border-bottom: 1px solid #D9D9DE;
    margin-bottom: 32px;
  }

  &__wrap-btn {
    display: flex;
    margin: 0 -20px;
    padding-bottom: 56px;

    @media(max-width: 1023px) {
      margin: 0 -16px;
    }

    @media(max-width: 767px) {
      padding-bottom: 40px;
      display: block;
      margin: 0;
    }

    .btn-white {
      width: 20.9%;
      min-width: 140px;
      margin: 0 20px;

      @media(max-width: 1023px) {
        margin: 0 16px;
      }

      @media(max-width: 767px) {
        width: 100%;
        margin: 0 0 16px;
      }
    }

    .btn-block {
      width: 46.6%;
      margin: 0 20px;

      @media(max-width: 1023px) {
        margin: 0 16px;
      }

      @media(max-width: 767px) {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.wrap-field-check {
  input {
    display: none;
  }

  &__field {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #F5F5F7;
    border-radius: 4px;
    padding: 10px 14px;
    border: 2px solid #F5F5F7;
    transition: all 0.3s ease-in-out;
  }

  &__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000000;
    display: block;
    flex-shrink: 0;
    margin-right: 14px;
    position: relative;
    transition: all 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: 4px;
      right: 4px;
      top: 4px;
      bottom: 4px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  .wrap-field__description {
    margin-bottom: 0;
  }
}

.wrap-field-check input:checked+.wrap-field-check__field {
  border: 2px solid #0061D9;
  background-color: #fff;

  .wrap-field-check__icon {
    background-color: #0061D9;
    border-color: #0061D9;

    &::before {
      opacity: 1;
    }
  }
}

.wrap-field {
  margin-bottom: 22px;
  position: relative;
  

  &:last-child {
    margin-bottom: 0;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
    display: block;
  }

  &__field {
    border-radius: 4px;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    transition: all 0.3s ease-in-out;
    width: 100%;
    padding: 11px 14px;
    border: 1px solid #A7A8AB;
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
    @media (max-width: 767px) {
      padding: 7px 14px;
      font-size: 16px;
      line-height: 24px;
    }

    &::placeholder {
      font-size: 18px;
      line-height: 28px;
      color: #76767A;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &:focus {
      box-shadow: 0 0 0 4px #99A9F8;
    }
  }

  &__textarea {
    border-radius: 4px;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    transition: all 0.3s ease-in-out;
    width: 100%;
    padding: 11px 14px;
    border: 1px solid #A7A8AB;
    resize: none;
    min-height: 160px;

    &::placeholder {
      font-size: 18px;
      line-height: 28px;
      color: #76767A;
    }

    &:focus {
      box-shadow: 0 0 0 4px #99A9F8;
    }
  }
  svg {
    position: absolute;
    bottom: 17px;
    right: 14px;
    width: 17px;
    height: 17px;
    @media (max-width: 767px) {
      bottom: 12px;
    }
  }
}

.radio-wrap {
  margin-top: -4px;
  cursor: pointer;
  position: relative;

  &:last-child {
    .human-row-sm {
      border-bottom: none;
    }
  }

  input {
    display: none;
  }

  &__block {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border: 2px solid transparent;
    // border-bottom-color: #E5E5EB;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;

    @media(max-width: 767px) {
      padding: 0 16px;
      align-items: flex-start;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000000;
    display: block;
    flex-shrink: 0;
    margin-right: 16px;
    position: relative;
    transition: all 0.3s ease-in-out;

    @media(max-width: 767px) {
      margin-top: 33px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 4px;
      right: 4px;
      top: 4px;
      bottom: 4px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  .human-row-sm {
    flex-grow: 1;
    border-bottom: 2px solid #E5E5EB;
    padding: 20px 0;

    @media (max-width: 767px) {
      border-bottom: 1px solid #E5E5EB;
    }

    @media(max-width: 1023px) {
      padding: 15px 0;
    }
  }
}

.radio-wrap input:checked+.radio-wrap__block {
  border-color: #0061D9;
  z-index: 1;

  .human-row-sm {
    border-color: transparent;
  }

  .radio-wrap__icon {
    background-color: #0061D9;
    border-color: #0061D9;

    &::before {
      opacity: 1;
    }
  }
}

.popular-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 20px;
  margin-bottom: 40px;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &:last-child {
    margin-bottom: 55px;

    @media (max-width: 1023px) {
      margin-bottom: 47px;
    }

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}

.news-slider {
  position: relative;
  margin-bottom: 40px;
  @media (max-width: 767px) {
    margin: 0 -24px 40px;
    padding: 0 24px;
    overflow: hidden;
  }

  &__container {
    max-width: 100%;
    min-width: 1px;
  }

  &__wrap {
    display: grid;
    align-items: flex-end;

    @media (max-width: 767px) {
      display: block;
    }

    &:hover {
      img {
        transform: scale(1.05);
        transition: transform .7s ease;
      }
    }
  }

  &__wrap-img {
    grid-area: 1/1/2/2;
    overflow: hidden;
    position: relative;
    border-radius: 4px;

    @media (max-width: 767px) {
      grid-area: inherit;
      margin-bottom: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 61.98%, rgba(0, 0, 0, 0.8) 100%);
      z-index: 1;
    }

    img {
      width: 100%;
      transition: transform .3s ease;
    }
  }

  &__wrap-text {
    grid-area: 1/1/2/2;
    position: relative;
    z-index: 1;
    padding: 25px 32px;

    @media (max-width: 767px) {
      grid-area: inherit;
      padding: 0;
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #fff;
    display: block;
    margin-bottom: 12px;

    @media (max-width: 767px) {
      font-size: 22px;
      line-height: 28px;
      color: #000000;
      margin-bottom: 0;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    display: block;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
      color: #0050B2;
    }
  }

  &__arrow {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 36px);
    z-index: 10;
    cursor: pointer;
    transition: all .3s ease-in-out;

    @media (max-width: 1300px) {
      width: 60px;
      height: 60px;
      top: calc(50% - 30px);
    }

    @media (max-width: 767px) {
      top: 36px;
    }

    &:hover {
      background-color: #003B83;

      svg {
        stroke: #fff;
      }

      @media (max-width: 1079px) {
        background-color: #fff;

        svg {
          stroke: #0061D9;
        }
      }
    }

    svg {
      width: 21px;
      height: 18px;
      transition: all .3s ease-in-out;
      stroke: #0061d9;
      stroke-width: 2px;
    }

    &--prev {
      left: -36px;
      transform: rotate(180deg);

      @media (max-width: 1300px) {
        left: -30px;
      }
      @media (max-width: 767px) {
        left: -6px;
      }
    }

    &--next {
      right: -36px;

      @media (max-width: 1300px) {
        right: -30px;
      }
      @media (max-width: 767px) {
        right: -6px;
      }
    }
  }
}

.documentation-sect {
  margin-bottom: 50px;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    @media (max-width: 767px) {
      row-gap: 32px;
    }
    .news-post {
      &__row {
        min-width: 210px;
        @media (max-width: 1300px) {
          margin-bottom: 0;
        }
      }
      &__wrap-text {
        @media (max-width: 1300px) {
          padding: 0;
          width: auto;
        }
      }
    }
  }
}