.main-news {
  margin-bottom: 50px;

  @media (max-width: 767px) {
    margin-bottom: 25px;
  }

  &__wrapper {
    margin-bottom: 45px;

    @media (max-width: 575px) {
      margin-bottom: 25px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 32px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 32px;
    }

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 575px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 28px;
    }

    .lg-block-news {
      grid-column: span 2 / auto;
      grid-row: span 2 / auto;

      @media (max-width: 1200px) {
        grid-column: span 6 / auto;
        grid-row: span 1 / auto;
      }

      @media (max-width: 991px) {
        grid-column: span 2 / auto;
        grid-row: inherit;
      }

      @media (max-width: 575px) {
        grid-column: inherit;
      }
    }

    .md-block-news {
      @media (max-width: 1200px) {
        grid-column: span 2 / auto;
        grid-row: span 2 / auto;
      }

      @media (max-width: 991px) {
        grid-column: inherit;
        grid-row: inherit;
      }

      &--sm {
        @media (max-width: 1200px) {
          grid-row: span 1 / auto;
        }

        @media (max-width: 991px) {
          grid-row: inherit;
        }

        @media (max-width: 575px) {
          display: none;
        }
      }
    }

    &--change {
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .lg-block-news {
        @media (max-width: 1200px) {
          grid-column: inherit;
          grid-row: inherit;
          display: block;
        }

        &__wrapper {
          @media (max-width: 1200px) {
            display: block;
          }
        }

        &__wrap-img {
          width: auto;
          margin-bottom: 18px;
        }

        &__down {
          padding-left: 0;
        }

        &__wrap-text {
          h3 {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
          }
        }
      }

      .md-block-news {
        @media (max-width: 1200px) {
          grid-column: inherit;
          grid-row: inherit;

          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  .btn-block {
    margin-bottom: 35px;

    @media (max-width: 575px) {
      margin-bottom: 22px;
    }
  }
}

.news-tabs {
  &__up {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 767px) {
      margin: 0;
      display: block;
    }
  }

  &__item {
    order: 1;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    position: relative;

    &:hover {
      .news-tabs__caption {
        color: #003b83;
        border-color: #003b83;
      }

      svg {
        stroke: #003b83;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: -1px;
      width: 22px;
      background-color: #fff;
      pointer-events: none;
      border-bottom: 1px solid #d9d9de;
      opacity: 0;

      @media (max-width: 767px) {
        display: none !important;
      }
    }

    &:first-child {
      border-right: 1px solid transparent;
      padding-right: 20px;

      @media (max-width: 767px) {
        padding-right: 0;
      }

      &::before {
        left: 100%;
        margin-left: 1px;
      }
    }

    &:nth-child(3) {
      border-right: none;
      border-left: 1px solid transparent;
      padding-left: 20px;

      @media (max-width: 767px) {
        padding-left: 0;
      }

      &::before {
        right: 100%;
        margin-right: 1px;
      }
    }

    @media (max-width: 767px) {
      padding: 0;
      width: 100%;
      margin-bottom: 17px;
    }
  }

  &__row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 17px;
    pointer-events: none;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #d9d9de;
    margin-bottom: -1px;

    svg {
      width: 18px;
      height: 21px;
      stroke-width: 2px;
      stroke: #0061d9;
      transition: all 0.3s ease-in-out;
      margin-top: 2px;
      pointer-events: none;
      // transform: rotate(180deg);
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #000;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    display: inline;
    border-bottom: 1px solid transparent;

    @media (max-width: 767px) {
      font-size: 22px;
      line-height: 28px;
    }
  }

  &__row {
    order: 2;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    grid-column: span 2 / auto;

    &:last-child {
      .news-tabs__end-row {
        margin-bottom: 0;

        @media (max-width: 767px) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    margin-bottom: 24px;
    padding-top: 40px;

    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 32px;
      row-gap: 28px;
    }

    @media (max-width: 767px) {
      padding-top: 0;
    }

    @media (max-width: 575px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 25px;
    }
  }

  &__end-row {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 1100px) {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;

        @media (max-width: 767px) {
          margin-bottom: 26px;
        }
      }
    }
  }
}

.news-tabs__row.animate-hate--open {
  @media (max-width: 767px) {
    border-bottom: 1px solid #D9D9DE;
    margin-bottom: 21px;
  }
}

.news-tabs__item.open-btn {
  &::before {
    opacity: 1;
  }
}

.news-tabs__item:first-child.open-btn {
  // border-bottom-color: #d9d9de;
  border-right: 1px solid #d9d9de;

  @media (max-width: 767px) {
    border-right-color: transparent;
  }

  .news-tabs__row-flex {
    border-color: transparent;
  }

  svg {
    transform: rotate(180deg);
  }
}

.news-tabs__item:nth-child(3).open-btn {

  border-left: 1px solid #d9d9de;

  // border-bottom-color: #d9d9de;
  @media (max-width: 767px) {
    border-left-color: transparent;
  }

  .news-tabs__row-flex {
    border-color: transparent;
  }

  svg {
    transform: rotate(180deg);
  }
}

.popular-sect {
  padding: 40px 0 55px;
  margin-bottom: 40px;
  &--no-offset {
    padding: 0 !important;
  }

  @media (max-width: 767px) {
    padding: 25px 0 40px;
    margin-bottom: 30px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media (max-width: 1079px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 32px;
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 16px;
    }

    .link-block {
      grid-column: span 4 / auto;
      margin-bottom: 15px;

      @media (max-width: 1200px) {
        grid-column: span 3 / auto;
      }

      @media (max-width: 1079px) {
        grid-column: inherit;
        margin-bottom: 0;
      }

      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }

    .post-popular-block {
      grid-column: span 3 / auto;

      @media (max-width: 1200px) {
        grid-column: span 2 / auto;
      }

      @media (max-width: 1079px) {
        grid-column: inherit;
      }
    }
    &--change {
      grid-template-columns: repeat(1, 1fr);
      .post-popular-block {
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.link-block {
  border: 1px solid #d9d9de;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 30px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #003B83;
    border-color: #003B83;

    .link-block__caption {
      color: #fff;
    }

    svg {
      stroke: #fff;
    }
  }

  @media (max-width: 767px) {
    padding: 17px 25px;
  }

  &__wrap-icon {
    margin-right: 25px;

    svg {
      width: 30px;
      height: 30px;
      stroke: #0061d9;
      stroke-width: 2px;
      transition: all 0.3s ease-in-out;
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    transition: all 0.3s ease-in-out;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.post-popular-block {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
  border-bottom: 1px solid #d9d9de;

  @media (max-width: 1023px) {
    padding-bottom: 27px;
  }

  @media (max-width: 767px) {
    padding-bottom: 20px;
  }

  &:hover {
    .post-popular-block__caption {
      color: #003B83;
      border-color: #003B83;
    }

    svg {
      stroke: #003B83;
    }
  }

  &__wrap-img {
    margin-right: 22px;
    flex-shrink: 0;

    svg {
      max-width: 48px;
      max-height: 48px;
      stroke: #0061D9;
      stroke-width: 2px;
      transition: all 0.3s ease-in-out;
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    transition: all 0.3s ease-in-out;
    display: inline;
    border-bottom: 1px solid transparent;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
      margin-right: 20px;
    }
  }
}

.services-to-citizens {
  margin-bottom: 105px;

  &--change-offset {
    margin-bottom: 75px;
  }

  .row-title {
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 60px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 28px;
    margin-bottom: 95px;
    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 1079px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 32px;
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      column-gap: 15px;
      margin-bottom: 50px;
      row-gap: 15px;
    }

    &--change {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 0;
      @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &--change-two {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 50px;
    }
  }
}

.slider-news {
  margin-bottom: 56px;
  overflow: hidden;

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }

  &__sect-container {
    position: relative;
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 4px;
    overflow: hidden;

    &:hover {
      .slider-news__wrap-img {
        img {
          transform: scale(1.05);
          transition: transform .7s ease;
        }
      }
    }
  }

  &__wrap-img {
    grid-area: 1/1/2/2;
    overflow: hidden;

    img {
      width: 100%;
      transition: transform .3s ease;
    }
  }

  &__wrap-text {
    position: relative;
    grid-area: 1/1/2/2;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;

    @media (max-width: 767px) {
      padding: 20px 24px;
    }

    h3 {
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
      color: #fff;
      display: block;
      margin-bottom: 15px;
      transition: all 0.3s ease-in-out;

      @media (max-width: 1200px) {
        font-size: 22px;
        line-height: 28px;
      }

      @media (max-width: 767px) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 5px;
      }
    }

    span {
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__arrow {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 44px);
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @media (max-width: 767px) {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
    }

    &:hover {
      background-color: #003B83;

      svg {
        stroke: #fff;
      }

      @media (max-width: 1079px) {
        background-color: #fff;

        svg {
          stroke: #0061D9;
        }
      }
    }

    svg {
      width: 21px;
      height: 18px;
      // transform: rotate(90deg);
      transition: all 0.3s ease-in-out;
      stroke: #0061D9;
      stroke-width: 2px;
    }

    &--prev {
      left: -44px;
      transform: rotate(180deg);

      @media (max-width: 767px) {
        left: -36px;
      }
    }

    &--next {
      right: -44px;

      // transform: rotate(180deg);
      @media (max-width: 767px) {
        right: -36px;
      }
    }
  }
}