{% extends "__layout.njk" %}

{% block Link %}
	
{% endblock %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Главная</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link">Структура администрации</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="inner-grid-page">
		<div class="container">
			<div class="inner-grid-page__wrapper">
				<div class="inner-grid-page__left">
					<div class="link-menu">
						<div class="link-menu__up accordion-js">
							<span class="link-menu__caption">Популярные услуги</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-three">
							</svg>
						</div>
						<ul class="link-menu__list">
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Популярное (11)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Образование (61)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Здоровье (35)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Жилье, ЖКУ, двор (58)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Транспорт (36)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Семья, дети (109)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Социальная поддержка (8)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Документы (98)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Работа (20)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Штрафы, налоги, оплата (6)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Инвалиды (17)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Гражданская активность (3)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Окружающий мир (3)</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="inner-grid-page__right">
					<div class="faq-block">
						<div class="row-title">
							<h2 class="title">Часто задаваемые вопросы</h2>
						</div>
						<ul class="block-list">
							{{ mixin.numberItem('133') }}
							{{ mixin.numberItem('132') }}
							{{ mixin.numberItem('117') }}
							{{ mixin.numberItem('101') }}
							{{ mixin.numberItem('85') }}
							{{ mixin.numberItem('69') }}
							{{ mixin.numberItem('37') }}
							{{ mixin.numberItem('21') }}
							{{ mixin.numberItem('5') }}
						</ul>
					</div>
					<div class="pagination pagination--change">
						<div class="pagination__wrapper">
							<div class="pagination__left">
								<a href="#" class="btn-white">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two"></use>
									</svg>
									<span class="btn-white__text">Предыдущая</span>
								</a>
							</div>
							<ul class="pagination__list">
								<li class="pagination__item"><a href="#" class="pagination__link">1</a></li>
								<li class="pagination__item"><a href="#" class="pagination__link pagination__link--active">2</a></li>
								<li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
								<li class="pagination__item"><a href="#" class="pagination__link pagination__link--dotted">...</a></li>
								<li class="pagination__item"><a href="#" class="pagination__link">8</a></li>
							</ul>
							<div class="pagination__right">
								<a href="#" class="btn-white">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two"></use>
									</svg>
									<span class="btn-white__text">Предыдущая</span>
								</a>
							</div>
						</div>
						
					</div>
					<div class="row-btn">
						<a href="#" class="btn-white"><span class="btn-white__text">Загрузить предыдущие галереи</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block Scripts %}
<script>
	const accUp = new Accordion(".accordion__up");

	accUp.createAccordion();
</script>
{% endblock %}