{% extends "__layout.njk" %}

{% block Link %}
	<link rel="stylesheet" href="css/flatpickr.min.css">
{% endblock %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Главная</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link">Связь с администрацией</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="content-page">
		<div class="container">
			<div class="row-title">
				<h2 class="title">Связь с администрацией</h2>				
			</div>
			<div class="grid-columns-three grid-columns-three--offset">
				<a href="#" class="post-popular-block">
					<div class="post-popular-block__wrap-img">
						<svg>
							<use xlink:href="img/sprite.svg#svg--popular-block-icon9">
						</svg>
					</div>
					<div class="post-popular-block__wrap-text">
						<span class="post-popular-block__caption">Написать обращение</span>
					</div>
				</a>
				<a href="#" class="post-popular-block">
					<div class="post-popular-block__wrap-img">
						<svg>
							<use xlink:href="img/sprite.svg#svg--popular-block-icon7">
						</svg>
					</div>
					<div class="post-popular-block__wrap-text">
						<span class="post-popular-block__caption">Сообщить о коррупции</span>
					</div>
				</a>
				<a href="#" class="post-popular-block">
					<div class="post-popular-block__wrap-img">
						<svg>
							<use xlink:href="img/sprite.svg#svg--popular-block-icon10">
						</svg>
					</div>
					<div class="post-popular-block__wrap-text">
						<span class="post-popular-block__caption">Он-лайн конференции</span>
					</div>
				</a>
			</div>
			<div class="center-area-one end-sect">
				<div class="block-accordions">
					<div class="accordion">
						<div class="accordion__up accordion-js">
							<span class="accordion__caption">Отдел по работе с обращениями граждан и организаций</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-two">
							</svg>
						</div>
						<div class="accordion__down">
							<div class="accordion__content">
								<div class="accordion__area">
									<p style="color: #FF9500;"><b>В связи с продлением режима «Повышенная готовность» и необходимостью принятия мер по нераспространению новой коронавирусной инфекции (COVID-2019) в администрации муниципального образования город Краснодар временно ограничен личный приём граждан с 13.07.2020.</b></p>
									<div>
										<span><span>Адрес:</span> г. Краснодар, ул. Длинная, 134</span>
										<span><span>Телефон:</span> <b>251-05-24</b> (горячая линия), <b>253-38-89, 255-89-30</b>.</span>
									</div>
									<h4>Рекомендуем обращаться в письменной форме:</h4>
									<ul>
										<li>Посредством почтовых отправлений по адресу: 350000 ул. Красная, 122, или через почтовые ящики, размещённые на здании приёмной по обращениям граждан по ул. Длинная, 134 и в фойе здания администрации по ул. Красная, 122.</li>
										<li>В адрес Интернет-приёмной на официальном интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара <a href="#">krd.ru.</a></li>
										<li>Телефон «горячая линия»отдела по работе с обращениями граждан и организаций управления делами администрации муниципального образования город Краснодар  <b>(861) 251-05-24</b></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion">
						<div class="accordion__up accordion-js">
							<span class="accordion__caption">График приема граждан по личным вопросам</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-two">
							</svg>
						</div>
						<div class="accordion__down">
							<div class="accordion__content">
								<div class="accordion__area">
									<p style="color: #FF9500;"><b>В связи с продлением режима «Повышенная готовность» и необходимостью принятия мер по нераспространению новой коронавирусной инфекции (COVID-2019) в администрации муниципального образования город Краснодар временно ограничен личный приём граждан с 13.07.2020.</b></p>
									<p>Предварительная запись на личный приём к главе муниципального образования город Краснодар и его заместителям ведётся в отделе по работе с обращениями граждан и организаций управления делами администрации муниципального образования город Краснодар по адресу: ул. Длинная, 134, телефон – 251-05-24, по письменному заявлению с изложением сути вопроса, который заявитель желает обсудить на личном приёме.</p>
								</div>
								<div class="accordion__wrap">
									{{ mixin.smRowHuman('Первышов Евгений Алексеевич', 'Глава муниципального образования город Краснодар') }}
									{{ mixin.smRowHuman('Галушко Вера Федоровна', 'Председатель городской Думы Краснодара') }}
								</div>
								<div class="accordion__wrap">
									<h4 class="accordion__title">Заместители главы МО город Краснодар:</h4>
									{{ mixin.smRowHuman('Наумов Евгений Михайлович', 'Первый заместитель главы муниципального образования город Краснодар. Координирует работу по вопросам архитектуры и строительства') }}
									{{ mixin.smRowHuman('Доронин Артем Эдуардович', 'Заместитель главы муниципального образования город Краснодар, координирует работу по вопросам транспорта и дорожного хозяйства') }}
									{{ mixin.smRowHuman('Доронин Артем Эдуардович', 'Заместитель главы муниципального образования город Краснодар, координирует работу по вопросам транспорта и дорожного хозяйства') }}
								</div>
								<div class="block-links-section">
								<a href="#" class="link-section">
									<span class="link-section__caption">Прием корреспонденции</span>
									<div class="link-section__wrap-arrow">
										<svg>
											<use xlink:href="img/sprite.svg#svg--arrow-link-two">
										</svg>
									</div>
								</a>
								<a href="#" class="link-section">
									<span class="link-section__caption">Телефоны горячих линий</span>
									<div class="link-section__wrap-arrow">
										<svg>
											<use xlink:href="img/sprite.svg#svg--arrow-link-two">
										</svg>
									</div>
								</a>
							</div>
							</div>
						</div>
					</div>
					<div class="accordion">
						<div class="accordion__up accordion-js">
							<span class="accordion__caption">Прием корреспонденции</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-two">
							</svg>
						</div>
						<div class="accordion__down">
							<div class="accordion__content">
								<div class="accordion__area">
									<div>
										<h5>Администрация Краснодара</h5>
										<span><span>Адрес:</span> г. Краснодар, ул. Длинная, 134</span>
										<span><span>Канцелярия:</span> ул.Красная, 122, 1 этаж, к.42.</span>
										<span><span>Телефоны:</span> <b>+7 (861) 255-13-94</b>, <b>+7 (861) 255-34-16</b>, факс <b>+7 (861) 255-40-68</b></span>
										<span><span>E-mail:</span> <a href="#">duma@krd.ru</a></span>
									</div>
									<div>
										<h5>Городская Дума Краснодара</h5>
										<span><span>Адрес:</span> г. Краснодар, ул. Длинная, 134</span>
										<span><span>Канцелярия:</span> ул.Красная, 122, 1 этаж, к.42.</span>
										<span><span>Телефоны:</span> <b>+7 (861) 255-13-94</b>, <b>+7 (861) 255-34-16</b>, факс <b>+7 (861) 255-40-68</b></span>
										<span><span>E-mail:</span> <a href="#">duma@krd.ru</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion">
						<div class="accordion__up accordion-js">
							<span class="accordion__caption">Телефоны горячих линий</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-two">
							</svg>
						</div>
						<div class="accordion__down" data-accordion-content>
							<div class="accordion__content">
								<div class="accordion">
									<div class="accordion__up accordion-js">
										<span class="accordion__caption accordion__caption--sm">Телефоны ЕДДС</span>
										<svg>
											<use xlink:href="img/sprite.svg#svg--arrow-two">
										</svg>
									</div>
									<div class="accordion__down">
										<div class="accordion__content">
											<div class="accordion__area">
												<span><span>Диспетчер городской электросети:</span> <b>(861)255-45-66, 076</b></span>
												<span><span>Диспетчер городской электросети:</span> <b>(861)255-45-66, 076</b></span>
												<span><span>Диспетчер городской электросети:</span> <b>(861)255-45-66, 076</b></span>
												<span><span>Диспетчер городской электросети:</span> <b>(861)255-45-66, 076</b></span>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion">
									<div class="accordion__up accordion-js">
										<span class="accordion__caption accordion__caption--sm">Телефоны ЕДДС</span>
										<svg>
											<use xlink:href="img/sprite.svg#svg--arrow-two">
										</svg>
									</div>
									<div class="accordion__down">
										<div class="accordion__content">
											<div class="accordion__area">
												<span><span>Диспетчер городской электросети:</span> <b>(861)255-45-66, 076</b></span>
												<span><span>Диспетчер городской электросети:</span> <b>(861)255-45-66, 076</b></span>
												<span><span>Диспетчер городской электросети:</span> <b>(861)255-45-66, 076</b></span>
												<span><span>Диспетчер городской электросети:</span> <b>(861)255-45-66, 076</b></span>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion">
									<div class="accordion__up accordion-js">
										<span class="accordion__caption accordion__caption--sm">Телефон "горячей линии" отдела по работе с промышленными и туристскими предприятиями департамента экономического развития, инвестиций и внешних связей</span>
										<svg>
											<use xlink:href="img/sprite.svg#svg--arrow-two">
										</svg>
									</div>
									<div class="accordion__down">
										<div class="accordion__content">
											<div class="accordion__area">
												<span><span>Диспетчер городской электросети:</span> <b>(861)255-45-66, 076</b></span>
												<span><span>Диспетчер городской электросети:</span> <b>(861)255-45-66, 076</b></span>
												<span><span>Диспетчер городской электросети:</span> <b>(861)255-45-66, 076</b></span>
												<span><span>Диспетчер городской электросети:</span> <b>(861)255-45-66, 076</b></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "include/modal.njk" %}
{% endblock %}

{% block Scripts %}
	<script>
		const accUp = new Accordion(".accordion__up");

		accUp.createAccordion();
	</script>
{% endblock %}