{% extends "__layout.njk" %}

{% block Link %}
	<link rel="stylesheet" href="css/swiper.css">
{% endblock %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Главная</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link">Структура администрации</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="inner-grid-page inner-grid-page--sm-bottom">
		<div class="container">
			<div class="inner-grid-page__wrapper">
				<div class="inner-grid-page__left">
					<div class="link-menu">
						<div class="link-menu__up accordion-js">
							<span class="link-menu__caption">Департамент архитектуры и градостроительства</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-three">
							</svg>
						</div>
						<ul class="link-menu__list">
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Города побратимы</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Вопросы и ответы</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>О департаменте</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Городская среда</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Услуги</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Отдел территориального планирования</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Муниципальные услуги</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Информационные сообщения в сфере землепользования и застройки</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Часто задаваемые вопросы</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Подведомственные организации</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="inner-grid-page__right">					
					<div class="row-title">
						<h2 class="title">Департамент архитектуры и градостроительства</h2>		
					</div>
					<div class="popular-grid popular-grid--change">
						<a href="#" class="post-popular-block">
							<div class="post-popular-block__wrap-img">
								<svg>
									<use xlink:href="img/sprite.svg#svg--popular-block-icon11">
								</svg>
							</div>
							<div class="post-popular-block__wrap-text">
								<span class="post-popular-block__caption">Сссылка со стандартной общей иконкой</span>
							</div>
						</a>
						<a href="#" class="post-popular-block">
							<div class="post-popular-block__wrap-img">
								<svg>
									<use xlink:href="img/sprite.svg#svg--popular-block-icon12">
								</svg>
							</div>
							<div class="post-popular-block__wrap-text">
								<span class="post-popular-block__caption">Городская среда</span>
							</div>
						</a>
						<a href="#" class="post-popular-block">
							<div class="post-popular-block__wrap-img">
								<svg>
									<use xlink:href="img/sprite.svg#svg--popular-block-icon13">
								</svg>
							</div>
							<div class="post-popular-block__wrap-text">
								<span class="post-popular-block__caption">Вакансии в департаменте</span>
							</div>
						</a>
					</div>
					<div class="news-slider">
						<div class="news-slider__container swiper-container">
							<div class="news-slider__wrapper swiper-wrapper">
								<div class="news-slider__slide swiper-slide">
									<a href="#" class="news-slider__wrap">
										<div class="news-slider__wrap-img">
											<picture>
												<source srcset="img/news-slider-img1.webp" type="image/webp">
												<source srcset="img/news-slider-img1.jpg" type="image/jpeg">
												<img src="img/news-slider-img1.jpg" alt="">
											</picture>
										</div>
										<div class="news-slider__wrap-text">
											<h4 class="news-slider__caption">Краснодарский транзит</h4>
											<span class="news-slider__text">Подробнее о проекте</span>
										</div>
									</a>
								</div>
								<div class="news-slider__slide swiper-slide">
									<a href="#" class="news-slider__wrap">
										<div class="news-slider__wrap-img">
											<picture>
												<source srcset="img/news-slider-img1.webp" type="image/webp">
												<source srcset="img/news-slider-img1.jpg" type="image/jpeg">
												<img src="img/news-slider-img1.jpg" alt="">
											</picture>
										</div>
										<div class="news-slider__wrap-text">
											<h4 class="news-slider__caption">Краснодарский транзит</h4>
											<span class="news-slider__text">Подробнее о проекте</span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="news-slider__arrow news-slider__arrow--prev">
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-one">
							</svg>
						</div>
						<div class="news-slider__arrow news-slider__arrow--next">
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-one">
							</svg>
						</div>
					</div>
						
					<div class="row-title">
						<h2 class="title">Новости</h2>
						<a href="#" class="link-more">
							<span>Все новости</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-link">
							</svg>
						</a>
					</div>
					<div class="main-news__wrapper main-news__wrapper--change-two">
						<div class="main-news__grid main-news__grid--change">
							<a href="#" class="lg-block-news">
								<div class="lg-block-news__wrapper">
									<div class="lg-block-news__wrap-img">
										<picture>
											<source srcset="img/lg-news1.webp" type="image/webp">
											<source srcset="img/lg-news1.jpg" type="image/jpeg">
											<img src="img/lg-news1.jpg" alt="">
										</picture>
									</div>
									<div class="lg-block-news__down">
										<div class="lg-block-news__wrap-text">
											<h3>Откачку дождевой воды в Краснодаре продолжат в ночь с 10 на 11 февраля</h3>
										</div>
										<div class="lg-block-news__row">
											<span class="info-text date">10 февраля 2021,</span>
											<span class="info-text time">10:24</span>
										</div>
									</div>
								</div>
							</a>
							<a href="#" class="md-block-news">
								<div class="md-block-news__wrapper">
									<div class="md-block-news__wrap-img">
										<picture>
											<source srcset="img/sm-news1.webp" type="image/webp">
											<source srcset="img/sm-news1.jpg" type="image/jpeg">
											<img src="img/sm-news1.jpg" alt="">
										</picture>
									</div>
									<div class="md-block-news__down">
										<div class="md-block-news__wrap-text">
											<h3>Более четырёх тысяч человек прошли вакцинацию против коронавируса в мобильных пунктах Краснодара</h3>
										</div>
										<div class="md-block-news__row">
											<span class="info-text date">10 февраля 2021,</span>
											<span class="info-text time">10:24</span>
										</div>
									</div>
								</div>
							</a>
							<a href="#" class="md-block-news md-block-news--sm">
								<div class="md-block-news__wrapper">
									<div class="md-block-news__down">
										<div class="md-block-news__wrap-text">
											<h3>Более четырёх тысяч человек прошли вакцинацию против коронавируса в мобильных пунктах Краснодара</h3>
										</div>
										<div class="md-block-news__row">
											<span class="info-text date">10 февраля 2021,</span>
											<span class="info-text time">10:24</span>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>							
					
					<div class="services-to-citizens services-to-citizens--change-offset">
						<div class="row-title">
							<h2 class="title">Услуги горожанам</h2>
							<a href="#" class="link-more">
								<span>Все услуги</span>
								<svg>
									<use xlink:href="img/sprite.svg#svg--arrow-link">
								</svg>
							</a>
						</div>
						<div class="services-to-citizens__wrapper services-to-citizens__wrapper--change">
							<a href="#" class="services-post">
								<span class="services-post__wrapper">
									<div class="services-post__wrap-icon"><img src="img/svg/service1.svg" alt=""></div>
									<span class="services-post__wrap-text">
										<h3>Регистрация по месту пребывания</h3>
									</span>
								</span>
							</a>
							<a href="#" class="services-post">
								<span class="services-post__wrapper">
									<div class="services-post__wrap-icon"><img src="img/svg/service2.svg" alt=""></div>
									<span class="services-post__wrap-text">
										<h3>Продажа автомобиля салону или частному лицу</h3>
									</span>
								</span>
							</a>
							<a href="#" class="services-post">
								<span class="services-post__wrapper">
									<div class="services-post__wrap-icon"><img src="img/svg/service3.svg" alt=""></div>
									<span class="services-post__wrap-text">
										<h3>Предоставление предварительных результатов ЕГЭ</h3>
									</span>
								</span>
							</a>
							<a href="#" class="services-post">
								<span class="services-post__wrapper">
									<div class="services-post__wrap-icon"><img src="img/svg/service4.svg" alt=""></div>
									<span class="services-post__wrap-text">
										<h3>Извещение о состоянии лицевого счета в ПФР</h3>
									</span>
								</span>
							</a>
						</div>
					</div>


					<div class="faq-block faq-block--change-two">
						<div class="row-title">
							<h2 class="title">Часто задаваемые вопросы</h2>
							<a href="#" class="link-more">
								<span>Все вопросы</span>
								<svg>
									<use xlink:href="img/sprite.svg#svg--arrow-link">
								</svg>
							</a>
						</div>
						<div class="block-accordions">
							<div class="accordion">
								<div class="accordion__up accordion__up--change accordion-js">
									<svg>
										<use xlink:href="img/sprite.svg#svg--question-icon">
									</svg>
									<span class="accordion__caption">Расскажите о проекте «Краснодарский транзит». Как будут решаться вопросы с собственниками земельных участков?</span>
								</div>
								<div class="accordion__down">
									<div class="accordion__content accordion__content--change">
										<div class="answer">
											<svg>
												<use xlink:href="img/sprite.svg#svg--answer-icon">
											</svg>
											<div>
												<span>С января по июнь 2010 года на территории муниципального образования город Краснодар введено в эксплуатацию 387 индивидуальных жилых домов, общей площадью 75,994 тыс.кв.м., 48 многоквартирных жилых домов и 47 двухэтажных жилых домов в коттеджном комплексе «Екатериновка» от ЗАО «Кубань Инвест», всего 6866 квартир, общей площадью 491,324 тыс.кв.м..  Итого: с января по июнь 2010 года введено в эксплуатацию 567,318 тыс.кв.м. жилья. В соответствии с утвержденным планом ввода жилья на 2010 год темп роста составляет 142%. Лидерами по вводу жилья в эксплуатацию в период с января по июнь 2010 года являются: ООО «Фирма «Нефтестройиндустрия - Юг»; ООО «ОБД-Инвест»; ООО «Мастерстрой»; ЗАО «Кубаньстройпроект»; ООО «Южно-региональный строительный комплекс».</span>
												<span>С января по июнь 2010 года на территории муниципального образования город Краснодар введено в эксплуатацию 387 индивидуальных жилых домов, общей площадью 75,994 тыс.кв.м., 48 многоквартирных жилых домов и 47 двухэтажных жилых домов в коттеджном комплексе «Екатериновка» от ЗАО «Кубань Инвест», всего 6866 квартир, общей площадью 491,324 тыс.кв.м..  Итого: с января по июнь 2010 года введено в эксплуатацию 567,318 тыс.кв.м. жилья. В соответствии с утвержденным планом ввода жилья на 2010 год темп роста составляет 142%. Лидерами по вводу жилья в эксплуатацию в период с января по июнь 2010 года являются: ООО «Фирма «Нефтестройиндустрия - Юг»; ООО «ОБД-Инвест»; ООО «Мастерстрой»; ЗАО «Кубаньстройпроект»; ООО «Южно-региональный строительный комплекс».</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="accordion">
								<div class="accordion__up accordion__up--change accordion-js">
									<svg>
										<use xlink:href="img/sprite.svg#svg--question-icon">
									</svg>
									<span class="accordion__caption">Сколько квадратных метров жилья введено в эксплуатацию в 1 полугодии 2010 года? Выполняется ли план по вводу жилья? Кто является лидером по вводу жилья на территории города?</span>
								</div>
								<div class="accordion__down">
									<div class="accordion__content accordion__content--change">
										<div class="answer">
											<svg>
												<use xlink:href="img/sprite.svg#svg--answer-icon">
											</svg>
											<div>
												<span>С января по июнь 2010 года на территории муниципального образования город Краснодар введено в эксплуатацию 387 индивидуальных жилых домов, общей площадью 75,994 тыс.кв.м., 48 многоквартирных жилых домов и 47 двухэтажных жилых домов в коттеджном комплексе «Екатериновка» от ЗАО «Кубань Инвест», всего 6866 квартир, общей площадью 491,324 тыс.кв.м..  Итого: с января по июнь 2010 года введено в эксплуатацию 567,318 тыс.кв.м. жилья. В соответствии с утвержденным планом ввода жилья на 2010 год темп роста составляет 142%. Лидерами по вводу жилья в эксплуатацию в период с января по июнь 2010 года являются: ООО «Фирма «Нефтестройиндустрия - Юг»; ООО «ОБД-Инвест»; ООО «Мастерстрой»; ЗАО «Кубаньстройпроект»; ООО «Южно-региональный строительный комплекс».</span>
												<span>С января по июнь 2010 года на территории муниципального образования город Краснодар введено в эксплуатацию 387 индивидуальных жилых домов, общей площадью 75,994 тыс.кв.м., 48 многоквартирных жилых домов и 47 двухэтажных жилых домов в коттеджном комплексе «Екатериновка» от ЗАО «Кубань Инвест», всего 6866 квартир, общей площадью 491,324 тыс.кв.м..  Итого: с января по июнь 2010 года введено в эксплуатацию 567,318 тыс.кв.м. жилья. В соответствии с утвержденным планом ввода жилья на 2010 год темп роста составляет 142%. Лидерами по вводу жилья в эксплуатацию в период с января по июнь 2010 года являются: ООО «Фирма «Нефтестройиндустрия - Юг»; ООО «ОБД-Инвест»; ООО «Мастерстрой»; ЗАО «Кубаньстройпроект»; ООО «Южно-региональный строительный комплекс».</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="accordion">
								<div class="accordion__up accordion__up--change accordion-js">
									<svg>
										<use xlink:href="img/sprite.svg#svg--question-icon">
									</svg>
									<span class="accordion__caption">Расскажите о проекте «Краснодарский транзит». Как будут решаться вопросы с собственниками земельных участков?</span>
								</div>
								<div class="accordion__down">
									<div class="accordion__content accordion__content--change">
										<div class="answer">
											<svg>
												<use xlink:href="img/sprite.svg#svg--answer-icon">
											</svg>
											<div>
												<span>С января по июнь 2010 года на территории муниципального образования город Краснодар введено в эксплуатацию 387 индивидуальных жилых домов, общей площадью 75,994 тыс.кв.м., 48 многоквартирных жилых домов и 47 двухэтажных жилых домов в коттеджном комплексе «Екатериновка» от ЗАО «Кубань Инвест», всего 6866 квартир, общей площадью 491,324 тыс.кв.м..  Итого: с января по июнь 2010 года введено в эксплуатацию 567,318 тыс.кв.м. жилья. В соответствии с утвержденным планом ввода жилья на 2010 год темп роста составляет 142%. Лидерами по вводу жилья в эксплуатацию в период с января по июнь 2010 года являются: ООО «Фирма «Нефтестройиндустрия - Юг»; ООО «ОБД-Инвест»; ООО «Мастерстрой»; ЗАО «Кубаньстройпроект»; ООО «Южно-региональный строительный комплекс».</span>
												<span>С января по июнь 2010 года на территории муниципального образования город Краснодар введено в эксплуатацию 387 индивидуальных жилых домов, общей площадью 75,994 тыс.кв.м., 48 многоквартирных жилых домов и 47 двухэтажных жилых домов в коттеджном комплексе «Екатериновка» от ЗАО «Кубань Инвест», всего 6866 квартир, общей площадью 491,324 тыс.кв.м..  Итого: с января по июнь 2010 года введено в эксплуатацию 567,318 тыс.кв.м. жилья. В соответствии с утвержденным планом ввода жилья на 2010 год темп роста составляет 142%. Лидерами по вводу жилья в эксплуатацию в период с января по июнь 2010 года являются: ООО «Фирма «Нефтестройиндустрия - Юг»; ООО «ОБД-Инвест»; ООО «Мастерстрой»; ЗАО «Кубаньстройпроект»; ООО «Южно-региональный строительный комплекс».</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row-title">
						<h2 class="title">Подведомственные организации</h2>
						<a href="#" class="link-more">
							<span>Все организации</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-link">
							</svg>
						</a>
					</div>
					<div class="block-links-section block-links-section--change">
						<a href="#" class="link-section">
							<div class="link-section__wrap-text">
								<span class="link-section__caption">Муниципальное казённое учреждение муниципального образования город Краснодар «Информационный центр по обеспечению градостроительной деятельности муниципального образования город Краснодар»</span>
								<span class="link-section__text"><span>Адрес:</span> 350000, г. Краснодар, ул. Коммунаров, 173</span>
							</div>							
							<div class="link-section__wrap-arrow">
								<svg>
									<use xlink:href="img/sprite.svg#svg--arrow-link-two">
								</svg>
							</div>
						</a>
						<a href="#" class="link-section">
							<div class="link-section__wrap-text">
								<span class="link-section__caption">Муниципальное бюджетное учреждение «Институт Горкадастрпроект» муниципального образования город Краснодар</span>
								<span class="link-section__text"><span>Адрес:</span> 350000, г. Краснодар, ул. Коммунаров, 173</span>
								<span class="link-section__text"><span>Адрес:</span> <b>8 861 255-34-64</b></span>
							</div>							
							<div class="link-section__wrap-arrow">
								<svg>
									<use xlink:href="img/sprite.svg#svg--arrow-link-two">
								</svg>
							</div>
						</a>
					</div>

					<div class="row-title">
						<h2 class="title">Контакты</h2>
					</div>
					<div class="block-text-area">
						<p><b>Адрес:</b> 350015, г.Краснодар, ул.Коммунаров, 173</p>
						<p><b>Телефоны:</b> <b>298-01-20</b></p>
						<p><b>Адрес электронной почты:</b> <a href="#">str@krd.ru</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block Scripts %}
	<script src="js/swiper.min.js"></script>
	<script>
		var swiper = new Swiper(".news-slider__container", {
			loop: true,
			navigation: {
				nextEl: ".news-slider__arrow--next",
				prevEl: ".news-slider__arrow--prev",
			},
		});

		const accUp = new Accordion(".accordion__up");

		accUp.createAccordion();
	</script>
{% endblock %}