{% extends "__layout.njk" %}

{% block Link %}
	<link rel="stylesheet" href="css/flatpickr.min.css">
	<link rel="stylesheet" href="css/choices.min.css">
{% endblock %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Главная</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link">Главные новости</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="content-page">
		<div class="container">
			<div class="row-title row-title--change">
				<h2 class="title">Словарь сокращений и аббревиатур</h2>
			</div>
		</div>
		<div class="filter-dictionary gray-bg">
			<div class="container">
				<div class="filter-dictionary__wrapper">
					<div class="filter-dictionary__item"><span>а</span></div>
					<div class="filter-dictionary__item"><span>б</span></div>
					<div class="filter-dictionary__item"><span>в</span></div>
					<div class="filter-dictionary__item"><span>г</span></div>
					<div class="filter-dictionary__item"><span>д</span></div>
					<div class="filter-dictionary__item"><span>е</span></div>
					<div class="filter-dictionary__item"><span>ж</span></div>
					<div class="filter-dictionary__item"><span>з</span></div>
					<div class="filter-dictionary__item"><span>и</span></div>
					<div class="filter-dictionary__item"><span>к</span></div>
					<div class="filter-dictionary__item"><span>л</span></div>
					<div class="filter-dictionary__item"><span>м</span></div>
					<div class="filter-dictionary__item"><span>н</span></div>
					<div class="filter-dictionary__item"><span>о</span></div>
					<div class="filter-dictionary__item"><span>п</span></div>
					<div class="filter-dictionary__item"><span>р</span></div>
					<div class="filter-dictionary__item"><span>с</span></div>
					<div class="filter-dictionary__item"><span>т</span></div>
					<div class="filter-dictionary__item"><span>у</span></div>
					<div class="filter-dictionary__item"><span>х</span></div>
					<div class="filter-dictionary__item"><span>ц</span></div>
					<div class="filter-dictionary__item"><span>ч</span></div>
					<div class="filter-dictionary__item"><span>ш</span></div>
					<div class="filter-dictionary__item"><span>э</span></div>
					<div class="filter-dictionary__item"><span>ю</span></div>
					<div class="filter-dictionary__item"><span>я</span></div>
				</div>
			</div>
		</div>
		<div class="dictionary-results">
			<div class="container">
				<div class="dictionary-results__wrapper">
					<div class="dictionary-results__item">
						<div class="dictionary-results__item-wrapper">
							<span class="dictionary-results__key">А.</span>
							<div class="dictionary-results__wrap">
								<div>
									<h5>Автоматизированная система (AC)</h5>
									<span>Система программных и аппаратных средств, предназначенных для автоматизации процесса деятельности человека. В отличие от автоматической системы АС всегда функционирует при участии человека, и человек является ее главным звеном.</span>
								</div>
								<div>
									<h5>Автоматизированное рабочее место (АРМ)</h5>
									<span>Программно-технический комплекс, предназначенный для автоматизации деятельности определенного вида. При разработке АРМ для управления технологическим оборудованием как правило используют SCADA-системы.</span>
								</div>
								<div>
									<h5>Архив</h5>
									<span>Совокупность архивных документов, а также архивное учреждение или структурное подразделение учреждения, организации или предприятия, осуществляющее прием и хранение архивных документов в интересах пользователей.</span>
								</div>
								<div>
									<h5>Архиватор</h5>
									<span>Программа или комплекс программ, выполняющие сжатие (архивирование) файлов для более компактного длительного хранения во внешней памяти и восстановление сжатых файлов в первоначальном виде (разархивирование). В персональных компьютерах наиболее распространены архиваторы PKZIP, ARJ, RAR.</span>
									<span><b>Все они предоставляют возможность более компактного хранения файлов на дисках и позволяют:</b></span>
									<ol>
										<li><span>Упаковывать все, отдельные или соответствующие какому-либо шаблону файлы рабочего каталога в архивный файл;</span></li>
										<li><span>Добавлять файлы в архивный файл;</span></li>
										<li><span>Удалять файлы из архивного файла;</span></li>
										<li><span>Просматривать содержимое архивного файла;</span></li>
										<li><span>Извлекать из архивного файла отдельные файлы или распаковывать все файлы архива;</span></li>
										<li><span>Создавать самораспаковывающиеся архивные файлы, не требующие программы разархивирования на системе назначения.</span></li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					<div class="dictionary-results__item">
						<div class="dictionary-results__item-wrapper">
							<span class="dictionary-results__key">Б.</span>
							<div class="dictionary-results__wrap">
								<div>
									<h5>Безопасность информации</h5>
									<span>Состояние информации, характеризуемое способностью ее носителя (объекта информатизации, сети передачи данных и т. п.) обеспечивать требования, предъявляемые к таким свойствам, как конфиденциальность, целостность и доступность информации при ее обработке, хранении и передаче.</span>
								</div>
								<div>
									<h5>Безопасность</h5>
									<span>Состояние защищенности жизненно важных интересов личности, общества и государства от внутренних и внешних угроз.</span>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "include/modal.njk" %}
{% endblock %}

{% block Scripts %}
	<script>
		(function () {
			window.addEventListener("click", function (event) {

				if (event.target.classList.contains("filter-dictionary__item")) {
					if (event.target.classList.contains("filter-dictionary__item--active")) {
						event.target.classList.remove("filter-dictionary__item--active");
					} else {
						event.target.classList.add("filter-dictionary__item--active");
					}
				};

			});
		})();
	</script>
	
{% endblock %}