{% extends "__layout.njk" %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs__scroll">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Главная</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Пункт меню</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Пункт меню</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<span class="breadcrumbs__link">Гостям города</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="inner-grid-page">
		<div class="container">			
			<div class="text-page">
				<div class="center-area-two center-area-two--change">
					<div class="text-page__up text-page__up--change">
						<a href="#" class="link-more">
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-two">
							</svg>
							<span>Назад к списку</span>
						</a>
            <div class="flex-wrap-topic">
              <a href="#" class="topic-item topic-item--change topic-item--change-collor">
                <div class="topic-item__wrapper">
                  <span class="topic-item__text">Официальное опубликование</span>
                </div>
              </a>
            </div>
						<h2 class="title">Заключение о результатах публичных слушаний по проекту решения городской Думы Краснодара «О внесении изменений в Устав муниципального образования город Краснодар»</h2>
            <span class="info-text date">05 марта 2021, 10:24</span>
					</div>
          <div class="block-text-area block-text-area--change border-bottom">
            <p><b>Наименование разработчика:</b> Департамент архитектуры и градостроительства администрации муниципального образования город Краснодар</p>
            <p><b>Дата размещения:</b> 17.02.2020</p>
            <p><b>Срок подготовки экспертного заключения:</b> 4.02.2020</p>
            <p><b>Адрес электронной почты:</b> <a href="mailto:v.domrin@krd.ru">v.domrin@krd.ru</a></p>
          </div>
					<div class="text-page__area">
						<div class="text-page__wrap">
							<div class="center-area-one center-one-change-tablet">
								<p>Публичные слушания назначены постановлением администрации муниципального образования город Краснодар от 27.07.2020 № 2855 «О проведении публичных слушаний по проекту решения городской Думы Краснодара «О внесении изменений в Устав муниципального образования город Краснодар».</p>
                <p>Тема, вопросы, вынесенные на публичные слушания: Проект решения городской Думы Краснодара «О внесении изменений в Устав муниципального образования город Краснодар».</p>
                <p>Форма проведения публичных слушаний: собрание участников публичных слушаний.</p>
                <p>Место проведения публичных слушаний: г. Краснодар, ул. Калинина, 339 (актовый зал).</p>
                <p>Дата проведения публичных слушаний: «12» августа 2020 года</p>
							</div>
						</div>
					</div>
				</div>
        <div class="center-area-two center-area-two--change offset-area">
          <div class="block-link-doc">
            <div class="link-doc">
              <div class="link-doc__wrap-icon">
                <svg>
                  <use xlink:href="img/sprite.svg#svg--doc">
                </svg>
                <span class="link-doc__file-name">xls</span>
              </div>
              <div class="link-doc__flex">
                <div class="link-doc__wrap-text">
                  <div class="link-doc__row-caption">
                    <a href="#" class="link-doc__caption">Пример заголовка документа для скачивания</a>                    
                  </div>
                  <span class="link-doc__info">PDF (2,45 МБ)</span>
                </div>
                <a href="#" class="btn-white">
                  <span class="btn-white__text">Смотреть</span>
                </a>
              </div>
            </div>
            <div class="link-doc">
              <div class="link-doc__wrap-icon">
                <svg>
                  <use xlink:href="img/sprite.svg#svg--doc">
                </svg>
                <span class="link-doc__file-name">xls</span>
              </div>
              <div class="link-doc__flex">
                <div class="link-doc__wrap-text">
                  <div class="link-doc__row-caption">
                    <a href="#" class="link-doc__caption">Заключение о результатах публичных слушаний по проекту решения городской Думы Краснодара «О внесении изменений в Устав муниципального образования город Краснодар»</a>                    
                  </div>
                  <span class="link-doc__info">PDF (2,45 МБ)</span>
                </div>
                <a href="#" class="btn-white">
                  <span class="btn-white__text">Смотреть</span>
                </a>
              </div>
            </div>
            <div class="link-doc">
              <div class="link-doc__wrap-icon">
                <svg>
                  <use xlink:href="img/sprite.svg#svg--doc">
                </svg>
                <span class="link-doc__file-name">xls</span>
              </div>
              <div class="link-doc__flex">
                <div class="link-doc__wrap-text">
                  <div class="link-doc__row-caption">
                    <a href="#" class="link-doc__caption">Пример заголовка документа для скачивания</a>
                    
                  </div>
                  <span class="link-doc__info">PDF (2,45 МБ)</span>
                </div>
                <a href="#" class="btn-white">
                  <span class="btn-white__text">Смотреть</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        
			</div>			
		</div>
	</section>
{% endblock %}

{% block Scripts %}
{% endblock %}