{% extends "__layout.njk" %}

{% block Link %}
	<link rel="stylesheet" href="css/flatpickr.min.css">
{% endblock %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs__scroll">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Главная</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Пункт меню</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Пункт меню</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<span class="breadcrumbs__link">Главные новости</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="content-page">
		<div class="container">
			<div class="row-title">
				<h2 class="title">Фотогалереи</h2>		
				<div class="row-title__wrap">
					<a href="#" class="link-change" data-click-modal="calendar">
						<span class="link-change__text">Календарь</span>
						<svg><use xlink:href="img/sprite.svg#svg--calendar"></svg>
					</a>
					<a href="#" class="link-change" data-click-modal="topic">
						<span class="link-change__text">Темы</span>
						<svg><use xlink:href="img/sprite.svg#svg--topics"></svg>
					</a>
				</div>
			</div>
		</div>
		<div class="gallery-grid">
			<div class="container">
				<div class="gallery-grid__wrapper">
					{{ mixin.galleryPost('gallery-post1', 'Пример названия галереи', '05 марта 2021, 28 фото') }}
					{{ mixin.galleryPost('gallery-post2', 'Пример названия галереи, название может быть длинным и идти в несколько строк', '05 марта 2021, 28 фото') }}
					{{ mixin.galleryPost('gallery-post3', 'Пример названия галереи', '05 марта 2021, 28 фото') }}

					{{ mixin.galleryPost('gallery-post3', 'Пример названия галереи', '05 марта 2021, 28 фото') }}
					{{ mixin.galleryPost('gallery-post1', 'Пример названия галереи', '05 марта 2021, 28 фото') }}
					{{ mixin.galleryPost('gallery-post2', 'Пример названия галереи', '05 марта 2021, 28 фото') }}

					{{ mixin.galleryPost('gallery-post3', 'Пример названия галереи', '05 марта 2021, 28 фото') }}
					{{ mixin.galleryPost('gallery-post1', 'Пример названия галереи', '05 марта 2021, 28 фото') }}
					{{ mixin.galleryPost('gallery-post2', 'Пример названия галереи', '05 марта 2021, 28 фото') }}
					{{ mixin.galleryPost('gallery-post2', 'Пример названия галереи', '05 марта 2021, 28 фото') }}
					{{ mixin.galleryPost('gallery-post2', 'Пример названия галереи', '05 марта 2021, 28 фото') }}
					{{ mixin.galleryPost('gallery-post2', 'Пример названия галереи', '05 марта 2021, 28 фото') }}
				</div>
			</div>
		</div>
		<div class="pagination">
			<div class="container">
				<div class="pagination__wrapper">
					<div class="pagination__left">
						<a href="#" class="btn-white">
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-two"></use>
							</svg>
							<span class="btn-white__text">Предыдущая</span>
						</a>
					</div>
					<ul class="pagination__list">
						<li class="pagination__item"><a href="#" class="pagination__link">1</a></li>
						<li class="pagination__item"><a href="#" class="pagination__link pagination__link--active">2</a></li>
						<li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
						<li class="pagination__item"><a href="#" class="pagination__link">4</a></li>
						<li class="pagination__item"><a href="#" class="pagination__link">5</a></li>
						<li class="pagination__item"><a href="#" class="pagination__link">6</a></li>
						<li class="pagination__item"><a href="#" class="pagination__link pagination__link--dotted">...</a></li>
						<li class="pagination__item"><a href="#" class="pagination__link">8</a></li>
					</ul>
					<div class="pagination__right">
						<a href="#" class="btn-white">
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-two"></use>
							</svg>
							<span class="btn-white__text">Предыдущая</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row-btn">
			<div class="container">
				<a href="#" class="btn-white"><span class="btn-white__text">Загрузить предыдущие галереи</span></a>
			</div>
		</div>
	</section>
	{% include "include/modal.njk" %}
{% endblock %}

{% block Scripts %}
	<script src="js/flatpickr.js"></script>
	<script src="js/flatpickr-ru.js"></script>
	<script>
		let calendarDateOne = flatpickr("#date1", {
			inline: true,
			"locale": "ru",
			dateFormat: "Y-m-d",
			monthSelectorType: "static",
			nextArrow: "<svg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9 1L9 19M9 19L17 10.9543M9 19L1 10.9543' stroke-width='2' stroke-linecap='round'/></svg>",
			prevArrow: "<svg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9 1L9 19M9 19L17 10.9543M9 19L1 10.9543' stroke-width='2' stroke-linecap='round'/></svg>",
			onValueUpdate: function() {
				const btnClear = this.calendarContainer.nextElementSibling;
				btnClear.style.display = "flex";
    	},
		});
		clearCalendar(calendarDateOne);
		
		let calendarPeriod = flatpickr("#period1", {
			inline: true,
			"locale": "ru",
			dateFormat: "Y-m-d",
			monthSelectorType: "static",
			nextArrow: "<svg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9 1L9 19M9 19L17 10.9543M9 19L1 10.9543' stroke-width='2' stroke-linecap='round'/></svg>",
			prevArrow: "<svg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9 1L9 19M9 19L17 10.9543M9 19L1 10.9543' stroke-width='2' stroke-linecap='round'/></svg>",
			mode: "range",
			onValueUpdate: function() {
				const btnClearTwo = this.calendarContainer.nextElementSibling;
				btnClearTwo.style.display = "flex";
    	},
		});
		clearCalendar(calendarPeriod);

		tabs();

		let Scrollbar = window.Scrollbar;

  	Scrollbar.init(document.querySelector('.topic-block__scroll'));

		// Поиск темы

		function changeTopic() {
			const parentLi = document.querySelector("#items");
			const filter = document.querySelector("#filter");

			filter.addEventListener("keyup", filterItems);

			function filterItems(event) {
				const searchedText = event.target.value.toLowerCase();
				const items = parentLi.querySelectorAll("li");


				items.forEach(function (item) {
					// Получаем текст задачи из списка и переводим в нижний регистр
					const itemText = item.querySelector(".topic-block__item .check-row__text").textContent.toLowerCase();

					// Проверяем вхождение искомой подстроки в текст задачи
					if (itemText.indexOf(searchedText) != -1) {
						// Если вхождение есть - показываем элемент с задачей
						item.style.display = "block";
						item.classList.add("show-item");
					} else {
						// Если вхождения нет - скрываем элемент с задачей
						item.style.display = "none";
						item.classList.remove("show-item");
					};
				});

				const classTest = parentLi.querySelectorAll(".show-item");
				const addLi = '<span class="mesage-find">Не найдено!</span>';
				const classAddLi = document.querySelector(".topic-block").querySelectorAll(".mesage-find");

				if (classTest.length == 0 && classAddLi.length < 1) {
					document.querySelector(".topic-block__scroll").insertAdjacentHTML('afterend', addLi);
				} else if (classTest.length > 0) {
					document.querySelector(".topic-block").querySelector(".mesage-find").remove();
				};
			};
		};

		const arrChecked = [];

		function addTopic() {
			const parenTopicHtml = document.querySelector(".wrapper-topic");
			const inputCheck = document.querySelectorAll(".topic-block__item input");

			inputCheck.forEach(function (item) {
				item.addEventListener("change", function (event) {
					const textItem = item.closest(".topic-block__item").querySelector(".check-row__text").textContent.replace(/\s*\(.+?\)$/gm, '');
					let itemObj = {
						id: item.closest(".topic-block__item").getAttribute('id'),
						text: textItem
					};

					function checkArrChecked(i) {
						return i.id === itemObj.id;
					};

					if (item.checked) {
						if (arrChecked.find(checkArrChecked)) {} else {
							arrChecked.push(itemObj);
						}
					} else {
						if (arrChecked.find(checkArrChecked)) {
							const indexItem = arrChecked.findIndex(checkArrChecked);
							arrChecked.splice(indexItem, 1);
						};
					};

					parenTopicHtml.innerHTML = "";

					arrChecked.forEach(function (arrItem) {
						parenTopicHtml.insertAdjacentHTML('beforeend', `<div class="topic-item" data-id="${arrItem.id}"><div class="topic-item__wrapper"><span class="topic-item__text">${arrItem.text}</span><span class="topic-item__close"></span></div></div>`);
					});
					// return arrChecked;
				});
			});

			const arrTopic = document.querySelectorAll(".topic-block__item");

			parenTopicHtml.addEventListener("click", function (event) {
				if (event.target.classList.contains("topic-item__close")) {
					let topicItemId = event.target.closest(".topic-item").dataset.id;
					const parentLi = document.querySelector("#items");

					arrChecked.forEach(function (i) {
						function checkArrChecked(item) {
							return i.id === item.id;
						};
						if (i.id === topicItemId) {
							const indexItem = arrChecked.findIndex(checkArrChecked);
							arrChecked.splice(indexItem, 1);
						}
					});

					arrTopic.forEach(function (i) {
						if (i.getAttribute("id") === topicItemId) {
							i.querySelector('input').checked = false;
						}
					});

					event.target.closest(".topic-item").remove();
				};
			});
			return arrChecked;
		};

		(function () {
			if (document.querySelector("[data-btn-show]")) {
				
				const btnShow = document.querySelector("[data-btn-show]");

				btnShow.addEventListener("click", function (event) {
					console.log(addTopic());
				})
			}
		})();

		// Поиск темы - конец


		changeTopic();

		addTopic();

	</script>
{% endblock %}