{% extends "__layout.njk" %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Главная</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link">Гостям города</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="inner-grid-page inner-grid-page--sm-bottom">
		<div class="container">
			<div class="inner-grid-page__wrapper">
				<div class="inner-grid-page__left">
					<div class="link-menu">
						<div class="link-menu__up accordion-js">
							<span class="link-menu__caption">Профиль</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-three">
							</svg>
						</div>
						<ul class="link-menu__list">
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Профиль</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Сообщения (3)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Настройка оповещений</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Рассылки новостей</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Транспорт (36)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Обращения</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Онлайн конференции</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Техническая поддержка</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Помощь</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Выход</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="inner-grid-page__right">
					<div class="text-page">
						<div class="row-title">
							<h2 class="title">Помощь</h2>
						</div>
						<div class="text-page__area">
							<div class="block-accordions">
                <h4 class="block-accordions__title">Работа с профилем</h4>
                <div class="block-accordions__wrap">
                  <div class="accordion">
                    <div class="accordion__up accordion-js">
                      <span class="accordion__caption">Как зарегистрироваться в личном кабинете?</span>
                      <svg>
                        <use xlink:href="img/sprite.svg#svg--arrow-two">
                      </svg>
                    </div>
                    <div class="accordion__down">
                      <div class="accordion__content">
                        <div class="accordion__area">
                          <p>Внутри аакордиона может располататься любые элементы текстовой страницы</p>
                          <p>Город занимает выгодное экономико-географическое положение в Южном федеральном округе, расположен на важнейших транспортных магистралях, связывающих центр России с портами Черного и Азовского морей, а также курортами черноморского побережья Кавказа. В Юго-восточной части Краснодара расположено Кубанское водохранилище, построенное в 1973 году для обеспечения выполнения производственных и мелиоративных мероприятий.</p>
                          <img src="img/heip-img.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion">
                    <div class="accordion__up accordion-js">
                      <span class="accordion__caption">Как сменить пароль от личного кабинета?</span>
                      <svg>
                        <use xlink:href="img/sprite.svg#svg--arrow-two">
                      </svg>
                    </div>
                    <div class="accordion__down">
                      <div class="accordion__content">
                        <div class="accordion__area">
                          <p>Внутри аакордиона может располататься любые элементы текстовой страницы</p>
                          <p>Город занимает выгодное экономико-географическое положение в Южном федеральном округе, расположен на важнейших транспортных магистралях, связывающих центр России с портами Черного и Азовского морей, а также курортами черноморского побережья Кавказа. В Юго-восточной части Краснодара расположено Кубанское водохранилище, построенное в 1973 году для обеспечения выполнения производственных и мелиоративных мероприятий.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion">
                    <div class="accordion__up accordion-js">
                      <span class="accordion__caption">Как сменить адрес электронной почты?</span>
                      <svg>
                        <use xlink:href="img/sprite.svg#svg--arrow-two">
                      </svg>
                    </div>
                    <div class="accordion__down">
                      <div class="accordion__content">
                        <div class="accordion__area">
                          <p>Внутри аакордиона может располататься любые элементы текстовой страницы</p>
                          <p>Город занимает выгодное экономико-географическое положение в Южном федеральном округе, расположен на важнейших транспортных магистралях, связывающих центр России с портами Черного и Азовского морей, а также курортами черноморского побережья Кавказа. В Юго-восточной части Краснодара расположено Кубанское водохранилище, построенное в 1973 году для обеспечения выполнения производственных и мелиоративных мероприятий.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
							</div>
              <div class="block-accordions">
                <h4 class="block-accordions__title">Комментарии</h4>
                <div class="block-accordions__wrap">
                  <div class="accordion">
                    <div class="accordion__up accordion-js">
                      <span class="accordion__caption">Где можно писать комментарии?</span>
                      <svg>
                        <use xlink:href="img/sprite.svg#svg--arrow-two">
                      </svg>
                    </div>
                    <div class="accordion__down">
                      <div class="accordion__content">
                        <div class="accordion__area">
                          <p>Внутри аакордиона может располататься любые элементы текстовой страницы</p>
                          <p>Город занимает выгодное экономико-географическое положение в Южном федеральном округе, расположен на важнейших транспортных магистралях, связывающих центр России с портами Черного и Азовского морей, а также курортами черноморского побережья Кавказа. В Юго-восточной части Краснодара расположено Кубанское водохранилище, построенное в 1973 году для обеспечения выполнения производственных и мелиоративных мероприятий.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion">
                    <div class="accordion__up accordion-js">
                      <span class="accordion__caption">Как управлять комментариями?</span>
                      <svg>
                        <use xlink:href="img/sprite.svg#svg--arrow-two">
                      </svg>
                    </div>
                    <div class="accordion__down">
                      <div class="accordion__content">
                        <div class="accordion__area">
                          <p>Внутри аакордиона может располататься любые элементы текстовой страницы</p>
                          <p>Город занимает выгодное экономико-географическое положение в Южном федеральном округе, расположен на важнейших транспортных магистралях, связывающих центр России с портами Черного и Азовского морей, а также курортами черноморского побережья Кавказа. В Юго-восточной части Краснодара расположено Кубанское водохранилище, построенное в 1973 году для обеспечения выполнения производственных и мелиоративных мероприятий.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion">
                    <div class="accordion__up accordion-js">
                      <span class="accordion__caption">Как добавить комментарий?</span>
                      <svg>
                        <use xlink:href="img/sprite.svg#svg--arrow-two">
                      </svg>
                    </div>
                    <div class="accordion__down">
                      <div class="accordion__content">
                        <div class="accordion__area">
                          <p>Внутри аакордиона может располататься любые элементы текстовой страницы</p>
                          <p>Город занимает выгодное экономико-географическое положение в Южном федеральном округе, расположен на важнейших транспортных магистралях, связывающих центр России с портами Черного и Азовского морей, а также курортами черноморского побережья Кавказа. В Юго-восточной части Краснодара расположено Кубанское водохранилище, построенное в 1973 году для обеспечения выполнения производственных и мелиоративных мероприятий.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
							</div>
              <div class="block-accordions">
                <h4 class="block-accordions__title">Виджеты</h4>
                <div class="block-accordions__wrap">
                  <div class="accordion">
                    <div class="accordion__up accordion-js">
                      <span class="accordion__caption">Как создать виджет на главной странице личного кабинета?</span>
                      <svg>
                        <use xlink:href="img/sprite.svg#svg--arrow-two">
                      </svg>
                    </div>
                    <div class="accordion__down">
                      <div class="accordion__content">
                        <div class="accordion__area">
                          <p>Внутри аакордиона может располататься любые элементы текстовой страницы</p>
                          <p>Город занимает выгодное экономико-географическое положение в Южном федеральном округе, расположен на важнейших транспортных магистралях, связывающих центр России с портами Черного и Азовского морей, а также курортами черноморского побережья Кавказа. В Юго-восточной части Краснодара расположено Кубанское водохранилище, построенное в 1973 году для обеспечения выполнения производственных и мелиоративных мероприятий.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion">
                    <div class="accordion__up accordion-js">
                      <span class="accordion__caption">Как настроить виджет?</span>
                      <svg>
                        <use xlink:href="img/sprite.svg#svg--arrow-two">
                      </svg>
                    </div>
                    <div class="accordion__down">
                      <div class="accordion__content">
                        <div class="accordion__area">
                          <p>Внутри аакордиона может располататься любые элементы текстовой страницы</p>
                          <p>Город занимает выгодное экономико-географическое положение в Южном федеральном округе, расположен на важнейших транспортных магистралях, связывающих центр России с портами Черного и Азовского морей, а также курортами черноморского побережья Кавказа. В Юго-восточной части Краснодара расположено Кубанское водохранилище, построенное в 1973 году для обеспечения выполнения производственных и мелиоративных мероприятий.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block Scripts %}
	<script>
		const accUp = new Accordion(".accordion__up");

		accUp.createAccordion();
	</script>
{% endblock %}