{% set noFooter = "true" %}
{% extends "__layout.njk" %}

{% block Link %}
	<link rel="stylesheet" href="css/swiper.css">
{% endblock %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Главная</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link">Гостям города</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="inner-grid-page">
		<div class="infinite-scroll-page" id="scrollPage">
			<div class="infinite-scroll-page__wrapper" v-for="page in pages">
				{% raw %}
					<div v-html="page"></div>
				{% endraw %}
				{# <div class="container">
					<div class="inner-post">
						<div class="text-page center-area-two">
							<div class="text-page__up">
								<a href="#" class="link-more">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Главные новости</span>
								</a>
								<h2 class="title">В Краснодаре выбрали лучший эскизный проект для создания Политехнического сквера</h2>
								<span class="info-text date">10 февраля 2021</span>
							</div>
							<div class="slider-gallery">
								<div class="center-area-one">
									<div class="slider-gallery__up">
										<div class="slider-gallery__container swiper-container">
											<div class="slider-gallery__wrapper swiper-wrapper">
												<div class="slider-gallery__slide swiper-slide">
													<picture>
														<source srcset="img/slider-gallery-img1.webp" type="image/webp">
														<source srcset="img/slider-gallery-img1.jpg" type="image/jpeg">
														<img src="img/slider-gallery-img1.jpg" alt="">
													</picture>
												</div>
												<div class="slider-gallery__slide swiper-slide">
													<picture>
														<source srcset="img/slider-gallery-img1.webp" type="image/webp">
														<source srcset="img/slider-gallery-img1.jpg" type="image/jpeg">
														<img src="img/slider-gallery-img1.jpg" alt="">
													</picture>
												</div>
											</div>
										</div>
										<div class="slider-gallery__arrow slider-gallery__arrow--prev">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-one">
											</svg>
										</div>
										<div class="slider-gallery__arrow slider-gallery__arrow--next">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-one">
											</svg>
										</div>
									</div>				
									<div class="slider-gallery__down">
										<div class="slider-gallery__left">
											<span class="slider-gallery__text">Пример описания фото а так же тут может быть автор</span>
										</div>
										<div class="slider-gallery__right">
											<div class="slider-gallery__fraction"></div>
										</div>
									</div>
								</div>
								
							</div>
							<div class="text-page__area">
								<p>
									<span>
										По итогам первого студенческого архитектурного воркшопа «Полисквер», финал которого прошел на базе Кубанского государственного технологического университета 27 ноября, определена лучшая эскизная работа. По предложению главы города на ее основе будет разработан проект нового городского сквера. Евгений Первышов сегодня принял участие в итоговой защите проектов.
									</span>
								</p>
								<div class="text-page__wrap">
									<div class="center-area-one">
										<p>В мероприятии также приняли участие руководитель департамента по архитектуре и градостроительству Краснодарского края Илья Поздняков, врио ректора Кубанского государственного технологического университета Михаил Барышев, президент КубГТУ, председатель Совета ректоров вузов Краснодарского края и Республики Адыгея Владимир Лобанов, а также главы Усть-Лабинска, Кореновска и Тимашевского района.</p>
										<p>Обучающий студенческий архитектурный воркшоп «Полисквер» проходил с 23 по 27 ноября на базе КубГТУ. Организаторы — департамент архитектуры и градостроительства г. Краснодара и Кубанский государственный технологический университет.</p>
									</div>
								</div>
								<p>Совместно с руководством КубГТУ мы давно уже обсуждали судьбу заброшенного участка, который находится в центральной части города возле одного из ведущих наших вузов. Конечно, никакого строительства на этой территории мы допустить не могли. Согласно Генплану здесь должна быть зеленая зона. Вместе мы определились, что здесь будет именно студенческий сквер. Я предложил руководству вуза, чтобы сами студенты поработали над проектом создания новой зелёной зоны. Судьи выбрали лучший проект, на основе которого после доработок наших профессиональных архитекторов будем создавать новый сквер. Уверен, он у нас получится именно молодежный, современный и комфортный и станет настоящим украшением города.</p>
								<div class="text-page__wrap">
									<div class="blockquote-row">
										<div class="blockquote-row__wrap-img">
											<picture>
												<source srcset="img/blockquote-img1.webp" type="image/webp">
												<source srcset="img/blockquote-img1.jpg" type="image/jpeg">
												<img src="img/blockquote-img1.jpg" alt="">
											</picture>
										</div>
										<div class="blockquote-row__wrap-text">
											<span class="blockquote-row__caption">Первышов Евгений Алексеевич</span>
											<div class="blockquote-row__text">Глава муниципального образования город Краснодар</div>
										</div>
									</div>
									<div class="center-area-one">
										<p>Участие в нем приняли студенты, аспиранты и молодые ученые ведущих вузов г. Краснодара, обучающиеся по направлениям подготовки: культурология, социология, государственное и муниципальное управление, архитектура и строительное дело. Будущие дизайнеры должны были приложить свое портфолио, а остальные участники — эссе на заданную тему.</p>
										<p>В результате отобрали 24 участника с самыми интересными проектами, которых разделили на четыре команды. К каждой команде прикрепили наставников из числа профессиональных архитекторов.</p>
									</div>
								</div>
								<div class="text-page__wrap">
									<p><b>Всего было подано 57 заявок. Получено 43 портфолио и 10 эссе. Самому младшему участнику воркшопа исполнилось 16 лет.</b></p>
								</div>
								
								<div class="center-area-one offset-area">
									<p>Участие в нем приняли студенты, аспиранты и молодые ученые ведущих вузов г. Краснодара, обучающиеся по направлениям подготовки: культурология, социология, государственное и муниципальное управление, архитектура и строительное дело. Будущие дизайнеры должны были приложить свое портфолио, а остальные участники — эссе на заданную тему.</p>
									<p>В результате отобрали 24 участника с самыми интересными проектами, которых разделили на четыре команды. К каждой команде прикрепили наставников из числа профессиональных архитекторов.</p>
									<p>Программа была разделена на два модуля — образовательный и проектный. На занятиях эксперты в области архитектуры рассказали студентам о новых направлениях в части развития городских пространств, урбанистики и улучшения городской среды.</p>
								</div>					
								<div class="news-row-wrap">
									<a href="#" class="sm-post-news">
										<div class="sm-post-news__wrap-img">
											<picture>
												<source srcset="img/sm-news-post-img1.webp" type="image/webp">
												<source srcset="img/sm-news-post-img1.jpg" type="image/jpeg">
												<img src="img/sm-news-post-img1.jpg" alt="">
											</picture>
										</div>
										<div class="sm-post-news__wrap-text">
											<span class="sm-post-news__caption">В краснодаре утвердили создание Политехнического сквера</span>
											<span class="info-text">10 февраля 2021, 10:24</span>
										</div>
									</a>
									<a href="#" class="sm-post-news">
										<div class="sm-post-news__wrap-img">
											<picture>
												<source srcset="img/sm-news-post-img2.webp" type="image/webp">
												<source srcset="img/sm-news-post-img2.jpg" type="image/jpeg">
												<img src="img/sm-news-post-img2.jpg" alt="">
											</picture>
										</div>
										<div class="sm-post-news__wrap-text">
											<span class="sm-post-news__caption">В краснодаре утвердили создание Политехнического сквера</span>
											<span class="info-text">10 февраля 2021, 10:24</span>
										</div>
									</a>
								</div>

								<div class="center-area-one offset-area">
									<p>Мы стремимся к тому, чтобы эта территория рядом с вузом, которая долгое время пустовала, была благоустроена. Наши студенты с удовольствием включились в работу по созданию проекта для новой зелёной зоны, долго готовились к защите. Уверен, новый сквер станет современной комфортной зоной отдыха не только для студентов, но и всех жителей города, отметил Михаил Барышев.</p>
									<p>В финале воркшопа был определён лучший эскизный проект. На его основе после доработок профессиональных архитекторов будет создан новый Политехнический сквер, а участники команды-победителя — «Техносквер» — будут приглашены на стажировку в департамент архитектуры и градостроительства администрации Краснодара.</p>

								</div>
								<div class="post-inner-down">
									<div class="center-area-one">
										<ul class="share-social share-social--mob">
											<li class="share-social__item">
												<a href="#" class="share-social__link">
													<svg>
														<use xlink:href="img/sprite.svg#svg--vk">
													</svg>
												</a>
											</li>
											<li class="share-social__item">
												<a href="#" class="share-social__link">
													<svg>
														<use xlink:href="img/sprite.svg#svg--facebook">
													</svg>
												</a>
											</li>
											<li class="share-social__item">
												<a href="#" class="share-social__link">
													<svg>
														<use xlink:href="img/sprite.svg#svg--twit">
													</svg>
												</a>
											</li>
											<li class="share-social__item">
												<a href="#" class="share-social__link">
													<svg>
														<use xlink:href="img/sprite.svg#svg--telegram">
													</svg>
												</a>
											</li>
										</ul>
										<a href="#" class="btn-block">
											<span class="btn-block__text">Читайте новости Краснодара в нашем канале Telegram</span>
										</a>
										<div class="topic-row">
											<span class="topic-row__caption">Темы новости</span>
											<div class="topic-row__wrapper">
												<div class="topic-item topic-item--change">
													<div class="topic-item__wrapper">
														<span class="topic-item__text">Дороги</span>
													</div>
												</div>
												<div class="topic-item topic-item--change">
													<div class="topic-item__wrapper">
														<span class="topic-item__text">Национальные проекты</span>
													</div>
												</div>
												<div class="topic-item topic-item--change">
													<div class="topic-item__wrapper">
														<span class="topic-item__text">Евгений Первышов</span>
													</div>
												</div>
											</div>
										</div>
										<div class="interaction-post">
											<div class="interaction-post__left">
												<div class="wrap-disabled">
													<input type="text" class="field-over" value="krd.ru/n/67017">
												</div>
												<a href="#" class="btn-white">
													<span class="btn-white__text">Копировать URL</span>
												</a>
											</div>
											<div class="interaction-post__right">
												<a href="#" class="btn-white">
													<span class="btn-white__text">Распечатать</span>
													<svg class="btn-white__icon">
														<use xlink:href="img/sprite.svg#svg--print">
													</svg>
												</a>
											</div>
										</div>
									</div>							
								</div>
							</div>
						</div>
						<div class="sticy-block">
							<div class="sticy-block__wrap">
								<ul class="share-social">
									<li class="share-social__item">
										<a href="#" class="share-social__link">
											<svg>
												<use xlink:href="img/sprite.svg#svg--vk">
											</svg>
										</a>
									</li>
									<li class="share-social__item">
										<a href="#" class="share-social__link">
											<svg>
												<use xlink:href="img/sprite.svg#svg--facebook">
											</svg>
										</a>
									</li>
									<li class="share-social__item">
										<a href="#" class="share-social__link">
											<svg>
												<use xlink:href="img/sprite.svg#svg--twit">
											</svg>
										</a>
									</li>
									<li class="share-social__item">
										<a href="#" class="share-social__link">
											<svg>
												<use xlink:href="img/sprite.svg#svg--telegram">
											</svg>
										</a>
									</li>
								</ul>
							</div>					
						</div>
					</div>
					<div class="about-topic">
						<div class="center-area-one">

							<div class="about-topic__up">
								<h3 class="title">Так же по теме</h3>
							</div>

							<div class="about-topic__down">
								<a href="#" class="md-block-news">
									<div class="md-block-news__wrapper">
										<div class="md-block-news__wrap-img">
											<picture>
												<source srcset="img/sm-news5.webp" type="image/webp">
												<source srcset="img/sm-news5.jpg" type="image/jpeg">
												<img src="img/sm-news5.jpg" alt="">
											</picture>
										</div>
										<div class="md-block-news__down">
											<div class="md-block-news__wrap-text">
												<h3>Детские площадки — безопасность превыше всего</h3>
											</div>
											<div class="md-block-news__row">
												<span class="info-text date">10 февраля 2021,</span>
												<span class="info-text time">10:24</span>
											</div>
										</div>
									</div>
								</a>
								<a href="#" class="md-block-news">
									<div class="md-block-news__wrapper">
										<div class="md-block-news__wrap-img">
											<picture>
												<source srcset="img/sm-news5.webp" type="image/webp">
												<source srcset="img/sm-news5.jpg" type="image/jpeg">
												<img src="img/sm-news5.jpg" alt="">
											</picture>
										</div>
										<div class="md-block-news__down">
											<div class="md-block-news__wrap-text">
												<h3>Детские площадки — безопасность превыше всего</h3>
											</div>
											<div class="md-block-news__row">
												<span class="info-text date">10 февраля 2021,</span>
												<span class="info-text time">10:24</span>
											</div>
										</div>
									</div>
								</a>
							</div>

						</div>
					</div>
				</div> #}
			</div>
		</div>		
	</section>
{% endblock %}

{% block Scripts %}
	<script src="js/swiper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script>
		var swiper = new Swiper(".slider-gallery__container", {
			loop: true,
			pagination: {
				el: ".slider-gallery__fraction",
				type: "fraction",
				renderFraction: function (currentClass, totalClass) {
					return '<span class="' + currentClass + '"></span>' +
									' из ' +
									'<span class="' + totalClass + '"></span>';
				}
			},
			navigation: {
				nextEl: ".slider-gallery__arrow--next",
				prevEl: ".slider-gallery__arrow--prev",
			},
		});

		new Vue({
			el: '#scrollPage',
			data: {
				pages: []
			},
			methods: {
				appendUser () {
					axios
						.get('js/arrPage.json')
						.then(response => {
							const arrTest = [];
							response.data.forEach(function(i) {
								console.log(i.content);
								arrTest.push(i.content);
							});
							console.log(arrTest)
							this.pages = arrTest;
						});						
				},
				getInitialUsers () {
					this.appendUser()
					//console.log(this.pages);
				},
				scroll (page) {
					window.onscroll = () => {
						let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
						console.log('If bottom', bottomOfWindow)
						if (bottomOfWindow) {
						// Append an additional row of users
							for(var i = 0; i < 1; i++){
								this.appendUser()
							}
						}
					};
				},
			},
			beforeMount() {
				this.getInitialUsers();
			},
			mounted() {
				this.scroll(this.page);
			}
		});
	</script>
{% endblock %}