{% extends "__layout.njk" %}

{% block Link %}
	
{% endblock %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Главная</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link">Структура администрации</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="inner-grid-page">
		<div class="container">
			<div class="inner-grid-page__wrapper">
				<div class="inner-grid-page__left">
					<div class="link-menu">
						<div class="link-menu__up accordion-js">
							<span class="link-menu__caption">Популярные услуги</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-three">
							</svg>
						</div>
						<ul class="link-menu__list">
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Популярное (11)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Образование (61)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Здоровье (35)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Жилье, ЖКУ, двор (58)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Транспорт (36)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Семья, дети (109)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Социальная поддержка (8)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Документы (98)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Работа (20)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Штрафы, налоги, оплата (6)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Инвалиды (17)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Гражданская активность (3)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Окружающий мир (3)</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="inner-grid-page__right">
					<div class="center-area-one">
						<div class="row-title">
							<h2 class="title">Ваши предложения по празднованию 75-летия Победы Все новости</h2>
						</div>
						<div class="victory-block">
							<picture>
								<source srcset="img/victory.webp" type="image/webp">
								<source srcset="img/victory.jpg" type="image/jpeg">
								<img src="img/victory.jpg" alt="">
							</picture>
							<p>75-летие Победы в Великой Отечественной войне 1941 — 1945 годов — значимая дата для каждого человека. Поэтому важно, чтобы мероприятия, посвященные годовщине, прошли с максимальным вовлечением всех жителей Краснодара. Присылайте свои предложения по празднованию Великой Победы на территории города.</p>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block Scripts %}
<script>
	const accUp = new Accordion(".accordion__up");

	accUp.createAccordion();
</script>
{% endblock %}