{% extends "__layout.njk" %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs__scroll">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Главная</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Пункт меню</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Пункт меню</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<span class="breadcrumbs__link">Гостям города</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="inner-grid-page inner-grid-page--change">
		<div class="container">			
			<div class="text-page">
				<div class="center-area-two center-area-two--change">
					<div class="text-page__up text-page__up--change">
						<a href="#" class="link-more">
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-two">
							</svg>
							<span>Назад к списку</span>
						</a>						
						<h2 class="title">Онлайн-конференция Сергея Мартынова «Контрактная система – 2020, изменения в нормативном регулировании»</h2>
						<span class="info-text date">08 декабря 2020, с 11:00 до 12:00</span>
					</div>
				</div>
				<div class="conferences-inner-block">
					<div class="center-area-one center-one-change-tablet">						
						<div class="upcoming-conferences-post">
							<div class="upcoming-conferences-post__wrapper">
								<div class="upcoming-conferences-post__right">
									<div class="upcoming-conferences-post__wrap-img">
										<picture>
											<source srcset="img/conferences-img3.webp" type="image/webp">
											<source srcset="img/conferences-img3.jpg" type="image/jpeg">
											<img src="img/conferences-img3.jpg" alt="">
										</picture>
									</div>
									<div class="upcoming-conferences-post__wrap-text">
										<span class="info-text date">05 марта 2021, с 11:00 до 12:00</span>
										<p>8 декабря 2020 года с 11.00–12.00 на официальном Интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара состоялась онлайн-конференция Мартынова Сергея Владимировича, начальника управления закупок администрации муниципального образования город Краснодар на тему: «Контрактная система – 2020, изменения в нормативном регулировании».</p>
									</div>
								</div>
							</div>
						</div>
						<a href="#" class="btn-block">
							<span class="btn-block__text">Персональная страница Сергея Мартынова</span>
						</a>
						<div class="partners-flex">
							<span class="partners-flex__caption">Партнеры</span>
							<div class="partners-flex__wrap">
								<div class="block-img">
									<picture>
										<source srcset="img/partners-img1.webp" type="image/webp">
										<source srcset="img/partners-img1.jpg" type="image/jpeg">
										<img src="img/partners-img1.jpg" alt="">
									</picture>
								</div>
								<div class="block-img">
									<picture>
										<source srcset="img/partners-img2.webp" type="image/webp">
										<source srcset="img/partners-img2.jpg" type="image/jpeg">
										<img src="img/partners-img2.jpg" alt="">
									</picture>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div class="gray-sect">
			<div class="container">
				<div class="center-area-two center-area-two--change">
					<div class="row-title">
						<h2 class="title">Вопросы конференции</h2>		
					</div>
				</div>
				<div class="questions-sect">
					
					<div class="center-area-two center-area-two--change">
						<div class="questions-sect__wrapper">
							<div class="question-post">
								<div class="question-post__up">
									<span class="question-post__name">Цимерман Марк Иосифович</span>
									<span class="info-text date">05 марта 2021, 10:24</span>
									<div class="question-post__area"><p>А правда, что закупки краснодарской администрации прозрачные и их можно проверить на законность?</p></div>
								</div>
								<div class="question-post__down">
									<div class="question-post__wrap">
										<div class="question-post__wrap-photo">
											<picture>
												<source srcset="img/photo-human.webp" type="image/webp">
												<source srcset="img/photo-human.jpg" type="image/jpeg">
												<img src="img/photo-human.jpg" alt="">
											</picture>
										</div>
										<div class="question-post__wrap-text">
											<span class="question-post__name">Мартынов Сергей Владимирович</span>
											<span class="info-text date">05 марта 2021, 10:24</span>
										</div>
									</div>
									<div class="question-post__area">
										<p>Подтверждение опыта работы в закупках по Закону о контрактной системе требуется при выполнении работ (оказании услуг) по процедурам, в которых установлены дополнительные требования к участникам такой закупки в соответствии с п. 2 ст. 31 Закона № 44-ФЗ и Постановлением Правительства Российской Федерации от 04.02.2015 № 99 «Об установлении дополнительных требований к участникам закупки отдельных видов товаров, работ, услуг, случаев отнесения товаров, работ, услуг к товарам, работам, услугам, которые по причине их технической и (или) технологической сложности, инновационного, высокотехнологичного или специализированного характера способны поставить, выполнить, оказать только поставщики (подрядчики, исполнители), имеющие необходимый уровень квалификации, а также документов, подтверждающих соответствие участников закупки указанным дополнительным требованиям».</p>
										<p>В установленных указанным Постановлением Правительства случаях возможно в качестве подтверждения опыта работы предоставление контрактов (договоров), выполненных в рамках Закона № 223-ФЗ. Например, при выполнении работ по капитальному ремонту объекта капитального строительства (за исключением линейного объекта) подтверждением опыта работы являются как контракты (договоры) на выполнение работ по капитальному ремонту объекта капитального строительства (за исключением линейного объекта) в рамках Закона № 44-ФЗ, так и данные работы, выполненные в рамках Закона № 223-ФЗ.</p>
									</div>
								</div>
							</div>
							<div class="question-post">
								<div class="question-post__up">
									<span class="question-post__name">Цимерман Марк Иосифович</span>
									<span class="info-text date">05 марта 2021, 10:24</span>
									<div class="question-post__area"><p>А правда, что закупки краснодарской администрации прозрачные и их можно проверить на законность?</p></div>
								</div>
								<div class="question-post__down">
									<div class="question-post__wrap">
										<div class="question-post__wrap-photo">
											<picture>
												<source srcset="img/photo-human.webp" type="image/webp">
												<source srcset="img/photo-human.jpg" type="image/jpeg">
												<img src="img/photo-human.jpg" alt="">
											</picture>
										</div>
										<div class="question-post__wrap-text">
											<span class="question-post__name">Мартынов Сергей Владимирович</span>
											<span class="info-text date">05 марта 2021, 10:24</span>
										</div>
									</div>
									<div class="question-post__area">
										<p>Подтверждение опыта работы в закупках по Закону о контрактной системе требуется при выполнении работ (оказании услуг) по процедурам, в которых установлены дополнительные требования к участникам такой закупки в соответствии с п. 2 ст. 31 Закона № 44-ФЗ и Постановлением Правительства Российской Федерации от 04.02.2015 № 99 «Об установлении дополнительных требований к участникам закупки отдельных видов товаров, работ, услуг, случаев отнесения товаров, работ, услуг к товарам, работам, услугам, которые по причине их технической и (или) технологической сложности, инновационного, высокотехнологичного или специализированного характера способны поставить, выполнить, оказать только поставщики (подрядчики, исполнители), имеющие необходимый уровень квалификации, а также документов, подтверждающих соответствие участников закупки указанным дополнительным требованиям».</p>
										<p>В установленных указанным Постановлением Правительства случаях возможно в качестве подтверждения опыта работы предоставление контрактов (договоров), выполненных в рамках Закона № 223-ФЗ. Например, при выполнении работ по капитальному ремонту объекта капитального строительства (за исключением линейного объекта) подтверждением опыта работы являются как контракты (договоры) на выполнение работ по капитальному ремонту объекта капитального строительства (за исключением линейного объекта) в рамках Закона № 44-ФЗ, так и данные работы, выполненные в рамках Закона № 223-ФЗ.</p>
									</div>
								</div>
							</div>
							<div class="question-post">
								<div class="question-post__up">
									<span class="question-post__name">Цимерман Марк Иосифович</span>
									<span class="info-text date">05 марта 2021, 10:24</span>
									<div class="question-post__area"><p>А правда, что закупки краснодарской администрации прозрачные и их можно проверить на законность?</p></div>
								</div>
								<div class="question-post__down">
									<div class="question-post__wrap">
										<div class="question-post__wrap-photo">
											<picture>
												<source srcset="img/photo-human.webp" type="image/webp">
												<source srcset="img/photo-human.jpg" type="image/jpeg">
												<img src="img/photo-human.jpg" alt="">
											</picture>
										</div>
										<div class="question-post__wrap-text">
											<span class="question-post__name">Мартынов Сергей Владимирович</span>
											<span class="info-text date">05 марта 2021, 10:24</span>
										</div>
									</div>
									<div class="question-post__area">
										<p>Подтверждение опыта работы в закупках по Закону о контрактной системе требуется при выполнении работ (оказании услуг) по процедурам, в которых установлены дополнительные требования к участникам такой закупки в соответствии с п. 2 ст. 31 Закона № 44-ФЗ и Постановлением Правительства Российской Федерации от 04.02.2015 № 99 «Об установлении дополнительных требований к участникам закупки отдельных видов товаров, работ, услуг, случаев отнесения товаров, работ, услуг к товарам, работам, услугам, которые по причине их технической и (или) технологической сложности, инновационного, высокотехнологичного или специализированного характера способны поставить, выполнить, оказать только поставщики (подрядчики, исполнители), имеющие необходимый уровень квалификации, а также документов, подтверждающих соответствие участников закупки указанным дополнительным требованиям».</p>
										<p>В установленных указанным Постановлением Правительства случаях возможно в качестве подтверждения опыта работы предоставление контрактов (договоров), выполненных в рамках Закона № 223-ФЗ. Например, при выполнении работ по капитальному ремонту объекта капитального строительства (за исключением линейного объекта) подтверждением опыта работы являются как контракты (договоры) на выполнение работ по капитальному ремонту объекта капитального строительства (за исключением линейного объекта) в рамках Закона № 44-ФЗ, так и данные работы, выполненные в рамках Закона № 223-ФЗ.</p>
									</div>
								</div>
							</div>
							<div class="question-post">
								<div class="question-post__up">
									<span class="question-post__name">Цимерман Марк Иосифович</span>
									<span class="info-text date">05 марта 2021, 10:24</span>
									<div class="question-post__area"><p>А правда, что закупки краснодарской администрации прозрачные и их можно проверить на законность?</p></div>
								</div>
								<div class="question-post__down">
									<div class="question-post__wrap">
										<div class="question-post__wrap-photo">
											<picture>
												<source srcset="img/photo-human.webp" type="image/webp">
												<source srcset="img/photo-human.jpg" type="image/jpeg">
												<img src="img/photo-human.jpg" alt="">
											</picture>
										</div>
										<div class="question-post__wrap-text">
											<span class="question-post__name">Мартынов Сергей Владимирович</span>
											<span class="info-text date">05 марта 2021, 10:24</span>
										</div>
									</div>
									<div class="question-post__area">
										<p>Подтверждение опыта работы в закупках по Закону о контрактной системе требуется при выполнении работ (оказании услуг) по процедурам, в которых установлены дополнительные требования к участникам такой закупки в соответствии с п. 2 ст. 31 Закона № 44-ФЗ и Постановлением Правительства Российской Федерации от 04.02.2015 № 99 «Об установлении дополнительных требований к участникам закупки отдельных видов товаров, работ, услуг, случаев отнесения товаров, работ, услуг к товарам, работам, услугам, которые по причине их технической и (или) технологической сложности, инновационного, высокотехнологичного или специализированного характера способны поставить, выполнить, оказать только поставщики (подрядчики, исполнители), имеющие необходимый уровень квалификации, а также документов, подтверждающих соответствие участников закупки указанным дополнительным требованиям».</p>
										<p>В установленных указанным Постановлением Правительства случаях возможно в качестве подтверждения опыта работы предоставление контрактов (договоров), выполненных в рамках Закона № 223-ФЗ. Например, при выполнении работ по капитальному ремонту объекта капитального строительства (за исключением линейного объекта) подтверждением опыта работы являются как контракты (договоры) на выполнение работ по капитальному ремонту объекта капитального строительства (за исключением линейного объекта) в рамках Закона № 44-ФЗ, так и данные работы, выполненные в рамках Закона № 223-ФЗ.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</section>
	{% include "include/modal.njk" %}
{% endblock %}

{% block Scripts %}
	
{% endblock %}