{% extends "__layout.njk" %}

{% block Link %}
	
{% endblock %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Главная</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link">Структура администрации</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="inner-grid-page">
		<div class="container">
			<div class="inner-grid-page__wrapper">
				<div class="inner-grid-page__left">
					<div class="link-menu">
						<div class="link-menu__up accordion-js">
							<span class="link-menu__caption">Популярные услуги</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-three">
							</svg>
						</div>
						<ul class="link-menu__list">
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Популярное (11)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Образование (61)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Здоровье (35)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Жилье, ЖКУ, двор (58)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Транспорт (36)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Семья, дети (109)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Социальная поддержка (8)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Документы (98)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Работа (20)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Штрафы, налоги, оплата (6)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Инвалиды (17)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Гражданская активность (3)</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Окружающий мир (3)</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="inner-grid-page__right">					
					<div class="services-to-citizens services-to-citizens--change-offset">
						<div class="row-title">
							<h2 class="title">Популярные услуги</h2>
							<a href="#" class="link-more">
								<span>Все услуги</span>
								<svg>
									<use xlink:href="img/sprite.svg#svg--arrow-link">
								</svg>
							</a>
						</div>
						<div class="services-to-citizens__wrapper services-to-citizens__wrapper--change-two">
							<a href="#" class="services-post">
								<span class="services-post__wrapper">
									<div class="services-post__wrap-icon"><img src="img/svg/service1.svg" alt=""></div>
									<span class="services-post__wrap-text">
										<h3>Регистрация по месту пребывания</h3>
									</span>
								</span>
							</a>
							<a href="#" class="services-post">
								<span class="services-post__wrapper">
									<div class="services-post__wrap-icon"><img src="img/svg/service2.svg" alt=""></div>
									<span class="services-post__wrap-text">
										<h3>Продажа автомобиля салону или частному лицу</h3>
									</span>
								</span>
							</a>
							<a href="#" class="services-post">
								<span class="services-post__wrapper">
									<div class="services-post__wrap-icon"><img src="img/svg/service3.svg" alt=""></div>
									<span class="services-post__wrap-text">
										<h3>Предоставление предварительных результатов ЕГЭ</h3>
									</span>
								</span>
							</a>
							<a href="#" class="services-post">
								<span class="services-post__wrapper">
									<div class="services-post__wrap-icon"><img src="img/svg/service4.svg" alt=""></div>
									<span class="services-post__wrap-text">
										<h3>Извещение о состоянии лицевого счета в ПФР</h3>
									</span>
								</span>
							</a>
							<a href="#" class="services-post">
								<span class="services-post__wrapper">
									<div class="services-post__wrap-icon"><img src="img/svg/service1.svg" alt=""></div>
									<span class="services-post__wrap-text">
										<h3>Регистрация по месту пребывания</h3>
									</span>
								</span>
							</a>
							<a href="#" class="services-post">
								<span class="services-post__wrapper">
									<div class="services-post__wrap-icon"><img src="img/svg/service2.svg" alt=""></div>
									<span class="services-post__wrap-text">
										<h3>Продажа автомобиля салону или частному лицу</h3>
									</span>
								</span>
							</a>
						</div>
					</div>
					<section class="popular-sect popular-sect--no-offset">
						<div class="row-title">
							<h2 class="title">Электронные услуги</h2>
							<a href="#" class="link-more">
							<span>Все услуги</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-link">
							</svg>
						</a>
						</div>
						<div class="popular-sect__wrapper popular-sect__wrapper--change">	
							<a href="#" class="post-popular-block">
								<div class="post-popular-block__wrap-img">
									<svg>
										<use xlink:href="img/sprite.svg#svg--window-icon">
									</svg>
								</div>
								<div class="post-popular-block__wrap-text">
									<span class="post-popular-block__caption">Включение (отказ во включении) в список граждан, имеющих право быть принятыми в члены жилищно-строительного кооператива</span>
								</div>
							</a>
							<a href="#" class="post-popular-block">
								<div class="post-popular-block__wrap-img">
									<svg>
										<use xlink:href="img/sprite.svg#svg--window-icon">
									</svg>
								</div>
								<div class="post-popular-block__wrap-text">
									<span class="post-popular-block__caption">Выдача акта освидетельствования проведения основных работ по строительству (реконструкции) объекта индивидуального жилищного строительства с привлечением средств материнского (семейного) капитала</span>
								</div>
							</a>
							<a href="#" class="post-popular-block">
								<div class="post-popular-block__wrap-img">
									<svg>
										<use xlink:href="img/sprite.svg#svg--window-icon">
									</svg>
								</div>
								<div class="post-popular-block__wrap-text">
									<span class="post-popular-block__caption">Выдача специального разрешения на движение по автомобильным дорогам местного значения тяжеловесного и (или) крупногабаритного транспортного средства </span>
								</div>
							</a>
						</div>
					</section>
					<section class="popular-sect popular-sect--no-offset">
						<div class="row-title">
							<h2 class="title">Неэлектронные услуги</h2>
							<a href="#" class="link-more">
							<span>Все услуги</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-link">
							</svg>
						</a>
						</div>
						<div class="popular-sect__wrapper popular-sect__wrapper--change">	
							<a href="#" class="post-popular-block">
								<div class="post-popular-block__wrap-img">
									<svg>
										<use xlink:href="img/sprite.svg#svg--paper-icon">
									</svg>
								</div>
								<div class="post-popular-block__wrap-text">
									<span class="post-popular-block__caption">Выдача разрешений на ввод в эксплуатацию построенных, реконструированных объектов капитального строительства</span>
								</div>
							</a>
							<a href="#" class="post-popular-block">
								<div class="post-popular-block__wrap-img">
									<svg>
										<use xlink:href="img/sprite.svg#svg--paper-icon">
									</svg>
								</div>
								<div class="post-popular-block__wrap-text">
									<span class="post-popular-block__caption">Выдача копий муниципальных контрактов, договоров и соглашений, заключённых администрацией муниципального образования город Краснодар, а также её отраслевыми, функциональными и территориальными органами</span>
								</div>
							</a>
							<a href="#" class="post-popular-block">
								<div class="post-popular-block__wrap-img">
									<svg>
										<use xlink:href="img/sprite.svg#svg--paper-icon">
									</svg>
								</div>
								<div class="post-popular-block__wrap-text">
									<span class="post-popular-block__caption">Выдача разрешения на вступление в брак лицам, достигшим возраста 16 лет</span>
								</div>
							</a>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block Scripts %}
{% endblock %}