{% extends "__layout.njk" %}

{% block Link %}
	<link rel="stylesheet" href="css/flatpickr.min.css">
	<link rel="stylesheet" href="css/choices.min.css">
{% endblock %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Главная</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link">Главные новости</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="content-page">
		<div class="container">
			<div class="row-title row-title--change">
				<h2 class="title">Реестр субъектов малого и среднего предпринимательства – получателей поддержки</h2>
			</div>
		</div>
		<div class="filter-documentation gray-bg">
			<div class="container">
				<form action="" class="filter-documentation__form">
					<div class="filter-documentation__wrapper">
						<div class="filter-documentation__wrap filter-documentation__wrap--select-two">
							<span class="wrap-field__description">Выбрать записи, содержащие:</span>
							<div class="select-wrap">
								<select class="select select-one" placeholder="Документ">
									<option value="Документ"></option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
								</select>
							</div>
						</div>
						<div class="filter-documentation__wrap filter-documentation__wrap--select-two">
							<span class="wrap-field__description">в:</span>
							<div class="select-wrap">
								<select class="select select-two" placeholder="Любом месте">
									<option value="Любом месте"></option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
								</select>
							</div>
						</div>
						<div class="filter-documentation__wrap filter-documentation__wrap--btn">
							<button type="submit" class="btn-block">
								<span class="btn-block__text">Отправить</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="table-page">
			<div class="container">
				<div class="table-page__row-btn table-page__row-btn--change">
					<a href="#" class="btn-block mob-block"><span class="btn-block__text">Скачать PDF (1,2 МБ)</span></a>
					<a href="#" class="btn-block"><span class="btn-block__text">Распечатать справку</span></a>
					<a href="#" class="btn-white two-column-grid mob-none" data-click-modal="table">
						<span class="btn-white__text">Развернуть на весь экран</span>
					</a>
				</div>
				<div class="table-page__wrap-table" id="table-scroll-one">
					<div class="table-page__scroll-wrap">
						<table>
							<tr>
								<th>Номер реестровой<br> записи и дата<br> включения сведений<br> в реестр</th>
								<th>Наименование органа, предоставившего поддержку и дата принятия решения о предоставлении или прекращении оказания поддержки</th>
								<th>Наименование юридического лица или фамилия, имя и (при наличии) отчество индивидуаль ного предпринимателя - получатель поддержки</th>
								<th>Идентификационный номер налогоплательщика</th>
								<th>Вид поддержки</th>
							</tr>
							<tr>
								<td colspan="5"><h4>Пример подзаголовка в таблице</h4></td>
							</tr>
							<tr>
								<td>3.375 30.12.2020</td>
								<td>Управление сельского хозяйства от 15.12.2020</td>
								<td>Индивидуальный предприниматель Шералиев Алишер Миралиевич</td>
								<td>231296644085</td>
								<td>Финансовая</td>
							</tr>
							<tr>
								<td>3.375 30.12.2020</td>
								<td>Управление сельского хозяйства от 15.12.2020</td>
								<td>Индивидуальный предприниматель Шералиев Алишер Миралиевич</td>
								<td>231296644085</td>
								<td>Финансовая</td>
							</tr>
							<tr>
								<td>3.375 30.12.2020</td>
								<td>Управление сельского хозяйства от 15.12.2020</td>
								<td>Индивидуальный предприниматель Шералиев Алишер Миралиевич</td>
								<td>231296644085</td>
								<td>Финансовая</td>
							</tr>
							<tr>
								<td>3.375 30.12.2020</td>
								<td>Управление сельского хозяйства от 15.12.2020</td>
								<td>Индивидуальный предприниматель Шералиев Алишер Миралиевич</td>
								<td>231296644085</td>
								<td>Финансовая</td>
							</tr>
							<tr>
								<td>3.375 30.12.2020</td>
								<td>Управление сельского хозяйства от 15.12.2020</td>
								<td>Индивидуальный предприниматель Шералиев Алишер Миралиевич</td>
								<td>231296644085</td>
								<td>Финансовая</td>
							</tr>
							<tr>
								<td>3.375 30.12.2020</td>
								<td>Управление сельского хозяйства от 15.12.2020</td>
								<td>Индивидуальный предприниматель Шералиев Алишер Миралиевич</td>
								<td>231296644085</td>
								<td>Финансовая</td>
							</tr>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<div class="modal" id="table">
		<div class="modal__overlay">
			<div class="modal__block modal-table">
				<div class="modal__up">
					<h4 class="modal__caption">Реестр субъектов малого и среднего предпринимательства – получателей поддержки</h4>
					<span class="close"></span>
				</div>
				<div class="modal__down">
					<div class="modal__content">
						<div class="table-page__wrap-table" id="table-scroll-two">
							<div class="table-page__scroll-wrap">
								<table>
									<tr>
										<th>Номер реестровой<br> записи и дата<br> включения сведений<br> в реестр</th>
										<th>Наименование органа, предоставившего поддержку и дата принятия решения о предоставлении или прекращении оказания поддержки</th>
										<th>Наименование юридического лица или фамилия, имя и (при наличии) отчество индивидуаль ного предпринимателя - получатель поддержки</th>
										<th>Идентификационный номер налогоплательщика</th>
										<th>Вид поддержки</th>
									</tr>
									<tr>
										<td colspan="5"><h4>Пример подзаголовка в таблице</h4></td>
									</tr>
									<tr>
										<td>3.375 30.12.2020</td>
										<td>Управление сельского хозяйства от 15.12.2020</td>
										<td>Индивидуальный предприниматель Шералиев Алишер Миралиевич</td>
										<td>231296644085</td>
										<td>Финансовая</td>
									</tr>
									<tr>
										<td>3.375 30.12.2020</td>
										<td>Управление сельского хозяйства от 15.12.2020</td>
										<td>Индивидуальный предприниматель Шералиев Алишер Миралиевич</td>
										<td>231296644085</td>
										<td>Финансовая</td>
									</tr>
									<tr>
										<td>3.375 30.12.2020</td>
										<td>Управление сельского хозяйства от 15.12.2020</td>
										<td>Индивидуальный предприниматель Шералиев Алишер Миралиевич</td>
										<td>231296644085</td>
										<td>Финансовая</td>
									</tr>
									<tr>
										<td>3.375 30.12.2020</td>
										<td>Управление сельского хозяйства от 15.12.2020</td>
										<td>Индивидуальный предприниматель Шералиев Алишер Миралиевич</td>
										<td>231296644085</td>
										<td>Финансовая</td>
									</tr>
									<tr>
										<td>3.375 30.12.2020</td>
										<td>Управление сельского хозяйства от 15.12.2020</td>
										<td>Индивидуальный предприниматель Шералиев Алишер Миралиевич</td>
										<td>231296644085</td>
										<td>Финансовая</td>
									</tr>
									<tr>
										<td>3.375 30.12.2020</td>
										<td>Управление сельского хозяйства от 15.12.2020</td>
										<td>Индивидуальный предприниматель Шералиев Алишер Миралиевич</td>
										<td>231296644085</td>
										<td>Финансовая</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block Scripts %}
	<script src="js/choices.min.js"></script>
	<script>
		const choices = new Choices('.select-one', {
			itemSelectText: '',
			searchEnabled: false,
			placeholder: true,
		});

		const choicesTwo = new Choices('.select-two', {
			itemSelectText: '',
			searchEnabled: false,
			placeholder: true,
		});
	</script>
	
{% endblock %}