{% extends "__layout.njk" %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Главная</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link">Приём официальных обращений граждан</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="wrapper-blockadd">
		<div class="container">
			<div class="wrapper-blockadd__wrap">
				<picture>
					<source srcset="img/baadd2.jpg" type="image/jpeg" media="(max-width: 400px)">
					<img src="img/baadd1.jpg" alt="">
				</picture>
			</div>
		</div>
	</section>
	<section class="inner-grid-page">
		<div class="container">
			<div class="inner-grid-page__wrapper">
				<div class="inner-grid-page__left">
					<div class="link-menu">
						<div class="link-menu__up">
							<span class="link-menu__caption">Информация по работе с обращениями граждан</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-three">
							</svg>
						</div>
						<ul class="link-menu__list">
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Информация по работе с обращениями граждан</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Порядок рассмотрения обращений граждан в администрации муниципального образования город Краснодар</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Федеральный закон от 2 мая 2006 г. N 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации»</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="inner-grid-page__right">
					<div class="text-page center-area-one center-area-one--right">
						<div class="row-title">
							<h2 class="title">Приём официальных обращений граждан</h2>
						</div>
						<div class="text-page__area">
							<p><b>Пожалуйста, прежде чем отправить обращение в форме электронного документа, внимательно ознакомьтесь со следующей информацией.</b></p>

							<ol>
								<li><p>Обращения, направленные в форме электронного документа через официальный Интернет-портал администрации муниципального образования город Краснодар и городской Думы Краснодара (далее — портал), поступают на рассмотрение в администрацию муниципального образования город Краснодар (далее — администрация Краснодара) и рассматриваются работниками администрации Краснодара — уполномоченными на то лицами.</p></li>
								<li><p>Перед направлением обращения в форме электронного документа необходимо его написать:</p>
									<ol>
										<li><p>В обязательном порядке указав в электронной анкете:</p>
											<ol>
												<li><p>фамилию, имя, отчество должностного лица, кому Вы направляете обращение в форме электронного документа;</p></li>
												<li><p>свою фамилию, имя, отчество (последнее — при наличии);</p></li>
												<li><p>адрес электронной почты, по которому должны быть направлены ответ, уведомление о переадресации обращения;</p></li>
											</ol>
										</li>
										<li><p>изложив в поле ввода текста обращения в форме электронного документа суть предложения, заявления, жалобы.</p></li>
									</ol>
								</li>
								<li>
									<p>Ответ на Ваше обращение в форме электронного документа либо уведомление о его переадресации направляется в форме электронного документа по адресу электронной почты (e-mail), указанному Вами в обращении в форме электронного документа, либо в письменной форме (при наличии корректного почтового адреса).</p>
								</li>
								<li>
									<p>В предназначенном для обязательного заполнения поле ввода текста обращения в форме электронного документа Вы излагаете суть предложения, заявления или жалобы в соответствии со ст. 7 Федерального закона от 2 мая 2006 года № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации».</p>
									<p>В случае если текст Вашего обращения не позволяет определить суть предложения, заявления или жалобы, ответ на обращение не дается и оно не подлежит направлению на рассмотрение в государственный орган, орган местного самоуправления или должностному лицу, в соответствии с их компетенцией, о чем Вам будет сообщено в течение семи дней со дня регистрации обращения.</p>
									<p>Текст в электронной форме, набранный и отправленный через информационный ресурс <a href="#">«Личный кабинет»</a>, сохраняется и отображается в «Личном кабинете» автора.</p>
									<p>Обращаем внимание, что в целях обеспечения неразглашения сведений, содержащихся в Вашем обращении, а также сведений, касающихся Вашей частной жизни, при заполнении поля ввода текста обращения в форме электронного документа действует защита от возможного внедрения вирусных программ.</p>
								</li>
								<li>
									<p>В случае необходимости в подтверждение своих доводов Вы вправе приложить к обращению необходимые документы и материалы в электронной форме.</p>
									<p>Приложить необходимые документы и материалы в электронной форме Вы можете в любой последовательности самостоятельными вложениями файла(ов) без архивирования (файл вложения) по одному из допустимых форматов: txt, doc, docx, rtf, xls, xlsx, pps, ppt, pdf, jpg, bmp, png, tif, pcx.</p>
									<p>Иные форматы не обрабатываются в информационных системах администрации Краснодара.</p>
									<p>Для приложения к обращению необходимых документов и материалов в электронной форме нажмите кнопку «Выбрать файл».</p>
									<p>Обращаем Ваше внимание, что подтверждение прикрепления файла(ов) вложения является появление строки с наименованием(ями) выбранного(ых) Вами файла(ов).</p>
									<p>Информируем Вас, что гарантированная передача файла(ов) вложения на почтовый сервер зависит от пропускной способности используемой Вами сети «Интернет», а получение — от объёма обрабатываемых почтовым сервером переданных файлов.</p>
									<p>При подключении Вашего оборудования к сети «Интернет» по выделенным каналам связи с использованием технологий ADSL, 3G, 4G, WiFi и иных технологий, обеспечивающих аналогичные скорости передачи данных в сети «Интернет», передача и обработка файла(ов) с суммарным размером:</p>
									<ul>
										<li>до 5 Мб осуществляется, как правило, без задержки во времени;</li>
										<li>от 5 Мб до 10 Мб может осуществляться с задержкой во времени;</li>
										<li>свыше 10 Мб может быть не осуществлена.</li>
									</ul>
								</li>
								<li>
									<p>В случае направления Вами обращения, содержащего вопрос, затрагивающий интересы неопределенного круга лиц, ответ на который был размещен на Портале, то Вам в течение семи дней со дня регистрации обращения будет сообщен электронный адрес страницы портала, на которой размещен ответ на вопрос, поставленный в Вашем обращении.</p>
								</li>
								<li>
									<p>Информация о персональных данных авторов обращений, направленных в форме электронного документа, сведения, содержащиеся в обращениях авторов, а также сведения, касающиеся частной жизни авторов, хранятся и обрабатываются с соблюдением требований российского законодательства.</p>
								</li>
								<li>
									<p>В «Личном кабинете» размещаются данные по каждому отправленному с «Личного кабинета» обращению или запросу с момента регистрации автора на информационном ресурсе «Личный кабинет» в разделе «Интернет-приемная/Ваши обращения» на портале.</p>
								</li>
								<li>
									<p>Предусмотрена возможность просмотра Портала на различных устройствах — от смартфонов и планшетов до широкоформатных мониторов. А при ширине окна браузера выше 1570 пикселей вы можете читать материалы портала, сохраняя при этом доступ к навигации по странице, с которой вы перешли на выбранную публикацию.</p>
								</li>
							</ol>
							
							<span><span>Адрес для отправки обращений в письменной форме в администрацию муниципального образования город Краснодар обычной почтой:</span> 350000, г. Краснодар, ул. Длинная, 134.</span>
						</div>
						<div class="text-page__down">
							<a href="#" class="btn-block">
								<span class="btn-block__text">Не согласен</span>
							</a>
							<a href="#" class="btn-white">
								<span class="btn-white__text">Согласен</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block Scripts %}
	<script>
		const accUp = new Accordion(".accordion__up");

		accUp.createAccordion();
	</script>
{% endblock %}