{% extends "__layout.njk" %}

{% block Link %}
	<link rel="stylesheet" href="css/flatpickr.min.css">
{% endblock %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs__scroll">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Главная</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Пункт меню</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Пункт меню</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<span class="breadcrumbs__link">Главные новости</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="content-page">
		<div class="container">
			<div class="row-title">
				<h2 class="title">График приёма избирателей депутатами городской Думы Краснодара VII созыва</h2>		
			</div>
		</div>
		<div class="table-page">
			<div class="container">
				<div class="table-page__row-btn">
					<a href="#" class="btn-white"><span class="btn-white__text">Скачать PDF (1,2 МБ)</span></a>
					<a href="#" class="btn-block" data-click-modal="table">
						<span class="btn-block__text">Развернуть на весь экран</span>
					</a>
				</div>
				<div class="table-page__wrap-table" id="table-scroll-one">
					<div class="table-page__scroll-wrap">
						<table>
							<tr>
								<th>№ ОИО</th>
								<th>Ф.И.О.депутата</th>
								<th>Дни приёма граждан</th>
								<th>Часы приёма граждан</th>
								<th>Адрес приёмной депутата, телефон</th>
								<th>Пример скрытого ранее столбца</th>
								<th>Пример скрытого ранее столбца</th>
							</tr>
							<tr>
								<td>1</td>
								<td>Муравьёв Евгений Иванович</td>
								<td>первый и третий четверг месяца</td>
								<td>13.00 – 15.00</td>
								<td>ул. Октябрьская, 21, каб. № 7, тел. 267-06-07</td>
								<td>Пример информации в строке может быть длинной</td>
								<td>Пример информации в строке может быть длинной</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Самойленко Михаил Валерьевич</td>
								<td>каждый третий четверг месяца</td>
								<td>15.00 – 17.00</td>
								<td>ул. Северная, 324, оф. 83, тел. 8-918-034-31-13</td>
								<td>Пример информации в строке может быть длинной</td>
								<td>Пример информации в строке может быть длинной</td>
							</tr>
							<tr>
								<td rowspan="2">3</td>
								<td rowspan="2">Самохин Игорь Вячеславович</td>
								<td>2-я среда месяца</td>
								<td>12.00 – 14.00</td>
								<td>ул. Северная, 279, кабинет 65 (6 этаж), тел. 259-04-04</td>
								<td>Пример информации в строке может быть длинной</td>
								<td>Пример информации в строке может быть длинной</td>
							</tr>
							<tr>
								<td>4-я среда месяца</td>
								<td>11.00 – 13.00</td>
								<td>ул. Парковая, 9, тел. 259-04-04</td>
								<td>Пример информации в строке может быть длинной</td>
								<td>Пример информации в строке может быть длинной</td>
							</tr>
							<tr>
								<td colspan="7"><h4>Пример подзаголовка в таблице</h4></td>
							</tr>
							<tr>
								<td>5</td>
								<td>Самойленко Михаил Валерьевич</td>
								<td>первый и третий четверг месяца</td>
								<td>13.00 – 15.00</td>
								<td>ул. Октябрьская, 21, каб. № 7, тел. 267-06-07</td>
								<td>Пример информации в строке может быть длинной</td>
								<td>Пример информации в строке может быть длинной</td>
							</tr>
							<tr>
								<td>6</td>
								<td>Самохин Игорь Вячеславович</td>
								<td>первый и третий четверг месяца</td>
								<td>13.00 – 15.00</td>
								<td>ул. Октябрьская, 21, каб. № 7, тел. 267-06-07</td>
								<td>Пример информации в строке может быть длинной</td>
								<td>Пример информации в строке может быть длинной</td>
							</tr>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<div class="modal" id="table">
		<div class="modal__overlay">
			<div class="modal__block modal-table">
				<div class="modal__up">
					<h4 class="modal__caption">График приёма избирателей депутатами городской Думы Краснодара VII созыва</h4>
					<span class="close"></span>
				</div>
				<div class="modal__down">
					<div class="modal__content">
						<div class="table-page__wrap-table" id="table-scroll-two">
							<div class="table-page__scroll-wrap">
								<table>
									<tr>
										<th>№ ОИО</th>
										<th>Ф.И.О.депутата</th>
										<th>Дни приёма граждан</th>
										<th>Часы приёма граждан</th>
										<th>Адрес приёмной депутата, телефон</th>
										<th>Пример скрытого ранее столбца</th>
										<th>Пример скрытого ранее столбца</th>
									</tr>
									<tr>
										<td>1</td>
										<td>Муравьёв Евгений Иванович</td>
										<td>первый и третий четверг месяца</td>
										<td>13.00 – 15.00</td>
										<td>ул. Октябрьская, 21, каб. № 7, тел. 267-06-07</td>
										<td>Пример информации в строке может быть длинной</td>
										<td>Пример информации в строке может быть длинной</td>
									</tr>
									<tr>
										<td>2</td>
										<td>Самойленко Михаил Валерьевич</td>
										<td>каждый третий четверг месяца</td>
										<td>15.00 – 17.00</td>
										<td>ул. Северная, 324, оф. 83, тел. 8-918-034-31-13</td>
										<td>Пример информации в строке может быть длинной</td>
										<td>Пример информации в строке может быть длинной</td>
									</tr>
									<tr>
										<td rowspan="2">3</td>
										<td rowspan="2">Самохин Игорь Вячеславович</td>
										<td>2-я среда месяца</td>
										<td>12.00 – 14.00</td>
										<td>ул. Северная, 279, кабинет 65 (6 этаж), тел. 259-04-04</td>
										<td>Пример информации в строке может быть длинной</td>
										<td>Пример информации в строке может быть длинной</td>
									</tr>
									<tr>
										<td>4-я среда месяца</td>
										<td>11.00 – 13.00</td>
										<td>ул. Парковая, 9, тел. 259-04-04</td>
										<td>Пример информации в строке может быть длинной</td>
										<td>Пример информации в строке может быть длинной</td>
									</tr>
									<tr>
										<td colspan="7"><h4>Пример подзаголовка в таблице</h4></td>
									</tr>
									<tr>
										<td>5</td>
										<td>Самойленко Михаил Валерьевич</td>
										<td>первый и третий четверг месяца</td>
										<td>13.00 – 15.00</td>
										<td>ул. Октябрьская, 21, каб. № 7, тел. 267-06-07</td>
										<td>Пример информации в строке может быть длинной</td>
										<td>Пример информации в строке может быть длинной</td>
									</tr>
									<tr>
										<td>6</td>
										<td>Самохин Игорь Вячеславович</td>
										<td>первый и третий четверг месяца</td>
										<td>13.00 – 15.00</td>
										<td>ул. Октябрьская, 21, каб. № 7, тел. 267-06-07</td>
										<td>Пример информации в строке может быть длинной</td>
										<td>Пример информации в строке может быть длинной</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block Scripts %}
	<script>
		let Scrollbar = window.Scrollbar;

		Scrollbar.init(document.querySelector('#table-scroll-one'));
		Scrollbar.init(document.querySelector('#table-scroll-two'));
	</script>
{% endblock %}