{% extends "__layout.njk" %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Главная</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<a href="" class="breadcrumbs__link">Пункт меню</a>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-two">
					</svg>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link">Гостям города</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="inner-grid-page inner-grid-page--sm-bottom">
		<div class="container">
			<div class="inner-grid-page__wrapper">
				<div class="inner-grid-page__left">
					<div class="link-menu">
						<div class="link-menu__up">
							<span class="link-menu__caption">Гостям города</span>
							<svg>
								<use xlink:href="img/sprite.svg#svg--arrow-three">
							</svg>
						</div>
						<ul class="link-menu__list">
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Транспортные ворота города Авиа, ЖД и Автовокзалы</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Экскурсионные программы</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Музеи, театры</span>
								</a>
							</li>
							<li class="link-menu__item">
								<a href="" class="link-menu__link">
									<svg>
										<use xlink:href="img/sprite.svg#svg--arrow-two">
									</svg>
									<span>Парки города</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="inner-grid-page__right">
					<div class="text-page center-area-one">
						<div class="row-title">
							<h2 class="title">Гостям города</h2>
						</div>
						<div class="text-page__area">
							<picture>
								<source srcset="img/area-img1.webp" type="image/webp">
								<source srcset="img/area-img1.jpg" type="image/jpeg">
								<img src="img/area-img1.jpg" alt="">
							</picture>
							<p>Основанный казаками в 1793 году административный центр Краснодарского края - город Краснодар - является крупнейшим промышленным, транспортным, торговым, научным и культурным центром Юга России.</p>
							<p>Город Краснодар расположен на Кубано-Приазовской (Прикубанской) низменности, на правом берегу реки Кубань, в 1539 км к югу от Москвы. На северо-востоке город Краснодар граничит с Динским районом, на западе - с Красноармейским районом Краснодарского края, на юге, по акватории реки Кубань, с Тахтамукайским районом Республики Адыгея, на востоке - с Усть-Лабинским районом Краснодарского края. Географические координаты  исторического центра: 45° 2' северной широты и 39 ° восточной долготы.</p>
							<p>Рельеф местности – степной, климат – умеренно-континентальный.</p>
							<div class="block-link-doc">
								<a href="#" class="link-doc">
									<div class="link-doc__wrap-icon">
										<svg>
											<use xlink:href="img/sprite.svg#svg--doc">
										</svg>
										<span class="link-doc__file-name">pdf</span>
									</div>
									<div class="link-doc__wrap-text">
										<div class="link-doc__row-caption">
											<span class="link-doc__caption">Пример заголовка документа для скачивания</span>
										</div>										
										<span class="link-doc__info">PDF (2,45 МБ)</span>
									</div>
								</a>
								<a href="#" class="link-doc">
									<div class="link-doc__wrap-icon">
										<svg>
											<use xlink:href="img/sprite.svg#svg--doc">
										</svg>
										<span class="link-doc__file-name">doc</span>
									</div>
									<div class="link-doc__wrap-text">
										<div class="link-doc__row-caption">
											<span class="link-doc__caption">Пример длинного заголовка документа для скачивания который будет идти в несколько строк</span>
										</div>
										<span class="link-doc__info">PDF (2,45 МБ)</span>
									</div>
								</a>
								<a href="#" class="link-doc">
									<div class="link-doc__wrap-icon">
										<svg>
											<use xlink:href="img/sprite.svg#svg--doc">
										</svg>
										<span class="link-doc__file-name">xls</span>
									</div>
									<div class="link-doc__wrap-text">
										<div class="link-doc__row-caption">
											<span class="link-doc__caption">Пример заголовка документа для скачивания</span>
										</div>
										<span class="link-doc__info">PDF (2,45 МБ)</span>
									</div>
								</a>
							</div>
							<p>Город занимает выгодное экономико-географическое положение в Южном федеральном округе, расположен на важнейших транспортных магистралях, связывающих центр России с портами Черного и Азовского морей, а также курортами черноморского побережья Кавказа. В Юго-восточной части Краснодара расположено Кубанское водохранилище, построенное в 1973 году для обеспечения выполнения производственных и мелиоративных мероприятий.</p>
							<p>Территория в границах муниципального образования составляет 841,4 квадратных километра, или 1,1 процента территории Краснодарского края. Город разделен на четыре внутригородских округа: Западный, Карасунский, Прикубанский и Центральный. В границах муниципального образования город Краснодар находятся 5 сельских округов и 29 сельских населенных пунктов.</p>
							<div class="block-accordions">
								<div class="accordion">
									<div class="accordion__up accordion-js">
										<span class="accordion__caption">Пример заголовка аккордиона</span>
										<svg>
											<use xlink:href="img/sprite.svg#svg--arrow-two">
										</svg>
									</div>
									<div class="accordion__down">
										<div class="accordion__content">
											<div class="accordion__area">
												<p>Внутри аакордиона может располататься любые элементы текстовой страницы</p>
												<p>Город занимает выгодное экономико-географическое положение в Южном федеральном округе, расположен на важнейших транспортных магистралях, связывающих центр России с портами Черного и Азовского морей, а также курортами черноморского побережья Кавказа. В Юго-восточной части Краснодара расположено Кубанское водохранилище, построенное в 1973 году для обеспечения выполнения производственных и мелиоративных мероприятий.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion">
									<div class="accordion__up accordion-js">
										<span class="accordion__caption">Пример заголовка аккордиона</span>
										<svg>
											<use xlink:href="img/sprite.svg#svg--arrow-two">
										</svg>
									</div>
									<div class="accordion__down">
										<div class="accordion__content">
											<div class="accordion__area">
												<p>Внутри аакордиона может располататься любые элементы текстовой страницы</p>
												<p>Город занимает выгодное экономико-географическое положение в Южном федеральном округе, расположен на важнейших транспортных магистралях, связывающих центр России с портами Черного и Азовского морей, а также курортами черноморского побережья Кавказа. В Юго-восточной части Краснодара расположено Кубанское водохранилище, построенное в 1973 году для обеспечения выполнения производственных и мелиоративных мероприятий.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="accordion">
									<div class="accordion__up accordion-js">
										<span class="accordion__caption">Пример заголовка аккордиона</span>
										<svg>
											<use xlink:href="img/sprite.svg#svg--arrow-two">
										</svg>
									</div>
									<div class="accordion__down">
										<div class="accordion__content">
											<div class="accordion__area">
												<p>Внутри аакордиона может располататься любые элементы текстовой страницы</p>
												<p>Город занимает выгодное экономико-географическое положение в Южном федеральном округе, расположен на важнейших транспортных магистралях, связывающих центр России с портами Черного и Азовского морей, а также курортами черноморского побережья Кавказа. В Юго-восточной части Краснодара расположено Кубанское водохранилище, построенное в 1973 году для обеспечения выполнения производственных и мелиоративных мероприятий.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p>Город занимает выгодное экономико-географическое положение в Южном федеральном округе, расположен на важнейших транспортных магистралях, связывающих центр России с портами Черного и Азовского морей, а также курортами черноморского побережья Кавказа. В Юго-восточной части Краснодара расположено Кубанское водохранилище, построенное в 1973 году для обеспечения выполнения производственных и мелиоративных мероприятий.</p>
							<div class="block-links-section">
								<a href="#" class="link-section">
									<span class="link-section__caption">Пример ссылки на любой раздел</span>
									<div class="link-section__wrap-arrow">
										<svg>
											<use xlink:href="img/sprite.svg#svg--arrow-link-two">
										</svg>
									</div>
								</a>
								<a href="#" class="link-section">
									<span class="link-section__caption">Пример ссылки на любой раздел</span>
									<div class="link-section__wrap-arrow">
										<svg>
											<use xlink:href="img/sprite.svg#svg--arrow-link-two">
										</svg>
									</div>
								</a>
								<a href="#" class="link-section">
									<span class="link-section__caption">Пример ссылки на любой раздел</span>
									<div class="link-section__wrap-arrow">
										<svg>
											<use xlink:href="img/sprite.svg#svg--arrow-link-two">
										</svg>
									</div>
								</a>
							</div>
							<ul>
								<li>Город занимает выгодное экономико-географическое положение </li>
								<li>В Южном федеральном округе, расположен на важнейших транспортных магистралях</li>
								<li>Связывающих центр России с портами Черного и Азовского морей</li>
							</ul>
							<ol>
								<li>Город занимает выгодное экономико-географическое положение</li>
								<li>В Южном федеральном округе, расположен на важнейших транспортных магистралях</li>
								<li>Связывающих центр России с портами Черного и Азовского морей</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block Scripts %}
	<script>
		const accUp = new Accordion(".accordion__up");

		accUp.createAccordion();
	</script>
{% endblock %}