{% extends "__layout.njk" %}

{% block Link %}
{% endblock %}

{% block Header %}
	{% include "include/blue-line.njk" %}
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs__scroll">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Главная</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Пункт меню</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<a href="" class="breadcrumbs__link">Пункт меню</a>
						<svg>
							<use xlink:href="img/sprite.svg#svg--arrow-two">
						</svg>
					</li>
					<li class="breadcrumbs__item">
						<span class="breadcrumbs__link">Главные новости</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block Content %}
	<section class="content-page">
		<div class="container">
			<div class="row-title">
				<h2 class="title">Предстоящие конференции</h2>		
			</div>
		</div>
		<div class="upcoming-conferences-page">
			<div class="container">
				<div class="upcoming-conferences-page__wrapper">
					{{ mixin.conferencesPost('conferences-img1', 'Онлайн-конференция Ирины Косинковой «Права потребителей и механизм их реализации на территории города Краснодара»', '15 марта 2021 года с 11.00–12.00 на официальном Интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара состоится онлайн-конференция начальника управления по социальным вопросам администрации муниципального образования город Краснодар Ирины Алексеевны Косинковой на тему: «Права потребителей и механизм их реализации на территории города Краснодара».') }}
					{{ mixin.conferencesPost('conferences-img2', 'Онлайн-конференция Виктора Тушева «Организация работы по профилактике и противодействию коррупции в администрации муниципального образования город Краснодар, а также иные вопросы кадровой политики»', '10 декабря 2020 года с 11.00–12.00 на официальном Интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара состоялась онлайн-конференция начальника управления кадровой политики и муниципальной службы администрации муниципального образования город Краснодар Виктора Александровича Тушева на тему: «Организация работы по профилактике и противодействию коррупции администрации муниципального образования город Краснодар, а также иные вопросы кадровой политики».') }}
				</div>
			</div>
		</div>
		<div class="gray-sect">
			<div class="container">
				<div class="row-title">
					<h2 class="title">Прошедшие конференции</h2>		
				</div>
			</div>
			<div class="upcoming-conferences-page">
				<div class="container">
					<div class="upcoming-conferences-page__wrapper">
						{{ mixin.conferencesPost('conferences-img1', 'Онлайн-конференция Ирины Косинковой «Права потребителей и механизм их реализации на территории города Краснодара»', '15 марта 2021 года с 11.00–12.00 на официальном Интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара состоится онлайн-конференция начальника управления по социальным вопросам администрации муниципального образования город Краснодар Ирины Алексеевны Косинковой на тему: «Права потребителей и механизм их реализации на территории города Краснодара».') }}
						{{ mixin.conferencesPost('conferences-img2', 'Онлайн-конференция Виктора Тушева «Организация работы по профилактике и противодействию коррупции в администрации муниципального образования город Краснодар, а также иные вопросы кадровой политики»', '10 декабря 2020 года с 11.00–12.00 на официальном Интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара состоялась онлайн-конференция начальника управления кадровой политики и муниципальной службы администрации муниципального образования город Краснодар Виктора Александровича Тушева на тему: «Организация работы по профилактике и противодействию коррупции администрации муниципального образования город Краснодар, а также иные вопросы кадровой политики».') }}
						{{ mixin.conferencesPost('conferences-img1', 'Онлайн-конференция Ирины Косинковой «Права потребителей и механизм их реализации на территории города Краснодара»', '15 марта 2021 года с 11.00–12.00 на официальном Интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара состоится онлайн-конференция начальника управления по социальным вопросам администрации муниципального образования город Краснодар Ирины Алексеевны Косинковой на тему: «Права потребителей и механизм их реализации на территории города Краснодара».') }}
						{{ mixin.conferencesPost('conferences-img2', 'Онлайн-конференция Виктора Тушева «Организация работы по профилактике и противодействию коррупции в администрации муниципального образования город Краснодар, а также иные вопросы кадровой политики»', '10 декабря 2020 года с 11.00–12.00 на официальном Интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара состоялась онлайн-конференция начальника управления кадровой политики и муниципальной службы администрации муниципального образования город Краснодар Виктора Александровича Тушева на тему: «Организация работы по профилактике и противодействию коррупции администрации муниципального образования город Краснодар, а также иные вопросы кадровой политики».') }}
						{{ mixin.conferencesPost('conferences-img1', 'Онлайн-конференция Ирины Косинковой «Права потребителей и механизм их реализации на территории города Краснодара»', '15 марта 2021 года с 11.00–12.00 на официальном Интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара состоится онлайн-конференция начальника управления по социальным вопросам администрации муниципального образования город Краснодар Ирины Алексеевны Косинковой на тему: «Права потребителей и механизм их реализации на территории города Краснодара».') }}
						{{ mixin.conferencesPost('conferences-img2', 'Онлайн-конференция Виктора Тушева «Организация работы по профилактике и противодействию коррупции в администрации муниципального образования город Краснодар, а также иные вопросы кадровой политики»', '10 декабря 2020 года с 11.00–12.00 на официальном Интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара состоялась онлайн-конференция начальника управления кадровой политики и муниципальной службы администрации муниципального образования город Краснодар Виктора Александровича Тушева на тему: «Организация работы по профилактике и противодействию коррупции администрации муниципального образования город Краснодар, а также иные вопросы кадровой политики».') }}
						{{ mixin.conferencesPost('conferences-img1', 'Онлайн-конференция Ирины Косинковой «Права потребителей и механизм их реализации на территории города Краснодара»', '15 марта 2021 года с 11.00–12.00 на официальном Интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара состоится онлайн-конференция начальника управления по социальным вопросам администрации муниципального образования город Краснодар Ирины Алексеевны Косинковой на тему: «Права потребителей и механизм их реализации на территории города Краснодара».') }}
						{{ mixin.conferencesPost('conferences-img2', 'Онлайн-конференция Виктора Тушева «Организация работы по профилактике и противодействию коррупции в администрации муниципального образования город Краснодар, а также иные вопросы кадровой политики»', '10 декабря 2020 года с 11.00–12.00 на официальном Интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара состоялась онлайн-конференция начальника управления кадровой политики и муниципальной службы администрации муниципального образования город Краснодар Виктора Александровича Тушева на тему: «Организация работы по профилактике и противодействию коррупции администрации муниципального образования город Краснодар, а также иные вопросы кадровой политики».') }}
						{{ mixin.conferencesPost('conferences-img1', 'Онлайн-конференция Ирины Косинковой «Права потребителей и механизм их реализации на территории города Краснодара»', '15 марта 2021 года с 11.00–12.00 на официальном Интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара состоится онлайн-конференция начальника управления по социальным вопросам администрации муниципального образования город Краснодар Ирины Алексеевны Косинковой на тему: «Права потребителей и механизм их реализации на территории города Краснодара».') }}
						{{ mixin.conferencesPost('conferences-img2', 'Онлайн-конференция Виктора Тушева «Организация работы по профилактике и противодействию коррупции в администрации муниципального образования город Краснодар, а также иные вопросы кадровой политики»', '10 декабря 2020 года с 11.00–12.00 на официальном Интернет-портале администрации муниципального образования город Краснодар и городской Думы Краснодара состоялась онлайн-конференция начальника управления кадровой политики и муниципальной службы администрации муниципального образования город Краснодар Виктора Александровича Тушева на тему: «Организация работы по профилактике и противодействию коррупции администрации муниципального образования город Краснодар, а также иные вопросы кадровой политики».') }}
					</div>
				</div>
			</div>
			<div class="pagination">
				<div class="container">
					<div class="pagination__wrapper">
						<div class="pagination__left">
							<a href="#" class="btn-white">
								<svg>
									<use xlink:href="img/sprite.svg#svg--arrow-two"></use>
								</svg>
								<span class="btn-white__text">Предыдущая</span>
							</a>
						</div>
						<ul class="pagination__list">
							<li class="pagination__item"><a href="#" class="pagination__link">1</a></li>
							<li class="pagination__item"><a href="#" class="pagination__link pagination__link--active">2</a></li>
							<li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
							<li class="pagination__item"><a href="#" class="pagination__link">4</a></li>
							<li class="pagination__item"><a href="#" class="pagination__link">5</a></li>
							<li class="pagination__item"><a href="#" class="pagination__link">6</a></li>
							<li class="pagination__item"><a href="#" class="pagination__link pagination__link--dotted">...</a></li>
							<li class="pagination__item"><a href="#" class="pagination__link">8</a></li>
						</ul>
						<div class="pagination__right">
							<a href="#" class="btn-white">
								<svg>
									<use xlink:href="img/sprite.svg#svg--arrow-two"></use>
								</svg>
								<span class="btn-white__text">Предыдущая</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row-btn">
				<div class="container">
					<a href="#" class="btn-white"><span class="btn-white__text">Загрузить предыдущие галереи</span></a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block Scripts %}
{% endblock %}