{% extends "__layout.njk" %}

{% block Content %}

<div class="container" style="padding: 100px 15px; display: flex; flex-direction: column; align-items: flex-start;">
    <a href="index.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Главная</a>
    <a href="gallery.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Галерея</a>
    <a href="structure-page.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Структура администрации</a>
    <a href="human-inner.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Страница руководителя</a>
    <a href="news-list.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Новости</a>
    <a href="news-inner.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Новости - внутреняя страница</a>
    <a href="text-page.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Текстовая страница</a>
</div>

{% endblock %}