header {
	margin-bottom: 56px;
}
.page-header {
	&__up-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;
		border-bottom: 1px solid #D9D9DE;
		@media (max-width: 1079px) {
			display: none;
		}
	}

	&__wrapper-left {
		display: flex;
		align-items: center;
	}

	&__wrapper-right {
		display: flex;
		align-items: center;
	}

	.link-over {
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__wrapper-down {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;
	}

	&__left {
		display: flex;
		align-items: center;
		@media (max-width: 1079px) {
			order: 2;
		}
		.sm-text {
			@media (max-width: 1300px) {
				display: none;
			}
		}
	}

	&__right {
		display: flex;
		align-items: center;
		flex-grow: 1;
		justify-content: flex-end;
		padding-left: 15px;
		@media (max-width: 1079px) {
			flex-grow: 0;
			padding-left: 0;
		}
	}
}

.nav {
	@media (max-width: 1079px) {
		display: none;
	}
	&__list {
		display: flex;
	}

	&__item {
		margin-right: 40px;
	}

	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: #000;
	}
}

.search {
	&__wrap-icon {
		max-height: 16px;
	}
	svg {
		width: 16px;
		height: 16px;
		stroke: #000000;
		stroke-width: 2px;
		cursor: pointer;
	}
}

.burger {
	display: none;
	@media (max-width: 1079px) {
		display: flex;
		order: 3;
	}
	width: 16px;
	height: 14px;
	flex-direction: column;
	justify-content: space-between;
	&__line {
		height: 2px;
		background-color: #000;
		&:nth-child(2) {
			margin-left: 4px;
		}
	}
}