header {
	margin-bottom: 56px;
}
.page-header {
	&__up-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;
		border-bottom: 1px solid #D9D9DE;
	}

	&__wrapper-left {
		display: flex;
		align-items: center;
	}

	&__wrapper-right {
		display: flex;
		align-items: center;
	}

	.link-over {
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__wrapper-down {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;
	}

	&__left {
		display: flex;
		align-items: center;
	}

	&__right {
		display: flex;
		align-items: center;
		flex-grow: 1;
		justify-content: flex-end;
		padding-left: 15px;
	}
}

.nav {
	&__list {
		display: flex;
	}

	&__item {
		margin-right: 40px;
	}

	&__link {
		
	}
	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: #000;
	}
}

.search {
	&__wrap-icon {
		max-height: 16px;
	}
	svg {
		width: 16px;
		height: 16px;
		stroke: #000000;
		stroke-width: 2px;
		cursor: pointer;
	}
}