// .modal-container,
// .overlay_popup {
//   position: fixed;
//   left: 0;
//   top: 0;
//   right: 0;
//   z-index: 120;
//   display: none;
// }

// .overlay {
//   opacity: 0;
//   visibility: hidden;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 120;
//   transition: 0.3s all;
// }

// .modal.active,
// .overlay.active {
//   opacity: 1;
//   visibility: visible;
//   display: block;
// }

// .modal-container {
//   bottom: 0;
//   overflow: auto;
//   background-color: rgba(0, 0, 0, 0.4);

//   &__container {
//     display: table;
//     width: 100%;
//     height: 100%;
//   }

//   &__wrapper {
//     display: table-cell;
//     padding-top: 30px;
//     padding-bottom: 30px;
//     width: 100%;
//     vertical-align: middle;
//     padding-left: 24px;
//     padding-right: 24px;
//     text-align: center;

//     @media (max-width: 767px) {
//       padding-left: 16px;
//       padding-right: 16px;
//     }
//   }
// }

// .overlay_popup {
//   background-color: rgba(0, 0, 0, 0.4);
//   height: 100%;
// }

// .my-modal {
//   background-color: #fff;
//   background-clip: padding-box;
//   position: relative;
//   // z-index: 130;
//   display: inline-block;
//   margin: 0 auto 0;
//   width: 100%;
//   padding: 48px;
//   box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.2);
//   text-align: left;
//   border-radius: 20px;
//   max-width: 672px;

//   @media (max-width: 767px) {
//     padding: 24px;
//   }

//   &__block {
//     position: relative;
//   }

//   &__close {
//     position: absolute;
//     width: 32px;
//     height: 32px;
//     cursor: pointer;
//     z-index: 5;
//     border-radius: 100px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     right: 16px;
//     top: 16px;
//     border-radius: 4px;

//     &::before {
//       content: "";
//       position: absolute;
//       top: 4px;
//       right: calc(50% - 0.5px);
//       bottom: 4px;
//       width: 2px;
//       background-color: #e37021;
//       transition: all 0.3s ease-in-out;
//       transform: rotate(45deg);
//     }

//     &::after {
//       content: "";
//       position: absolute;
//       top: 4px;
//       right: calc(50% - 0.5px);
//       bottom: 4px;
//       width: 2px;
//       background-color: #e37021;
//       transition: all 0.3s ease-in-out;
//       transform: rotate(-45deg);
//     }

//     &:hover {

//       &::after,
//       &::before {
//         background-color: #0061aa;
//       }
//     }
//   }

//   .title {
//     margin-bottom: 40px;

//     @media (max-width: 767px) {
//       font-size: 24px;
//       line-height: normal;
//     }
//   }

//   &__up {
//     margin-bottom: 40px;

//     .title {
//       margin-bottom: 15px;
//       padding: 0;

//       &::before {
//         display: none;
//       }
//     }
//   }

//   &__subtitle {
//     font-size: 16px;
//     line-height: 24px;
//     color: #3a4558;
//     opacity: 0.7;
//   }

//   .field {
//     display: flex;
//     margin-bottom: 22px;

//     @media (max-width: 767px) {
//       display: block;
//     }

//     &__description {
//       font-size: 16px;
//       line-height: 24px;
//       color: #3a4558;
//       min-width: 120px;
//       max-width: 120px;
//       margin-right: 32px;
//       display: block;
//       margin-top: 13px;

//       @media (max-width: 767px) {
//         margin-right: 0;
//         margin-bottom: 12px;
//       }
//     }

//     &__wrap {
//       flex-grow: 1;
//       position: relative;
//     }

//     &__field {
//       @extend .your-adrees__field;
//       margin-bottom: 0;
//       min-width: 1px;
//       transition: all 0.3s ease-in-out;
//     }

//     &--error {
//       .field__field,
//       .field__input {
//         border-color: #df0f0f;
//         box-shadow: 0 0 0 1px #df0f0f;
//       }
//     }
//   }

//   &__flex {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 40px;

//     @media (max-width: 767px) {
//       display: block;
//       margin-bottom: 20px;
//     }
//   }

//   &__text-info {
//     font-size: 20px;
//     line-height: 32px;
//     color: #3a4558;
//     display: block;
//     padding-top: 25px;
//   }

//   &__link {
//     font-size: 16px;
//     line-height: 24px;
//     text-align: right;
//     color: #0061aa;

//     &:hover {
//       color: #0061aa;
//       text-decoration: underline;
//     }

//     &:focus,
//     &:active {
//       color: #0061aa;
//     }
//   }

//   .link-more {
//     width: 100%;
//     justify-content: center;
//     background-color: transparent;
//     cursor: pointer;
//     margin-bottom: 16px;

//     &:last-child {
//       margin-bottom: 0;
//     }

//     &__svg {
//       stroke: #e37021;
//       width: 14px;
//       height: 14px;
//       margin-left: 16px;
//     }
//   }

//   .block-btn {
//     width: 100%;
//     justify-content: center;
//     margin-bottom: 15px;

//     &:last-child {
//       margin-bottom: 0;
//     }
//   }

//   &__caption {
//     font-size: 16px;
//     line-height: 24px;
//     color: #3a4558;
//     margin-bottom: 10px;
//   }

//   &__row {
//     display: flex;
//     margin-bottom: 40px;
//   }

//   &--two {
//     max-width: 976px;
//     // padding-bottom: 40px;
//   }

//   &__wrap-video {
//     position: relative;
//     padding-bottom: 56.25%;
//     height: 0;
//     overflow: hidden;
//     margin-bottom: 30px;

//     iframe {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       border-width: 0;
//       outline-width: 0;
//     }
//   }
// }



// .check-form {
//   display: flex;
//   margin-right: 30px;

//   @media (max-width: 767px) {
//     margin-bottom: 20px;

//     &:last-child {
//       margin-bottom: 0;
//     }
//   }

//   &__input {
//     display: none;
//   }

//   &__square {
//     border: 1px solid #d8dade;
//     box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
//     border-radius: 4px;
//     width: 24px;
//     height: 24px;
//     margin-right: 16px;
//     position: relative;
//     cursor: pointer;
//     transition: all 0.3s ease-in-out;

//     &:hover {
//       border: 1px solid #767D8B;
//     }
//   }

//   &__input:checked+.check-form__square::before {
//     position: absolute;
//     content: "";
//     left: 4px;
//     top: 4px;
//     bottom: 4px;
//     right: 4px;
//     background-color: #E37021;
//     border-radius: 4px;
//   }

//   &__text {
//     font-size: 16px;
//     line-height: 24px;
//     color: #3a4558;

//     a {
//       font-size: 16px;
//       line-height: 24px;
//       color: #0061aa;

//       &:hover {
//         text-decoration: underline;
//         color: #0061aa;
//       }

//       &:active,
//       &:focus {
//         color: #0061aa;
//       }
//     }
//   }
//   &--disabled {
//     position: relative;
//     &::before {
//       content: "";
//       position: absolute;
//       left: 0;
//       top: 0;
//       bottom: 0;
//       right: 0;
//       z-index: 10;
//     }
//     .check-form__square {
//       background-color: rgba(0, 0, 0, 0.2);
//     }
//   }
// }

// .topics-modal {
//   &__flex {
//     display: flex;
//     align-items: center;
//     margin-bottom: 38px;

//     @media (max-width: 767px) {
//       flex-wrap: wrap;

//       .block-btn {
//         padding: 12px 12px;

//         &__text {
//           display: none;
//         }
//       }
//     }
//   }

//   &__text-field {
//     font-family: 'Oswald', sans-serif;
//     font-weight: bold;
//     font-size: 18px;
//     line-height: 24px;
//     letter-spacing: 0.05em;
//     text-transform: uppercase;
//     color: #3A4558;
//     white-space: nowrap;
//     margin-right: 16px;

//     @media (max-width: 767px) {
//       width: 100%;
//       display: block;
//       margin: 0 0 16px;
//     }
//   }

//   &__field {
//     @extend .field__field;
//     margin-right: 16px;

//     @media (max-width: 767px) {
//       flex-grow: 1;
//     }
//   }

//   .block-btn {
//     position: relative;
//     width: auto;
//     align-self: stretch;

//     &::before {
//       content: "";
//       position: absolute;
//       left: 0;
//       bottom: 0;
//       background-color: #0061AA;
//       top: 0;
//       right: 0;
//       border-radius: 4px;
//       transition: all .3s ease-in-out;
//     }

//     &:hover {
//       &::before {
//         background-color: #E37021;
//       }
//     }

//     &__svg {
//       stroke: #fff;
//       width: 16px;
//       height: 16px;
//       margin-left: 14px;
//       position: relative;
//       z-index: 1;
//     }

//     &__text {
//       position: relative;
//       z-index: 1;
//     }
//   }

//   &__scroll-wrap {
//     overflow: auto;
//     margin-bottom: 32px;

//     .scrollbar-track {
//       opacity: 1;
//       background-color: transparent;

//       .scrollbar-thumb {
//         background-color: #C4C4C4;
//       }
//     }
//   }

//   &__grid {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     column-gap: 32px;
//     row-gap: 14px;
//     max-height: 300px;
//     position: relative;
//     z-index: 1;

//     @media (max-width: 767px) {
//       grid-template-columns: repeat(1, 1fr);
//     }
//   }

//   &__wrap {
//     display: flex;

//     input {
//       display: none;
//     }
//   }

//   &__square {
//     @extend .check-form__square;
//   }

//   &__text-check {
//     font-size: 16px;
//     line-height: 24px;
//     color: #3A4558;
//     margin-top: 1px;

//     span {
//       font-size: 16px;
//       line-height: 24px;
//       color: #767D8B;
//       margin-left: 5px;
//     }
//   }

//   &__wrap-active {
//     margin: 0 -4px;
//     flex-grow: 1;
//   }

//   &__down {
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-end;

//     .block-btn {
//       align-self: flex-end;
//       margin-bottom: 8px;

//       &::before {
//         border: 1px solid #e37021;
//         background-color: transparent;
//       }

//       &:hover {
//         &::before {
//           background-color: #fff;
//         }

//         .block-btn__text {
//           color: #e37021;
//         }

//         .block-btn__arrow {
//           stroke: #e37021;
//         }
//       }
//     }

//     .topic-line {
//       display: inline-block;
//     }

//     @media (max-width: 767px) {
//       display: block;

//       .block-btn {
//         margin-bottom: 0 !important;
//         width: 100%;
//       }
//     }
//   }
// }

// .topics-modal__wrap input:checked+.topics-modal__square::before {
//   position: absolute;
//   content: "";
//   left: 3px;
//   top: 3px;
//   bottom: 3px;
//   right: 3px;
//   background-color: #e37021;
//   border-radius: 4px;
// }

// .my-modal .topics-modal__down .block-btn {
//   margin-bottom: 8px;
// }



// .video-modal {
//   max-width: 976px;
// }

// .modal-form {
//   &__wrap {
//     margin-bottom: 22px;
//   }
// }


.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	display: none;
	overflow: hidden;

	&--open {
		display: block;
	}

	&__overlay {
		height: 100%;
		width: 100%;
		background-color: rgba($color: #F5F5F7, $alpha: 0.9);
		overflow-y: auto;
		text-align: center;
		white-space: nowrap;
		padding: 15px 15px;

		@media (max-width: 767px) {
			padding: 15px 8px;
		}

		&::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			font-size: 0;
			line-height: 0;

			@media (max-width: 767px) {
				margin-left: -4px;
			}
		}
	}

	&__block {
		background-color: #fff;
		margin: 0;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		width: 100%;
		max-width: 90%;
		font-size: 0;
		line-height: 0;
		padding: 44px 56px 56px;
		position: relative;
		white-space: pre-wrap;

		@media (max-width: 767px) {
			// max-width: 100% !important;
			padding: 24px;
		}
	}

	&__up {
		margin-bottom: 20px;
		vertical-align: inherit;
	}

	&__down {
		display: block;
		vertical-align: inherit;
	}

	&__caption {
		font-weight: 600;
		font-size: 32px;
		line-height: 40px;
		color: #000000;

		@media (max-width: 767px) {
			font-size: 26px;
			line-height: 32px;
		}
	}
}

.close {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 24px;
	right: 24px;
	cursor: pointer;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: calc(50% - 1px);
		width: 2px;
		background-color: #0050B2;
	}

	&::after {
		transform: rotate(45deg);
	}

	&::before {
		transform: rotate(-45deg);
	}
}

.modal-calendar {
	max-width: 444px;
}

.calendar {
	&__up {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #D9D9DE;
		margin-bottom: 25px;

		@media (max-width: 767px) {
			margin-bottom: 18px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		padding-bottom: 19px;
		cursor: pointer;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 4px;
			right: 100%;
			height: 4px;
			background-color: #0061D9;
			opacity: 0;
			transition: all 0.3s ease-in-out;
		}

		svg {
			width: 17px;
			height: 17px;
			stroke: #A7A8AB;
			stroke-width: 2px;
			display: block;
			margin-right: 11px;
			pointer-events: none;
		}

		span {
			display: block;
			font-weight: 500;
			font-size: 18px;
			line-height: normal;
			color: #0050B2;
			pointer-events: none;

			@media (max-width: 767px) {
				font-size: 16px;
				line-height: 24px;
			}
		}

		&.active-item-tab {
			&::before {
				right: 0;
				opacity: 1;
			}

			span {
				color: #000000;
			}
		}
	}

	&__tab {
		input {
			margin-bottom: 15px;
		}

		.flatpickr-calendar {
			width: 100%;
			box-shadow: none;
		}

		.flatpickr-months {
			padding: 0 !important;
			padding-bottom: 18px !important;
		}
	}

	&__field {
		width: 100%;

		&--change {
			display: none;
		}
	}

	.btn-white {
		margin-top: 24px;
		width: 100%;
		display: none;

		&__text {
			pointer-events: none;
		}
	}
}

.modal-topic {
	max-width: 852px;
	padding: 44px 56px 44px;

	@media (max-width: 767px) {
		padding: 24px;
	}

	.modal__up {
		@media (max-width: 767px) {
			margin-bottom: 5px;
		}
	}
}

.topic-block {
	&__up {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;

		@media (max-width: 767px) {
			display: block;
		}
	}

	&__caption {
		font-weight: 600;
		font-size: 22px;
		line-height: 28px;
		margin-right: 22px;

		@media (max-width: 767px) {
			margin-right: 0;
			margin-bottom: 10px;
			display: block;
			font-size: 18px;
			line-height: 24px;
		}
	}

	&__field-wrap {
		flex-grow: 1;
		position: relative;
	}

	&__btn-search {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		svg {
			width: 16px;
			height: 16px;
			stroke: #000000;
			stroke-width: 2px;
		}
	}

	&__field {
		border: 1px solid #A7A8AB;
		border-radius: 4px;
		font-size: 18px;
		line-height: 28px;
		width: 100%;
		padding: 8px 24px 10px;
		transition: all 0.3s ease-in-out;

		@media (max-width: 767px) {
			font-size: 16px;
			line-height: 24px;
			padding: 6px 15px 8px;
		}

		&:hover {
			border-color: #333333;
		}

		&:focus {
			box-shadow: 0 0 0 4px #99A9F8;
		}

		&::placeholder {
			color: #76767A;
			font-size: 18px;
			line-height: 28px;
		}
	}

	&__middle {
		margin-bottom: 32px;

		@media (max-width: 767px) {
			margin-bottom: 12px;
		}
	}

	&__scroll {
		overflow: auto;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 32px;
		row-gap: 12px;
		padding-right: 40px;
		max-height: 350px;

		@media (max-width: 767px) {
			grid-template-columns: 1fr;
			padding-right: 16px;
		}
	}

	&__item {
		// pointer-events: unset;
	}

	&__flex {
		display: flex;
		justify-content: space-between;

		@media (max-width: 767px) {
			display: block;

		}
	}

	&__left {
		margin-right: 32px;
		flex-grow: 1;

		@media (max-width: 767px) {
			margin-right: 0;
			margin-bottom: 0;
			padding: 6px 0;
		}
	}

	&__right {
		// margin-top: 12px;
	}
}

.modal-citizens {
	max-width: 1192px;
	padding: 38px 56px;
}

.modal--open .modal-citizens {

	.modal__caption,
	.info-text.date,
	.citizens-area {
		animation: showContent 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	}
}

@keyframes showContent {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.citizens-area {
	picture {
		float: left;
		max-width: 296px;
		margin: 0 40px 10px 0;
		display: block;

		@media (max-width: 575px) {
			float: none;
			text-align: inherit;
			max-width: inherit;
			margin: 0;
			font-size: 14px;
			line-height: normal;
		}

		img {
			width: 100%;
			text-align: inherit;
			line-height: normal;

			@media (max-width: 767px) {
				margin: 0 0 15px;
			}
		}
	}

	p {
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 40px;
		word-break: break-all;
		white-space: pre-wrap;
		display: block;

		// display: inline-block;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.modal-table {
	max-width: inherit;
	width: 99.5%;

	.table-page__wrap-table {
		padding-bottom: 0;
	}

	table {
		white-space: normal;
	}
}

.sites-modal {
	max-width: 1360px;

	&__wrapper {
		display: flex;
		max-height: 642px;
	}

	&__left {
		width: 336px;
		flex-shrink: 0;
		overflow: auto;
		@media (max-width: 767px) {
			width: auto;
		}
	}

	&__list {
		padding-right: 40px;
	}

	&__item {
		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__right {
		overflow: auto;
		flex-grow: 1;
		padding-left: 32px;
		margin-right: -30px;
		padding-right: 30px;
		@media (max-width: 767px) {
			margin-right: 0;
			padding-right: 0;
		}
	}
}

.sites-block {
	margin-bottom: 42px;
	&:last-child {
		margin-bottom: 0;
	}
	&__up {
		padding-bottom: 15px;
		border-bottom: 1px solid #D9D9DE;
		margin-bottom: 32px;
	}

	&__title {
		font-weight: 600;
		font-size: 28px;
		line-height: 36px;
		color: #000000;
	}

	&__down {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 24px;
		row-gap: 24px;
		@media (max-width: 1079px) {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		text-align: left;
		white-space: normal;
		padding: 17px 20px;
		border: 1px solid #B3CBE8;
		border-radius: 4px;
		transition: all 0.3s ease-in-out;
		min-height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: #fff;
		&:hover {
			border-color: transparent;
			box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
			.sites-block__text {
				color: #0050B2;
			}
			svg {
				opacity: 1;
			}
		}
	}
	&__caption {
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		color: #000000;
		text-align: left;
		max-width: 80%;
		transition: all 0.3s ease-in-out;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	&__text {
		font-size: 16px;
		line-height: 24px;
		color: #333333;
	}
	svg {
		width: 16px;
		height: 16px;
		stroke: #0061D9;
		stroke-width: 2px;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		margin-left: 15px;
		flex-shrink: 0;
	}
}

.event-calendar {
	.dayContainer {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			z-index: 1;
		}
	}
	.event-day {
		background-color: #0061d9;
    color: #fff !important;
		position: relative;
		z-index: 2;
	}
	.event-text-hiden {
		display: none;
	}
}