<section class="blue-line">
	<div class="container">
		<div class="blue-line__wrapper">
			<div class="blue-line__left">
				<picture>
					<source srcset="img/img-blue-line1.webp" type="image/webp">
					<source srcset="img/img-blue-line1.jpg" type="image/jpeg">
					<img src="img/img-blue-line1.jpg" alt="">
				</picture>
				<span class="blue-line__text-lg">Масочный режим в Краснодаре</span>
				<span class="blue-line__sm-text">Защити себя и окружающих людей</span>
			</div>
			<div class="blue-line__right">
				<a href="#" class="btn-block">
					<span class="btn-block__text">Подробнее</span>
				</a>
			</div>
		</div>
	</div>
</section>