<section class="page-header">
	<div class="page-header__up">
		<div class="container">
			<div class="page-header__up-wrapper">
				<div class="page-header__wrapper-left">
					<a href="#" class="link-over language">
						<svg>
     					<use xlink:href="img/sprite.svg#svg--Icon-lang">
						</svg>
						<span>
							English
						</span>
					</a>
					<a href="#" class="link-over visually-impaired">
						<svg>
     					<use xlink:href="img/sprite.svg#svg--Icon-glass">
						</svg>
						<span>
							Версия для слабовидящих
						</span>
					</a>
					<a href="#" class="link-over link-social">
						<svg>
     					<use xlink:href="img/sprite.svg#svg--Icon-social">
						</svg>
						<span>
							Социальные сети
						</span>
					</a>
				</div>
				<div class="page-header__wrapper-right">
					<a href="#" class="link-over link-administration">
						<svg>
     					<use xlink:href="img/sprite.svg#svg--Icon-connection">
						</svg>
						<span>
							Связь с администрацией
						</span>
					</a>
					<a href="#" class="link-over personal-area">
						<svg>
     					<use xlink:href="img/sprite.svg#svg--Icon-account">
						</svg>
						<span>
							Личный кабинет
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="page-header__down">
		<div class="container">
			<div class="page-header__wrapper-down">
				<div class="page-header__left">
					<a href="#" class="logo">
						<img src="img/logo-one.png" alt="">
						<span class="logo__text">krd.ru</span>
					</a>
					<span class="sm-text">Администрация и городская Дума Краснодара</span>
				</div>
				<div class="page-header__right">
					<nav class="nav">
						<ul class="nav__list">
							<li class="nav__item"><a href="#" class="nav__link"><span class="nav__text">О Краснодаре</span></a></li>
							<li class="nav__item"><a href="#" class="nav__link"><span class="nav__text">Горожанам</span></a></li>
							<li class="nav__item"><a href="#" class="nav__link"><span class="nav__text">Администрация</span></a></li>
							<li class="nav__item"><a href="#" class="nav__link"><span class="nav__text">Городская Дума</span></a></li>
							<li class="nav__item"><a href="#" class="nav__link"><span class="nav__text">Документы</span></a></li>
						</ul>
					</nav>
					<div class="search">
						<div class="search__wrap-icon">
							<svg>
								<use xlink:href="img/sprite.svg#svg--search">
							</svg>
						</div>
						{# <div class="search__wrapper"></div> #}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>