<section class="page-header">
	<div class="page-header__up">
		<div class="container">
			<div class="page-header__up-wrapper">
				<div class="page-header__wrapper-left">
					<a href="#" class="link-over language">
						<svg>
     					<use xlink:href="img/sprite.svg#svg--Icon-lang">
						</svg>
						<span>
							English
						</span>
					</a>
					<a href="#" class="link-over visually-impaired">
						<svg>
     					<use xlink:href="img/sprite.svg#svg--Icon-glass">
						</svg>
						<span>
							Версия для слабовидящих
						</span>
					</a>
					<a href="#" class="link-over link-social">
						<svg>
     					<use xlink:href="img/sprite.svg#svg--Icon-social">
						</svg>
						<span>
							Социальные сети
						</span>
					</a>
				</div>
				<div class="page-header__wrapper-right">
					<a href="#" class="link-over link-administration">
						<svg>
     					<use xlink:href="img/sprite.svg#svg--Icon-connection">
						</svg>
						<span>
							Связь с администрацией
						</span>
					</a>
					<a href="#" class="link-over personal-area">
						<svg>
     					<use xlink:href="img/sprite.svg#svg--Icon-account">
						</svg>
						<span>
							Личный кабинет
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="page-header__down" id="myHeader">
		<div class="container">
			<div class="page-header__wrapper-down">
				<div class="page-header__left">
					<a href="#" class="logo">
						<img src="img/logo-one.png" alt="">
						<span class="logo__text">krd.ru</span>
					</a>
					<span class="sm-text">Администрация и городская Дума Краснодара</span>
				</div>
				<div class="page-header__right">
					<nav class="nav">
						<ul class="nav__list">
							<li class="nav__item">
								<a href="#" class="nav__link">
									<span class="nav__text">О Краснодаре</span>
								</a>
								<ul class="dropdown-list">
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Главные новости</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>История города</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Символика</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Руководители города</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Почетные граждане города</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Герои Великой Отечественной Войны</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Гостям города</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Виртуальные экскурсии</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Фотогалереи</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Международные связи</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav__item"><a href="#" class="nav__link"><span class="nav__text">Горожанам</span></a></li>
							<li class="nav__item"><a href="#" class="nav__link"><span class="nav__text">Администрация</span></a></li>
							<li class="nav__item"><a href="#" class="nav__link"><span class="nav__text">Городская Дума</span></a></li>
							<li class="nav__item">
								<a href="#" class="nav__link"><span class="nav__text">Документы</span></a>
								<ul class="dropdown-list">
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Главные новости</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>История города</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Символика</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Руководители города</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Почетные граждане города</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Герои Великой Отечественной Войны</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Гостям города</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Виртуальные экскурсии</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Фотогалереи</span>
										</a>
									</li>
									<li class="dropdown-list__item">
										<a href="#">
											<svg>
												<use xlink:href="img/sprite.svg#svg--arrow-link"></use>
											</svg>
											<span>Международные связи</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
					<div class="search" data-click-search="search1">
						<div class="search__wrap-icon">
							<svg>
								<use xlink:href="img/sprite.svg#svg--search">
							</svg>
						</div>
					</div>
				</div>
				<div class="burger">
					<div class="burger__line"></div>
					<div class="burger__line"></div>
					<div class="burger__line"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="search-modal" id="search1">
	<div class="search-modal__overlay">
		<div class="search-modal__block">
			<div class="container">
				<div class="search-modal__wrapper">
					<div class="close-search">
						<span class="close-search__text">Закрыть</span>
						<span class="close-search__icon"></span>
					</div>				
					<h4 class="search-modal__caption">Поиск по сайту</h4>
					<span class="search-modal__text">Введите запрос для поиска например, структура администрации</span>
					<div class="input-search-sect">
						<form action="" class="input-search-sect__form">
							<div class="input-search-sect__wrap">
								<label>
									<input type="text" class="input-search-sect__field" placeholder="Поиск">
									<svg>
										<use xlink:href="img/sprite.svg#svg--search">
									</svg>
								</label>
							</div>
							<div class="input-search-sect__down">
								<div class="wrap-field-check">
									<label class="check-row">
										<input type="checkbox">
										<div class="check-row__wrap">
											<span class="check-row__square"></span>
											<span class="check-row__text">искать по главным новостям</span>
										</div>
									</label>
								</div>
								<div class="wrap-field-check">
									<label class="check-row">
										<input type="checkbox">
										<div class="check-row__wrap">
											<span class="check-row__square"></span>
											<span class="check-row__text">искать в документах</span>
										</div>
									</label>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>