<section class="mob-menu">
	<div class="mob-menu__up">
		<a href="#" class="logo">
			<img src="img/logo-one.png" alt="">
			<span class="logo__text">krd.ru</span>
		</a>
		<div class="mob-menu__close-wrap">
			<span>Закрыть</span>
			<div class="mob-menu__close"></div>
		</div>
	</div>
	<div class="mob-menu__middle">
		<nav class="menu-nav">
			<div class="menu-nav__item">
				<div class="menu-nav__up">
					<span class="menu-nav__caption">О Краснодаре</span>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-one">
					</svg>
				</div>
				{# <ul class="menu-nav__list">
					<li class="menu-nav__item"><a href="" class="menu-nav__link">Главные новости</a></li>
					<li class="menu-nav__item"><a href="" class="menu-nav__link">Герои Великой Отечественной Войны</a></li>
					<li class="menu-nav__item"><a href="" class="menu-nav__link">История города</a></li>
					<li class="menu-nav__item"><a href="" class="menu-nav__link">Гостям города</a></li>
					<li class="menu-nav__item"><a href="" class="menu-nav__link">Символика</a></li>
					<li class="menu-nav__item"><a href="" class="menu-nav__link">Виртуальные экскурсии</a></li>
					<li class="menu-nav__item"><a href="" class="menu-nav__link">Руководители города</a></li>
					<li class="menu-nav__item"><a href="" class="menu-nav__link">Фотогалереи</a></li>
					<li class="menu-nav__item"><a href="" class="menu-nav__link">Почетные граждане города</a></li>
					<li class="menu-nav__item"><a href="" class="menu-nav__link">Международные связи</a></li>
				</ul> #}
			</div>
			<div class="menu-nav__item">
				<div class="menu-nav__up">
					<span class="menu-nav__caption">Горожанам</span>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-one">
					</svg>
				</div>
			</div>
			<div class="menu-nav__item">
				<div class="menu-nav__up">
					<span class="menu-nav__caption">Администрация</span>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-one">
					</svg>
				</div>
			</div>
			<div class="menu-nav__item">
				<div class="menu-nav__up">
					<span class="menu-nav__caption">Городская Дума</span>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-one">
					</svg>
				</div>
			</div>
			<div class="menu-nav__item">
				<div class="menu-nav__up">
					<span class="menu-nav__caption">Документы</span>
					<svg>
						<use xlink:href="img/sprite.svg#svg--arrow-one">
					</svg>
				</div>
			</div>
		</nav>
	</div>
	<div class="mob-menu__down">
		<a href="#" class="link-over language">
			<svg>
				<use xlink:href="img/sprite.svg#svg--Icon-lang">
			</svg>
			<span>
				English
			</span>
		</a>
		<a href="#" class="link-over visually-impaired">
			<svg>
				<use xlink:href="img/sprite.svg#svg--Icon-glass">
			</svg>
			<span>
				Версия для слабовидящих
			</span>
		</a>
		<a href="#" class="link-over link-social">
			<svg>
				<use xlink:href="img/sprite.svg#svg--Icon-social">
			</svg>
			<span>
				Социальные сети
			</span>
		</a>
		<a href="#" class="link-over link-administration">
			<svg>
				<use xlink:href="img/sprite.svg#svg--Icon-connection">
			</svg>
			<span>
				Связь с администрацией
			</span>
		</a>
		<a href="#" class="link-over personal-area">
			<svg>
				<use xlink:href="img/sprite.svg#svg--Icon-account">
			</svg>
			<span>
				Личный кабинет
			</span>
		</a>
	</div>
</section>