<div class="modal" id="calendar">
	<div class="modal__overlay">
		<div class="modal__block modal-calendar">
			<div class="modal__up">
				<h4 class="modal__caption">Календарь</h4>
				<span class="close"></span>
			</div>
			<div class="modal__down">
				<div class="modal__content">
					<div class="calendar tab-wrapper">
						<div class="calendar__up">
							<div class="calendar__item active-item-tab" data-nametabs="date">
								<svg>
									<use xlink:href="img/sprite.svg#svg--date"></use>
								</svg>
								<span>Выбор даты</span>
							</div>
							<div class="calendar__item" data-nametabs="period">
								<svg>
									<use xlink:href="img/sprite.svg#svg--period"></use>
								</svg>
								<span>Выбор периода</span>
							</div>
						</div>
						<div class="calendar__down">
							<div class="calendar__tab tab-block tab-block--active" data-tabcontent="date">
								<input type="text" class="calendar__field calendar__field-date" placeholder="Пожалуйста выберите дату" id="date1">
								<button class="btn-white btn-cancel">
									<span class="btn-white__text">Отмена</span>
								</button>
							</div>
							<div class="calendar__tab tab-block tab-block--period flatpickr" data-tabcontent="period">
								<input type="text" class="calendar__field calendar__field-period" placeholder="Пожалуйста выберите период" id="period1">
								<button class="btn-white btn-cancel">
									<span class="btn-white__text">Отмена</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="calendar2">
	<div class="modal__overlay">
		<div class="modal__block modal-calendar event-calendar">
			<div class="modal__up">
				<h4 class="modal__caption">Календарь</h4>
				<span class="close"></span>
			</div>
			<div class="modal__down">
				<div class="modal__content">
					<div class="calendar tab-wrapper">
						<div class="calendar__down">
							<div class="calendar__tab" >
								<input type="text" class="calendar__field calendar__field-date calendar__field--change" placeholder="Пожалуйста выберите дату" id="date2">
								<span class="event-text"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="calendar3">
	<div class="modal__overlay">
		<div class="modal__block modal-calendar">
			<div class="modal__up">
				<h4 class="modal__caption">Календарь</h4>
				<span class="close"></span>
			</div>
			<div class="modal__down">
				<div class="modal__content">
					<div class="calendar tab-wrapper">
						<div class="calendar__down">
							<div class="calendar__tab" >
								<input type="text" class="calendar__field calendar__field-date calendar__field--change" placeholder="Пожалуйста выберите дату" id="period2">
								<button class="btn-white btn-cancel">
									<span class="btn-white__text">Отмена</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal" id="topic">
	<div class="modal__overlay">
		<div class="modal__block modal-topic">
			<div class="modal__up">
				<h4 class="modal__caption">Выберите тему</h4>
				<span class="close"></span>
			</div>
			<div class="modal__down">
				<div class="modal__content">
					<div class="topic-block">
						<div class="topic-block__up">
							<span class="topic-block__caption">Поиск темы</span>
							<div class="topic-block__field-wrap">
								<input type="text" id="filter" value="" class="topic-block__field" placeholder="Введите название темы">
								<div class="topic-block__btn-search">
									<svg>
										<use xlink:href="img/sprite.svg#svg--search">
									</svg>
								</div>
							</div>
						</div>
						<div class="topic-block__middle">
							<div class="topic-block__scroll">
								<ul class="topic-block__list" id="items">
									{{ mixin.itemCategory('Евгений Первышов (2155)', 'item1') }}
									{{ mixin.itemCategory('Городское хозяйство (1423)', 'item2') }}
									{{ mixin.itemCategory('Транспорт (1755)', 'item3') }}
									
									{{ mixin.itemCategory('Евген Первышов (2155)', 'item4') }}
									{{ mixin.itemCategory('Городское хозяйство (1423)', 'item5') }}
									{{ mixin.itemCategory('Транспорт (1755)', 'item6') }}

									{{ mixin.itemCategory('Евгений Первышов (2155)', 'item7') }}
									{{ mixin.itemCategory('Городское хозяйство (1423)', 'item8') }}
									{{ mixin.itemCategory('Транспорт (1755)', 'item9') }}

									{{ mixin.itemCategory('Евгений Первышов (2155)', 'item10') }}
									{{ mixin.itemCategory('Городское хозяйство (1423)', 'item11') }}
									{{ mixin.itemCategory('Транспорт (1755)', 'item12') }}

									{{ mixin.itemCategory('Евгений Первышов (2155)', 'item13') }}
									{{ mixin.itemCategory('Городское хозяйство (1423)', 'item14') }}
									{{ mixin.itemCategory('Транспорт (1755)', 'item15') }}
									
								</ul>
							</div>
						</div>
						<div class="topic-block__down">
							<div class="topic-block__flex">
								<div class="topic-block__left">
									<div class="wrapper-topic">
										{# <div class="topic-item" id="">
											<div class="topic-item__wrapper">
												<span class="topic-item__text">Транспорт</span>
												<span class="topic-item__close"></span>
											</div>
										</div> #}
									</div>
								</div>
								<div class="topic-block__right">
									<a href="#" class="btn-block" data-btn-show>
										<span class="btn-block__text">Показать</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="mailing" data-message-success="Вы подписались на рассылку">
	<div class="modal__overlay">
		<div class="modal__block mailing-calendar">
			<div class="modal__up">
				<h4 class="modal__caption">Подписка на рассылку</h4>
				<span class="close"></span>
			</div>
			<div class="modal__down">
				<div class="modal__content">
					<div class="form-modal">
						<form action="js/test.json">
							<div class="form-modal__wrapper">
								<div class="wrap-field">
									<label>
										<span class="wrap-field__description">Введите E-mail на который хотите получать рассылку<span class="red">*</span>:</span>
										<span class="error-text">Ошибка: заполните поле</span>
										<input type="text" name="test" class="wrap-field__field" placeholder="" data-name='Рассылка' required >
									</label>
								</div>
								<div class="wrap-field-check wrap-field-check--offset">
									<label class="check-row">
										<input type="checkbox" name="check">
										<div class="check-row__wrap">
											<span class="check-row__square"></span>
											<span class="check-row__text">Совпадает с основным e-mail</span>
										</div>
									</label>
								</div>
								<div class="form-over__wrap-btn">
									<button class="btn-white md-width-btn" type="reset">
										<span class="btn-white__text">Очистить</span>
									</button>
									<button type="submit" class="btn-block md-width-btn">
										<span class="btn-block__text">Подписаться</span>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal" id="report-a-bug" data-message-success="Вы отправили сообщение об ошибке">
	<div class="modal__overlay">
		<div class="modal__block mailing-calendar">
			<div class="modal__up">
				<h4 class="modal__caption">Сообщить об ошибке</h4>
				<span class="close"></span>
			</div>
			<div class="modal__down">
				<div class="modal__content">
					<div class="form-modal">
						<form action="js/test.json">
							<div class="form-modal__wrapper">
								<div class="wrap-field">
									<label>
										<span class="wrap-field__description">Контактные данные:</span>
										{# <span class="error-text">Ошибка: заполните поле</span> #}
										<input type="text" name="test" class="wrap-field__field" placeholder="" data-name='Контактные данные' >
									</label>
								</div>
								<div class="wrap-field">
									<label>
										<span class="wrap-field__description">Электронная почта<span class="red">*</span>:</span>
										{# <span class="error-text">Ошибка: заполните поле</span> #}
										<input type="text" name="test" class="wrap-field__field" placeholder="" data-name='Рассылка' required >
									</label>
								</div>
								<div class="wrap-field">
									<div class="wrap-field__flex">
										<span class="wrap-field__description">Адрес страницы с ошибкой<span class="red">*</span>:</span>
										<a href="#" class="url-link">https://krd.ru/</a>
									</div>									
								</div>

								<div class="wrap-field">
									<div class="wrap-field__flex">
										<span class="wrap-field__description">Характер ошибки<span class="red">*</span>:</span>
										<div class='select-wrap' id='category'>
											<select class='select select-category-document' name="error">
												<option placeholder>Выберите из списка</option>
												<option value='1'>1</option>
												<option value='2'>2</option>
												<option value='3'>3</option>
												<option value='4'>4</option>
											</select>
										</div>
									</div>									
								</div>

								<div class="wrap-field">
									<span class="wrap-field__description">Описание<span class="red">*</span>:</span>
									<label>
										<textarea class="wrap-field__textarea" name='textarea' placeholder="" data-name="Описание"></textarea>
									</label>
								</div>
								
								<div class="form-over__wrap-btn">
									<button type="submit" class="btn-block md-width-btn">
										<span class="btn-block__text">Оправить</span>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="add-address" data-message-success="Вы отправили сообщение об ошибке">
	<div class="modal__overlay">
		<div class="modal__block mailing-calendar">
			<div class="modal__up">
				<h4 class="modal__caption">Сообщить об ошибке</h4>
				<span class="close"></span>
			</div>
			<div class="modal__down">
				<div class="modal__content">
					<div class="form-modal">
						<form action="js/test.json">
							<div class="form-modal__wrapper">
								<div class="wrap-field">
									<label>
										<span class="wrap-field__description">Контактные данные:</span>
										{# <span class="error-text">Ошибка: заполните поле</span> #}
										<input type="text" name="test" class="wrap-field__field" placeholder="" data-name='Контактные данные' >
									</label>
								</div>
								<div class="wrap-field">
									<label>
										<span class="wrap-field__description">Электронная почта<span class="red">*</span>:</span>
										{# <span class="error-text">Ошибка: заполните поле</span> #}
										<input type="text" name="test" class="wrap-field__field" placeholder="" data-name='Рассылка' required >
									</label>
								</div>
								<div class="wrap-field">
									<div class="wrap-field__flex">
										<span class="wrap-field__description">Адрес страницы с ошибкой<span class="red">*</span>:</span>
										<a href="#" class="url-link">https://krd.ru/</a>
									</div>									
								</div>

								<div class="wrap-field">
									<div class="wrap-field__flex">
										<span class="wrap-field__description">Характер ошибки<span class="red">*</span>:</span>
										<div class='select-wrap' id='category'>
											<select class='select select-category-document' name="error">
												<option placeholder>Выберите из списка</option>
												<option value='1'>1</option>
												<option value='2'>2</option>
												<option value='3'>3</option>
												<option value='4'>4</option>
											</select>
										</div>
									</div>									
								</div>

								<div class="wrap-field">
									<span class="wrap-field__description">Описание<span class="red">*</span>:</span>
									<label>
										<textarea class="wrap-field__textarea" name='textarea' placeholder="" data-name="Описание"></textarea>
									</label>
								</div>
								
								<div class="form-over__wrap-btn">
									<button type="submit" class="btn-block md-width-btn">
										<span class="btn-block__text">Оправить</span>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>