//Golos
@font-face {
	font-family: 'Golos';
	src: url('../fonts/Golos/Golostextregular.woff2') format('woff2'), url('../fonts/Golos/Golostextregular.woff') format('woff'), url('../fonts/Golos/Golostextregular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Golos';
	src: url('../fonts/Golos/Golostextdemibold.woff2') format('woff2'), url('../fonts/Golos/Golostextdemibold.woff') format('woff'), url('../fonts/Golos/Golostextdemibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Golos';
	src: url('../fonts/Golos/Golostextblack.woff2') format('woff2'), url('../fonts/Golos/Golostextblack.woff') format('woff'), url('../fonts/Golos/Golostextblack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Golos';
	src: url('../fonts/Golos/Golostextmedium.woff2') format('woff2'), url('../fonts/Golos/Golostextmedium.woff') format('woff'), url('../fonts/Golos/Golostextmedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Golos';
	src: url('../fonts/Golos/Golostextbold.woff2') format('woff2'), url('../fonts/Golos/Golostextbold.woff') format('woff'), url('../fonts/Golos/Golostextbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
