.link-over {
  display: flex;
  align-items: center;

  &:hover {
    span {
      color: #003b83;
    }

    svg {
      stroke: #003b83;
    }
  }

  svg {
    width: 16px;
    height: 16px;
    stroke: #a7a8ab;
    flex-shrink: 0;
    margin-right: 8px;
    stroke-width: 2px;
    transition: all 0.3s ease-in-out;
  }

  span {
    font-size: 14px;
    line-height: 20px;
    color: #0050b2;
    transition: all 0.3s ease-in-out;
  }
}

.logo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-right: 20px;

  img {
    width: 40px;
    margin-right: 15px;
  }

  span {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
  }
}

.sm-text {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  opacity: 0.8;
}

.blue-line {
  background-color: #00ace3;
  display: block;

  &:last-child {
    margin-bottom: 56px;
  }

  @media (max-width: 1079px) {
    &:last-child {
      margin-bottom: 48px;
    }
  }

  @media (max-width: 767px) {
    &:last-child {
      margin-bottom: 24px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  &__left {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
      width: 100%;
    }

    picture {
      flex-shrink: 0;
    }

    img {
      margin-right: 30px;
      max-width: 192px;

      @media (max-width: 767px) {
        margin-right: 0;
      }
    }
  }

  &__text-lg {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-right: 24px;

    @media (max-width: 767px) {
      padding: 5px 0;
      font-size: 16px;
      line-height: 20px;
      margin-right: 0;
    }
  }

  &__sm-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 2px;

    @media (max-width: 1079px) {
      display: none;
    }
  }

  .btn-block {
    border-radius: 0;
    height: 100%;

    &:focus {
      box-shadow: none;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.btn-block {
  padding: 11px 30px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0061d9;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;

  @media (max-width: 767px) {
    padding: 7px 12px 9px;
  }

  &:hover {
    background-color: #003b83;
  }

  &:active {
    background-color: #003b83;
  }

  &:focus {
    background-color: #0061d9;
    // outline: 4px solid #99C0F0;
    box-shadow: 0 0 0 4px #99c0f0;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }

  svg {
    width: 18px;
    height: 10px;
    stroke: #fff;
    stroke-width: 2px;
    margin-left: 16px;
    margin-top: 2px;
  }
}

.wrapper-blockadd {
  margin-bottom: 40px;

  @media (max-width: 1079px) {
    margin-bottom: 32px;
  }

  @media (max-width: 767px) {
    margin-bottom: 24px;
  }

  img {
    width: 100%;
  }
}

.row-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9de;
  padding-bottom: 20px;
  margin-bottom: 28px;
  flex-wrap: wrap;

  .title {
    margin-bottom: 0;
  }

  @media (max-width: 1079px) {
    margin-bottom: 32px;
  }

  @media (max-width: 767px) {
    margin-bottom: 24px;
    padding-bottom: 14px;
  }

  @media (max-width: 575px) {
    display: block;
  }

  &__wrap {
    display: flex;
    align-items: center;

    .link-change {
      margin-right: 27px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .title {
    @media (max-width: 767px) {
      // margin-bottom: 20px;
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: 575px) {
      margin-bottom: 6px;
    }
  }

  .md-title {
    margin-bottom: 0;
  }

  &--change {
    border: none;
    padding-bottom: 0;
  }
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #000;
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    font-size: 26px;
    line-height: 32px;
  }

  a {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #000;
    transition: all 0.3s ease-in-out;

    @media (max-width: 1079px) {
      // white-space: nowrap;
    }

    &:hover {
      color: #0061d9;
    }

    @media (max-width: 767px) {
      font-size: 26px;
      line-height: 32px;
    }
  }

  .link-active {
    color: #0050b2;
  }
}

.link-active {
  color: #0050b2;
}

.md-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #000;

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 28px;
  }
}

.inner-post {
  position: relative;
  display: flex;
  align-items: flex-start;

  @media (max-width: 1200px) {
    justify-content: space-between;
  }
}

.sticy-block {
  position: sticky;
  top: 20px;

  &__wrap {
    position: relative;
  }

  @media (max-width: 1079px) {
    display: none;
  }
}

.share-social {
  margin-right: -20px;
  transform: translateX(-20px);

  &--mob {
    display: none;

    @media (max-width: 1079px) {
      display: flex;
      border-top: 2px solid #000000;
      border-bottom: 1px solid #d9d9de;
      padding: 15px 0;
    }
  }

  @media (max-width: 1200px) {
    margin: 0;
    transform: none;
  }

  &__item {
    margin-bottom: 40px;

    @media (max-width: 1079px) {
      &::before {
        display: none;
      }
    }
  }

  &__link {
    svg {
      width: 20px;
      height: 20px;
      fill: #000000;
      transition: all 0.3s ease-in-out;

      &:hover {
        fill: #003b83;
      }
    }
  }
}

#share-social-sticy {
  .ya-share2__title {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
  }

  .ya-share2__item {
    background-color: #000;
    transition: all 0.3s ease-in-out;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: #003b83;
    }
  }

  .ya-share2__item.ya-share2__item_service_vkontakte {
    mask: url(https://dev.krd.ru/local/templates/vg/img/sprite.svg#svg--vk);
  }

  .ya-share2__item.ya-share2__item_service_facebook {
    mask: url(https://dev.krd.ru/local/templates/vg/img/sprite.svg#svg--facebook);
  }

  .ya-share2__item.ya-share2__item_service_twitter {
    mask: url(https://dev.krd.ru/local/templates/vg/img/sprite.svg#svg--twit);
  }

  .ya-share2__item.ya-share2__item_service_telegram {
    mask: url(https://dev.krd.ru/local/templates/vg/img/sprite.svg#svg--telegram);
  }
}

.text-page__area ul.share-social--mob {
  margin-bottom: 40px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

ul.share-social--mob li.share-social__item {
  @media (max-width: 1079px) {
    padding: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  &::after {
    @media (max-width: 1079px) {
      content: "";
      position: absolute;
      top: calc(50% - 10px);
      right: 0;
      height: 20px;
      width: 1px;
      background-color: #d9d9de;
    }
  }

  &:last-child {
    &::after {
      @media (max-width: 1079px) {
        display: none;
      }
    }
  }
}

.link-more {
  display: flex;
  align-items: center;

  &:hover {
    span {
      color: #003b83;
      border-bottom: 1px solid #003b83;
    }

    svg {
      stroke: #003b83;
    }
  }

  &:active {
    span {
      color: #00387d;
    }

    svg {
      stroke: #00387d;
    }
  }

  span {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0050b2;
    margin-right: 11px;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid transparent;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  svg {
    max-width: 18px;
    max-height: 10px;
    stroke: #0050b2;
    stroke-width: 2px;
    margin-top: 2px;
    transition: all 0.3s ease-in-out;

    @media (max-width: 767px) {
      margin-top: 1px;
    }
  }
}

.lg-block-news {
  display: block;

  &__wrapper {
    @media (max-width: 1200px) {
      display: flex;
      align-items: center;
    }

    @media (max-width: 991px) {
      display: block;
    }
  }

  &__wrap-img {
    margin-bottom: 22px;
    overflow: hidden;

    @media (max-width: 1200px) {
      width: 65.716%;
      flex-shrink: 0;
      margin-bottom: 0;
    }

    @media (max-width: 991px) {
      width: auto;
      margin-bottom: 22px;
    }

    @media (max-width: 991px) {
      margin-bottom: 12px;
    }

    picture {
      width: 100%;

      img {
        width: 100%;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
          transition: transform 0.7s ease;
        }
      }
    }
  }

  &__down {
    @media (max-width: 1200px) {
      flex-shrink: 2;
      padding-left: 32px;
      padding-right: 10px;
    }

    @media (max-width: 991px) {
      padding-left: 0;
    }
  }

  &__wrap-text {
    h3 {
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      color: #000;
      margin-bottom: 12px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #003b83;
        text-decoration: underline;
      }

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

.md-block-news {
  display: block;

  &__wrap-img {
    margin-bottom: 18px;
    overflow: hidden;

    @media (max-width: 767px) {
      margin-bottom: 12px;
    }

    picture {
      width: 100%;

      img {
        width: 100%;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
          transition: transform 0.7s ease;
        }
      }
    }
  }

  .teg-category {
    display: inline-block;
    margin-bottom: 10px;
  }

  &__wrap-text {
    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #000;
      margin-bottom: 12px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #003b83;
        text-decoration: underline;
      }

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

.info-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgba($color: #000000, $alpha: 0.6);
}

.services-post {
  border-bottom: 1px solid #d9d9de;
  padding-bottom: 32px;

  &:hover {
    .services-post__wrap-text {
      h3 {
        color: #003b83;
        border-color: #003b83;
      }
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 16px;
  }

  &__wrapper {
    display: flex;
  }

  &__wrap-icon {
    max-width: 44px;
    margin-right: 28px;
    flex-shrink: 0;

    img {
      width: 100%;
    }
  }

  &__wrap-text {
    align-self: center;

    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #000;
      transition: all 0.3s ease-in-out;
      border-bottom: 1px solid transparent;
      display: inline;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

.important-block {
  .row-title {
    margin-bottom: 25px;

    .title {
      margin-bottom: 0;
    }
  }

  &__up {
    margin-bottom: 10px;
  }

  &__caption {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;
    display: block;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid transparent;
    display: inline;

    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 24px;
    }

    &:hover {
      color: #003b83;
      border-color: #003b83;
    }
  }
}

.red {
  color: #d51a1a;

  &:hover {
    color: #d51a1a;
    border-color: #d51a1a;
  }
}

.center-area-one {
  max-width: 856px;
  margin: 0 auto;

  @media (max-width: 1079px) {
    max-width: inherit;
  }

  &--change {
    @media (max-width: 1200px) {
      max-width: 848px;
      margin: 0;
    }
  }

  &--change-two {
    @media (max-width: 1200px) {
      max-width: 100%;
      margin: 0;
    }
  }

  &--right {
    margin: 0 0 0 auto;
  }
}

.center-area-two {
  max-width: 1081px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    max-width: 83.466%;
    margin: 0;

    .center-area-one {
      max-width: 79.25%;
      margin-left: auto;
      margin-right: 0;
    }

    .center-one-change-tablet {
      margin-left: 0;
      margin-right: 0;
      max-width: 848px;
    }
  }

  @media (max-width: 1079px) {
    max-width: 100%;
  }

  @media (max-width: 575px) {
    .center-area-one {
      max-width: 100%;
    }
  }

  &--change {
    @media (max-width: 1200px) {
      max-width: 100%;
    }
  }
}

.center-two-change-tablet {
  @media (max-width: 1200px) {
    max-width: inherit;
  }
}

.link-doc {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5eb;
  margin-bottom: 20px;

  &:hover {
    .link-doc__wrap-icon {
      svg {
        fill: #fff;
      }
    }
  }

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &__wrap-icon {
    flex-shrink: 0;
    width: 39px;
    margin-right: 33px;
    display: grid;
    align-self: flex-start;

    svg {
      width: 32px;
      height: 42px;
      fill: #f5f5f7;
      transition: all 0.3s ease-in-out;
      grid-area: 1/1/2/2;
      margin-left: auto;
    }

    @media (max-width: 767px) {
      margin-right: 18px;
    }
  }

  .link-doc__file-name {
    grid-area: 1/1/2/2;
    align-self: flex-end;
    display: inline-block;
    margin-bottom: 7px;
    background-color: #0061d9;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    border-radius: 4px;
    justify-self: start;
    padding: 3px 4px;
  }

  &__flex {
    display: flex;
    flex-grow: 1;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__wrap-text {
    flex-grow: 1;

    @media (max-width: 767px) {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__row-caption {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
  }

  &__caption {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #0050b2;
    display: inline;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #003b83;
      text-decoration: underline;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__info {
    font-size: 14px;
    line-height: 20px;
    color: rgba($color: #000000, $alpha: 0.6);
    display: block;
  }

  .btn-white {
    margin-left: 20px;
    align-self: center;
    padding: 4px 12px 6px;

    @media (max-width: 767px) {
      width: 100%;
      margin-left: 0;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

a.link-doc img {
  width: 39px;
}

.block-accordions {
  .accordion {
    &:first-child {
      .accordion__up {
        @media (max-width: 1200px) {
          // padding-top: 0;
        }
      }
    }
  }
}

.accordion {
  border-bottom: 1px solid #e5e5eb;

  &:last-child {
    border-bottom: none;
  }

  &__up {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;

    @media (max-width: 767px) {
      padding: 16px 0;
    }

    &:hover {
      .accordion__caption {
        color: #003b83;
      }

      svg {
        stroke: #003b83;
      }
    }

    svg {
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      stroke: #0061d9;
      stroke-width: 2px;
      transform: rotate(90deg);
      transition: all 0.3s ease-in-out;
      margin-top: 6px;
      margin-right: 12px;
      margin-left: 16px;

      @media (max-width: 767px) {
        margin-top: 7px;
      }
    }

    &--change {
      justify-content: flex-start;

      svg {
        width: 48px;
        height: 40px;
        transform: none !important;
        margin-right: 65px;

        @media (max-width: 767px) {
          margin-right: 21px;
          margin-left: 0;
        }
      }

      .accordion__caption {
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        color: #000000;

        @media (max-width: 767px) {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #0050b2;
    transition: all 0.3s ease-in-out;

    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 24px;
    }

    &--sm {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #000000;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__down {
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
  }

  &__content {
    padding-bottom: 40px;
    padding-left: 32px;

    &--change {
      padding-left: 129px;
    }

    @media (max-width: 767px) {
      padding-bottom: 16px;
      padding-left: 20px;
    }
  }

  &__area {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      color: #333333;
      margin-bottom: 35px;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    div {
      margin-bottom: 32px;

      @media (max-width: 767px) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        margin-bottom: 0;
      }
    }

    span {
      font-size: 18px;
      line-height: 28px;
      display: block;
      margin-bottom: 15px;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        font-size: 18px;
        line-height: 28px;
        color: #76767a;
        display: inline;
        margin-bottom: 0;

        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    a {
      font-size: 18px;
      line-height: 32px;
      color: #0050b2;
      transition: all 0.3s ease-in-out;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }

      &:hover {
        color: #003b83;
      }
    }

    h4 {
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 30px;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
      }
    }

    h5 {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 15px;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    ul {
      li {
        font-size: 18px;
        line-height: 28px;
        padding-left: 32px;
        position: relative;
        color: #333333;
        margin-bottom: 25px;

        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 20px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 13px;
          width: 12px;
          height: 2px;
          background-color: #0061d9;

          @media (max-width: 767px) {
            top: 11px;
          }
        }
      }
    }
  }

  &__wrap {
    margin-bottom: 20px;

    @media (max-width: 767px) {
      // margin-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__offset {
    padding-top: 4px;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    display: block;
    margin-bottom: 32px;

    @media (max-width: 767px) {
      font-size: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--change {
      padding-left: 36px;

      @media (max-width: 1023px) {
        margin-bottom: 15px;
      }

      @media (max-width: 767px) {
        padding-left: 50px;
        margin-bottom: 5px;
      }
    }
  }

  .link-section {
    span {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #0050b2;
      margin-bottom: 0;

      @media (max-width: 767px) {
        // font-size: 16px;
        // line-height: 24px;
      }
    }
  }
}

.accordion__up.active {
  svg {
    transform: rotate(-90deg);
  }
}

.human-row-sm {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5eb;
  margin-bottom: 20px;

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }

  &:hover {
    .human-row-sm__wrap-text {
      h4 {
        color: #003b83;
        text-decoration: underline;
      }
    }
  }

  &__wrap-img {
    flex-shrink: 0;
    max-width: 48px;
    margin-right: 23px;
    margin-top: 3px;

    img {
      width: 100%;
    }
  }

  &__wrap-text {
    // align-self: center;

    h4 {
      font-size: 18px;
      line-height: 28px;
      color: #0050b2;
      transition: all 0.3s ease-in-out;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: #76767a;

      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.link-section {
  padding: 20px 0;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5eb;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @media (max-width: 1200px) {
    &:first-child {
      padding-top: 0;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    .link-section__caption {
      color: #003b83;
      text-decoration: underline;
    }

    .link-section__wrap-arrow {
      width: 22px;
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #0050b2;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid transparent;
    display: block;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: normal;
    color: #333333;
    display: block;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      color: #76767a;
      font-size: 18px;
      line-height: normal;
    }
  }

  &__wrap-arrow {
    position: relative;
    width: 15px;
    height: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin-top: 11px;
    margin-left: 10px;
    flex-shrink: 0;

    @media (max-width: 767px) {
      margin-top: 8px;
    }
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 10px;
    stroke: #0061d9;
    stroke-width: 2px;
  }
}

.block-link-doc,
.block-accordions,
.block-links-section {
  margin-bottom: 16px;

  @media (max-width: 1200px) {
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.block-links-section {
  &--change {
    margin-bottom: 90px;

    @media (max-width: 1079px) {
      margin-bottom: 80px;
    }

    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
  }
}

.link-change {
  display: flex;
  align-items: center;

  &:hover {
    .link-change__text {
      color: #003b83;
      border-color: #003b83;
    }

    svg {
      stroke: #003b83;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0050b2;
    margin-right: 13px;
    pointer-events: none;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;
  }

  svg {
    width: 17px;
    height: 17px;
    stroke: #a7a8ab;
    stroke-width: 2px;
    flex-shrink: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
}

.pagination {
  margin-bottom: 32px;

  @media (max-width: 767px) {
    margin-bottom: 24px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .btn-white {
    @media (max-width: 1079px) {
      padding: 11px 16.5px;
    }

    @media (max-width: 767px) {
      height: 40px;
      padding: 0;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      display: none;

      @media (max-width: 767px) {
        display: block;
        width: 10px;
        height: 10px;
        stroke: #0061d9;
        stroke-width: 2px;
      }
    }
  }

  &__left {
    margin-right: 15px;

    .btn-white {
      svg {
        transform: rotate(180deg);
      }
    }

    @media (max-width: 767px) {
      margin-right: 2px;
    }
  }

  &__right {
    margin-left: 15px;

    @media (max-width: 767px) {
      margin-left: 2px;
    }
  }

  &__left,
  &__right {
    .btn-white {
      &__text {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    margin: 0 -20px;

    @media (max-width: 1300px) {
      margin: 0 -16px;
    }

    @media (max-width: 1079px) {
      margin: 0 -8px;
    }

    @media (max-width: 767px) {
      margin: 0 -2px;
    }
  }

  &__item {
    padding: 0 20px;

    @media (max-width: 1300px) {
      padding: 0 16px;

      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }

      &:last-child {
        display: block;
      }
    }

    @media (max-width: 1079px) {
      padding: 0 8px;
    }

    @media (max-width: 767px) {
      padding: 0 2px;

      &:nth-child(4) {
        display: none;
      }
    }
  }

  &__link {
    background: #ffffff;
    border: 1px solid #b3cbe8;
    border-radius: 4px;
    display: block;
    width: 72px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0061d9;
    transition: all 0.3s ease-in-out;

    @media (max-width: 1079px) {
      width: 48px;
      height: 48px;
    }

    @media (max-width: 767px) {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }

    &:hover {
      background-color: #f2f6fb;
      border-color: #003b83;
      color: #003b83;
    }

    &--active {
      border-color: transparent;
      color: #000000;
      background-color: transparent;

      &:hover {
        color: #000000;
        background-color: transparent;
        border-color: transparent;
      }
    }

    &--dotted {
      border-color: transparent;
      color: #000000;
      background-color: transparent;

      &:hover {
        color: #000000;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }

  &--change {
    .btn-white {
      @media (max-width: 1400px) and (min-width: 1080px) {
        padding: 11px 16.5px;
      }

      @media (max-width: 767px) {
        padding: 11px 16.5px;
      }

      @media (max-width: 1400px) and (min-width: 1080px) {
        height: 48px;
        padding: 0;
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @media (max-width: 767px) {
        height: 40px;
        padding: 0;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      svg {
        display: none;

        @media (max-width: 1400px) and (min-width: 1080px) {
          display: block;
          width: 10px;
          height: 10px;
          stroke: #0061d9;
          stroke-width: 2px;
        }

        @media (max-width: 767px) {
          display: block;
          width: 10px;
          height: 10px;
          stroke: #0061d9;
          stroke-width: 2px;
        }
      }
    }

    .pagination__left,
    .pagination__right {
      .btn-white {
        &__text {
          @media (max-width: 1400px) and (min-width: 1080px) {
            display: none;
          }

          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }
  }
}

.btn-white {
  padding: 10px 34px 12px;
  border: 1px solid #b3cbe8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #f2f6fb;
    border-color: #003b83;

    .btn-white__text {
      color: #003b83;
    }
  }

  &:active {
    background-color: #e6eef7;
    border-color: #003b83;
  }

  @media (max-width: 1079px) {
    padding: 11px 24px 12px;
  }

  @media (max-width: 767px) {
    padding: 7px 15px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0061d9;
    transition: all 0.3s ease-in-out;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    stroke: #a7a8ab;
    stroke-width: 2px;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    .btn-white__icon {
      stroke: #003b83;
    }
  }
}

.wrap-disabled {
  input {
    pointer-events: none;
  }
}

.field-over {
  border: 1px solid #a7a8ab;
  border-radius: 4px;
  padding: 9px 24px;
  font-size: 18px;
  line-height: 28px;
  color: #333333;

  @media (max-width: 575px) {
    padding: 7px 10px;
    font-size: 16px;
    line-height: 24px;
  }
}

.row-btn {
  margin-bottom: 56px;

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.tab-block {
  display: none;

  &--active {
    display: block;
  }
}

.check-row {
  display: block;

  // pointer-events: unset;
  &:hover {
    .check-row__wrap {
      background-color: #e6e6eb;
    }
  }

  &:active {
    .check-row__wrap {
      background-color: #d7d7de;
    }
  }

  input {
    display: none;
  }

  &__wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #f5f5f7;
    border-radius: 4px;
    padding: 10px 12px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    // pointer-events: unset;
  }

  &__square {
    border: 2px solid #000000;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    margin-right: 14px;
    position: relative;
    flex-shrink: 0;
    display: block;
    pointer-events: unset;

    &::before {
      content: "";
      position: absolute;
      left: calc(50% - 6px);
      top: calc(50% - 4.5px);
      width: 12px;
      height: 9px;
      background-image: url(../img/svg/check.svg);
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0;
      pointer-events: unset;
    }
  }

  &__text {
    display: block;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    pointer-events: unset;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.check-row input:checked+.check-row__wrap {
  background-color: transparent;
  border: 2px solid #0061d9;

  .check-row__square {
    background-color: #0061d9;
    border-color: #0061d9;

    &::before {
      opacity: 1;
    }
  }
}

.wrapper-topic {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
}

.topic-item {
  padding: 0 6px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    .topic-item__wrapper {
      background-color: #F2F6FB;
      border-color: #003B83;
    }

    span {
      color: #003B83;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #b3cbe8;
    border-radius: 4px;
    padding: 10px 24px 12px;
    transition: all 0.3s ease-in-out;
    // pointer-events: none;

    &:hover {
      background-color: #f2f6fb;
      border-color: #003b83;

      .topic-item__close {

        &::before,
        &::after {
          background-color: #003b83;
        }
      }

      .topic-item__text {
        color: #003b83;
      }
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0061d9;
    transition: all 0.3s ease-in-out;

  }

  &__close {
    width: 24px;
    height: 24px;
    position: relative;
    transform: translateX(5px);
    cursor: pointer;
    margin-left: 14px;
    margin-top: 3px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      bottom: 4px;
      left: calc(50% - 1px);
      width: 2px;
      background-color: #a7a8ab;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  &--change {
    .topic-item__wrapper {
      padding: 5px 12px;

      @media (max-width: 767px) {
        padding: 1px 8px;
      }
    }

    .topic-item__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #0061d9;
    }
  }

  &--change-collor {
    .topic-item__wrapper {
      border-color: #d9d9de;
    }

    .topic-item__text {
      color: #333333;
    }
  }
}

html .scrollbar-track {
  opacity: 1;
  background-color: #f5f5f7;
  border-radius: 4px;

  .scrollbar-thumb {
    background-color: #0061d9;
  }
}

.grid-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .human-post {
    order: 1;

    @media (max-width: 767px) {
      order: inherit !important;
    }
  }

  .human-list {
    grid-column: span 2 / auto;
    order: 2;

    @media (max-width: 767px) {
      grid-column: span 1 / auto;
      order: inherit !important;
    }
  }
}

.grid-four-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .human-post {
    order: 1;

    @media (max-width: 1200px) {
      order: inherit;

      &:nth-of-type(1),
      &:nth-of-type(2) {
        order: 1;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        order: 3;
      }
    }

    @media (max-width: 767px) {
      order: inherit !important;
    }
  }

  .human-list {
    grid-column: span 4 / auto;
    order: 2;

    @media (max-width: 1200px) {
      grid-column: span 2 / auto;
      order: inherit;

      &:nth-of-type(1),
      &:nth-of-type(2) {
        order: 2;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        order: 4;
      }
    }

    @media (max-width: 767px) {
      grid-column: span 1 / auto;
      order: inherit !important;
    }
  }
}

.grid-two-column+.md-title,
.grid-four-column+.md-title {
  @media (max-width: 1200px) {
    margin-top: 14px;
  }

  @media (max-width: 767px) {
    margin-top: 0;
  }
}

.animate-hate {
  transition: all 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  opacity: 0;

  &--open {
    opacity: 1;
  }
}

.arrow-animate {
  &::after {
    content: "";
    position: absolute;
    left: calc(55 - 16px);
    bottom: -53px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    z-index: 2;
    border-top: 1px solid #d9d9de;
    border-right: 1px solid #d9d9de;
    transform: rotate(-45deg);
    opacity: 0;

    @media (max-width: 767px) {
      left: 132px;
      bottom: -43px;
      width: 20px;
      height: 20px;
    }
  }
}

.arrow-animate.open-btn {
  &::after {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.2s;
  }
}

.md-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  display: block;
  color: #000;
  margin-bottom: 10px;

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}

[data-click-modal] {
  span {
    pointer-events: none;
  }

  svg {
    pointer-events: none;
  }
}

.center-change-tablet {
  @media (max-width: 1200px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-columns-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;

  @media (max-width: 1079px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 40px;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
  }

  &--offset {
    margin-bottom: 32px;
  }
}

.end-sect {
  margin-bottom: 32px;

  @media (max-width: 767px) {
    // margin-bottom: 16px;
  }
}

.border-block {
  border-top: 1px solid #e5e5eb;
  border-bottom: 1px solid #e5e5eb;

  .accordion:first-child .accordion__up {
    padding-top: 20px;
  }
}

.attach-file {
  overflow: hidden;
  border: 1px solid #d9d9de;
  padding: 32px;

  @media (max-width: 767px) {
    padding: 24px;
  }

  &__block {
    display: flex;
    align-items: flex-start;

    @media (max-width: 767px) {
      display: block;
    }
  }

  .btn-white {
    // min-width: none;
    flex-shrink: 0;
    margin-right: 22px;
    padding: 10px 14.3px 12px;

    @media (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 7px;
    }
  }

  .filepond {
    flex-grow: 1;

    // padding-right: 32px;
    .filepond--drop-label {
      margin-top: 9px;

      label {
        font-size: 18px;
        line-height: 28px;
        color: #76767a;
      }
    }

    input {
      display: none;
    }

    .filepond--list-scroller {
      transform: none !important;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .filepond--item {
      position: relative;
      padding: 7px 32px 13px 0;
      transform: none !important;
      height: auto !important;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100000000px;
        height: 1px;
        background-color: #e5e5eb;
      }

      &:last-child {
        &::before {
          display: none;
        }
      }
    }

    .filepond--label-action {
      display: none;
    }

    fieldset {
      min-inline-size: inherit;
      display: flex;
    }

    .filepond--file-wrapper {
      &:hover {
        .filepond--action-remove-item {

          &::before,
          &::after {
            background-color: #003B83;
          }
        }
      }
    }

    .filepond--file {

      div,
      button {
        display: none;
      }

      .filepond--action-remove-item {
        display: block;
        width: 18px;
        height: 18px;
        background-color: transparent;
        cursor: pointer;
        transform: translateY(6px) !important;

        @media (max-width: 767px) {
          transform: translateY(4px) !important;
        }

        &::before {
          content: "";
          position: absolute;
          left: calc(50% - 1px);
          top: 0;
          bottom: 0;
          background-color: #0050b2;
          width: 2px;
          transform: rotate(45deg);
          transition: all 0.3s ease-in-out;
        }

        &::after {
          content: "";
          position: absolute;
          left: calc(50% - 1px);
          top: 0;
          bottom: 0;
          background-color: #0050b2;
          width: 2px;
          transform: rotate(-45deg);
          transition: all 0.3s ease-in-out;
        }

        svg {
          display: none;
        }

        span {
          display: none;
        }
      }
    }

    legend {
      font-size: 18px;
      line-height: 28px;
      color: #000000;
      float: left;
      margin-right: 15px;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .filepond--assistant {
      display: none !important;
    }
  }
}

.faq-block {
  margin-bottom: 90px;

  @media (max-width: 1079px) {
    margin-bottom: 80px;
  }

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }

  .row-title {
    margin-bottom: 30px;
  }

  &--change {
    margin-bottom: 50px;

    @media (max-width: 1079px) {
      margin-bottom: 10px;
    }

    @media (max-width: 767px) {
      margin-bottom: 25px;
    }

    .row-title {
      margin-bottom: 0;
    }

    .accordion__up {
      padding: 34px 0;

      @media (max-width: 767px) {
        padding: 15px 0;
      }
    }

    .accordion__content {
      padding-bottom: 34px;
    }
  }

  &--change-two {
    margin-bottom: 70px;

    @media (max-width: 1079px) {
      margin-bottom: 50px;
    }

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.answer {
  display: flex;

  svg {
    width: 48px;
    height: 40px;
    margin-right: 64px;
    flex-shrink: 0;

    @media (max-width: 767px) {
      margin-right: 21px;
    }
  }

  span {
    font-size: 18px;
    line-height: 28px;
    color: #333333;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.block-text-area {
  margin-bottom: 45px;

  &:last-child {
    margin-bottom: 15px;
  }

  span {
    font-size: 18px;
    line-height: normal;
    color: #333333;
    display: block;
    margin-bottom: 10px;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }

    span {
      color: #76767a;
      font-size: 18px;
      line-height: normal;
      display: inline;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  a {
    font-size: 18px;
    line-height: normal;
    color: #0050b2;
    display: inline;
    transition: all 0.3s ease-in-out;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }

    &:hover {
      color: #003b83;
    }
  }
}

.gray-bg {
  background-color: rgba(245, 245, 247, 0.7);
}

.filter-documentation.gray-bg {
  padding: 46px 0 34px;
  border-top: 1px solid #D9D9DE;

  @media (max-width: 767px) {
    padding: 20px 0 10px;
  }
}

.filter-documentation {
  margin-bottom: 46px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

  &__wrapper {
    display: flex;
    margin: 0 -20px;
    flex-wrap: wrap;
  }

  &__wrap {
    padding: 0 20px;
    margin-bottom: 22px;

    @media (max-width: 767px) {
      margin-bottom: 15px;
    }

    &--select {
      width: 33.34%;

      @media (max-width: 1200px) {
        width: 33.33%;
      }

      @media (max-width: 1079px) {
        width: 50%;
      }

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &--name {
      width: 66.66%;

      @media (max-width: 1200px) {
        width: 66.67%;
      }

      @media (max-width: 1079px) {
        width: 50%;
      }

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &--date {
      width: 25.07%;

      @media (max-width: 1200px) {
        width: 33.33%;
      }

      @media (max-width: 1079px) {
        width: 50%;
      }

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &--number {
      width: 49.86%;

      @media (max-width: 1200px) {
        width: 33.33%;
      }

      @media (max-width: 1079px) {
        width: 50%;
      }

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.select {
  option {
    &:first-child {
      display: none;
    }
  }
}

.choices {
  &::after {
    display: none;
  }

  &:hover {
    .choices__inner {
      border-color: #333;
    }
  }

  &::before {
    content: "";
    position: absolute;
    right: 16px;
    top: calc(50% - 3px);
    width: 14px;
    height: 9px;
    mask: url("../img/svg/arrow-two-fill.svg");
    mask-size: cover;
    background-color: #0061d9;
    z-index: 40;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }

  .choices__inner {
    background-color: #fff;
    border: 1px solid #a7a8ab;
    border-radius: 4px;
    padding: 9px 14px 11px;
    transition: all 0.3s ease-in-out;

    @media (max-width: 767px) {
      min-height: 40px;
      padding: 6px 14px 8px !important;
    }
  }

  &__list {
    &--single {
      padding: 2px 32px 3.5px 0 !important;

      @media (max-width: 767px) {
        padding: 0 32px 0 0 !important;
      }

      .choices__item {
        font-size: 18px;
        line-height: 28px;
        color: #000000;

        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    &--dropdown {
      transition: all 0.3s ease-in-out;
      background-color: #F5F5F7;

      .choices__item {
        &:last-child {
          display: none;
        }
      }
    }
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: #0061D9;
    color: #fff;
  }
}

.choices.is-open {
  background-color: #F5F5F7;

  &:hover {

    .choices__inner,
    .choices__list--dropdown {
      border-color: transparent;
    }
  }

  .choices__inner {
    background-color: #F5F5F7;
    box-shadow: 0 0 0 1px #E5E5E5;
    border-color: transparent;
  }

  .choices__list--dropdown {
    background-color: #fff;
    box-shadow: 0 1px 0 1px #E5E5E5;
    border-color: transparent;
  }

  &::before {
    transform: rotate(180deg);
  }
}

body {
  .flatpickr-calendar {
    // width: 100%;

    border-radius: 0;

    .cur-month {
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      text-transform: lowercase;

      @media (max-width: 767px) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .flatpickr-weekdays {
      display: none;
    }

    .numInputWrapper {
      .numInput.cur-year {
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        max-width: 70px;
        margin-bottom: 0;

        @media (max-width: 767px) {
          font-size: 18px;
          line-height: 24px;
        }
      }

      .arrowUp,
      .arrowDown {
        display: none;
      }

      &:hover {
        background-color: transparent;

        .numInput.cur-year {
          background-color: transparent;
        }
      }
    }

    .flatpickr-months {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 15px;
    }

    .flatpickr-month {
      display: flex;
      justify-content: center;
    }

    .flatpickr-prev-month,
    .flatpickr-next-month {
      padding: 0;
      height: auto;
      position: static;
      cursor: pointer;

      &:hover {
        svg {
          stroke: #003B83;
        }
      }

      svg {
        width: 18px;
        height: 18px;
        stroke: #0061d9;
        transition: all 0.3s ease-in-out;
      }
    }

    .flatpickr-prev-month {
      transform: rotate(90deg);
    }

    .flatpickr-next-month {
      transform: rotate(-90deg);
    }

    .flatpickr-current-month {
      padding: 0;
      flex-grow: 1;
      display: flex;
      height: auto;
      width: auto;
      padding: 0 20px;
      justify-content: center;
      position: static;

      span.cur-month {
        position: static;
      }
    }

    .flatpickr-innerContainer {
      width: 100%;
    }

    .flatpickr-rContainer {
      width: 100%;
    }

    .flatpickr-days {
      width: 100%;
      text-align: center;
    }

    .dayContainer {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      // border: 1px solid rgba($color: #D9D9DE, $alpha: 0.5);
      max-width: inherit;
      min-width: inherit;
      width: 100%;
      padding: 0 1px 1px 0;
    }

    .flatpickr-day {
      border: 1px solid rgba($color: #d9d9de, $alpha: 1);
      border-radius: 0;
      margin-right: -1px;
      margin-bottom: -1px;
      width: auto;
      max-width: inherit;
      color: #76767a;
      height: 48px;
      line-height: 48px;

      @media (max-width: 767px) {
        height: 43px;
        line-height: 43px;
      }

      &:hover {
        background-color: #0061d9;
        color: #fff;
      }
    }

    .flatpickr-day.nextMonthDay,
    .flatpickr-day.prevMonthDay {
      border: none;
      color: #76767a;

      &:hover {
        background-color: transparent;
        color: #76767a;
      }
    }

    .flatpickr-day.selected {
      background-color: #0061d9;
      color: #fff;
    }

    .flatpickr-day.today {
      background-color: #f5f5f7;
      color: #0050b2;

      &:hover {
        background-color: #f5f5f7;
        color: #0050b2;
        border: 1px solid rgba($color: #d9d9de, $alpha: 1);
      }
    }

    .flatpickr-day.today.selected.endRange {
      background-color: #0061d9;
      color: #fff;
    }

    .startRange,
    .endRange {
      border-radius: 0 !important;
      border: 1px solid #0061d9;
      box-shadow: none !important;
    }

    .inRange {
      box-shadow: none;
      background-color: #0061d9;
      color: #fff;
      border: 1px solid #0061d9;
    }
  }

  .rangeMode .flatpickr-day {
    margin-top: 0;
  }

  .flatpickr-day.today.inRange {
    box-shadow: none;
    background-color: #0061d9;
    color: #fff;
    border: 1px solid #0061d9;

    &:hover {
      box-shadow: none;
      background-color: #0061d9;
      color: #fff;
      border: 1px solid #0061d9;
    }
  }
}

.flex-wrap-topic {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
}

.map {
  min-height: 480px;
  background-color: rgba($color: #76767a, $alpha: 0.1);
  margin-bottom: 30px;

  @media (max-width: 767px) {
    min-height: 312px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.honorary-citizens-block {
  cursor: pointer;

  &:hover {
    .honorary-citizens-block__caption {
      color: #003B83;
      text-decoration: underline;
    }

    img {
      transform: scale(1.05);
      transition: transform .7s ease;
    }
  }

  * {
    pointer-events: none;
  }

  &__wrap-img {
    margin-bottom: 22px;
    max-width: 184px;
    overflow: hidden;

    @media (max-width: 767px) {
      max-width: 144px;
    }

    img {
      width: 100%;
      transition: transform .3s ease;
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 10px;
    display: block;
    transition: all 0.3s ease-in-out;

    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: rgba($color: #000000, $alpha: 0.6);
    display: block;
  }
}

.scrollbar-track.scrollbar-track-y {
  display: block !important;

  .scrollbar-thumb.scrollbar-thumb-y {
    min-height: 200px;
  }
}

.event-text {
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  display: block;

  &--change {
    margin-top: 15px;
  }
}


.animate-page {
  animation: shadow 1.5s ease-in-out;
  box-shadow: 0 -10px 15px 1px rgba(255, 255, 255, 1), 0 2px 15px 1px rgba(0, 0, 0, 0.1);
  padding-top: 50px;

  &:first-child {
    padding-top: 0;
  }

  .about-topic {
    margin-bottom: 0;
    padding-bottom: 50px;
  }

  &:first-child {
    animation: none;
  }
}


@keyframes shadow {
  0% {
    box-shadow: inset 0 100000px 0 0 rgba($color: #F5F5F7, $alpha: 0.9)
  }

  100% {
    box-shadow: inset 0 100000px 0 0 rgba($color: #F5F5F7, $alpha: 0)
  }
}

.error-text {
  font-size: 16px;
  line-height: 24px;
  color: #E52E2E;
  margin-bottom: 10px;
  display: none;
  position: relative;
  z-index: 1;
}

.errow-field {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -15px;
    top: -15px;
    bottom: -15px;
    right: -15px;
    background-color: #F5E3E3;
  }
  .accordion__caption {
    color: #000;
  }
  .accordion__up svg {
    stroke: #000;
  }
  .error-text {
    display: block;
  }
}

.radio-accordions {
  .accordion__caption,
  .accordion__title {
    position: relative;
    z-index: 1;
  }
}

.radio-accordions {
  .error-text {
    margin-bottom: 0;
  }
}

.accordion.errow-field.open-accordion {
  &::before {
    background-color: transparent;
  }
  .accordion__caption {
    color: #0050b2;
  }
  .accordion__up svg {
    stroke: #0050b2;
  }
}